<template>
	<div class="container">
    	<div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header text-center">
            <h3 class="mt-2 card-header primary-color white-text text-center py-4"><i class="fa fa-envelope"></i> Application Lists</h3>
          </div>
          <a href="/applications/create" class="btn btn-success pull-right">Add new application</a>
          <!-- Body -->
          <table id="application_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Application no.</th>
                <th>Applicant Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                <th>No.</th>
                <th>Application no.</th>
                <th>Applicant Name</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div>Hello {{name}}</div>
 		</div>
</template>

<script>
	export default {
		data(){
      return {
        users:[],
        url: '/api/applications',
        name:''
      }
    },
    created() {
      this.getUser();
    },
    mounted() {
        this.getDepartments()
    },
    methods: {
      moment() {
        return moment();
      },
      getUser() {
            axios.get('/api/user').then(response => {
                console.log(response)
            })
      },
      getDepartments(){
        $(document).ready( function () {
            $('#application_table').DataTable({
            "processing": true,
            "ordering" : true,
            "retrieve": true,
            "paging": true,
            "ajax": {
                "url": '/api/applications',
                "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                          return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "application_no",
                        "render": function (data, type, row, meta) {
                          return data
                        }
                    },
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                          return data
                        }
                    },
                    {
                        "data": "status",
                        "render": function (data, type, row, meta) {
                          return data.name
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                          return (
                            '<a href="/applications/' + data.id + '/edit" class="btn btn-sm btn-primary">Edit</a>' + ' ' +
                            '<a data-id="' + data.id + '" class="btn btn-sm btn-danger delete-user">Delete</a>'
                          )
                        }
                    }
                ]
            });
            $('#application_table').on('click','.delete-user',function (e) {
                e.preventDefault();
                var id = $(e.target).attr('data-id');
                axios({
                    method: "DELETE",
                    url: "/api/applications/"+id
                }).then(function (response) {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload();
                });
            });
        });
      }
    }
  }
</script>

