<template>
	<div class="container">
    	<div class="card">
        	<div class="card-body">
        		<div class="form-header text-center">
		            <h3 class="mt-2"><i class="fa fa-envelope"></i> Add New Application</h3>
		        </div>
		        <form class="form-horizontal" action="/users" method="post">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Application No.:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="application_no" placeholder="Enter Application Number" name="application_no" v-model="application_no"/>
							<span v-if="errors.application_no" class="text-danger">{{errors.application_no[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Applicant Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="Enter Applicant Name" name="name" v-model="name"/>
							<span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
						</div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default pull-right" v-on:click="addNewApplication()">Save</button>
							<a href="/applications" class="btn btn-success">Back</a>
					</div>
				</form>
        	</div>
        </div>		
    </div>
</template>

<script>
	export default {
		data() {
			return {
				application_no:'',
				name:'',
				status_id:'1',
				errors: []
			}
		},
		methods: {
			addNewApplication() {
				this.errors = []
				axios({
					method: "POST",
					url: "/api/applications",
					data: {
						application_no: this.application_no,
						name: this.name,
						status_id: this.status_id
					}
				}).then(response => {
					this.application_no=""
					this.name=""
					swal(
                      'Congartulations!',
                      'You successfully added new application',
                      'success'
                    )
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
				})
			}
		} 
	}
</script>