<template>
    <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">Material Design for Bootstrap</h1>

        <h5 class="animated fadeIn mb-1">Thank you for using our product. We're glad you're with us.</h5>
        <i class="fa fa-dashboard"></i>
        <p class="animated fadeIn text-muted">MDB Team</p>
        <div class="card m-5" style="width: 22rem;">
            <div class="view overlay hm-white-slight">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
