<template>
	<div class="container">
    	<div class="card">
        	<div class="card-body">
        		<div class="form-header text-center">
		            <h3 class="mt-2"><i class="fa fa-envelope"></i>User's Details</h3>
		        </div>
		        <form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" v-model="email"/>
						</div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default" v-on:click="UpdateUser()">Update</button>
							<a href="/users" class="btn btn-success pull-right">Back</a>
					</div>
				</form>
        	</div>
        </div>		
    </div>
</template>

<script>
	export default {
		props: ['id'],
		data() {
			return {
				name:'',
				email:'',
				password:''
			}
		},
		mounted() {
			axios({
				method: 'GET',
				url: '/api/users/'+this.id
			}).then(response =>{
				var user = response.data;
				this.name=user.name
				this.email=user.email
			}).catch(error =>{
				console.log(error)
			})
		},
		methods: {
			UpdateUser() {
				axios({
					method: 'PUT',
					url: '/api/users/'+this.id,
					data: {
						name: this.name,
						email: this.email
					}
				}).then(response =>{
					swal(
                      'Congartulations!',
                      'You successfully edited ' + response.data.name + ' details',
                      'success'
                    )
				}).catch(error =>{
					console.log(error)
				})
			}
		}
	}
</script>