<template>
	<div class="container">
    	<div class="card">
        	<div class="card-body">
        		<div class="form-header text-center">
		            <h3 class="mt-2"><i class="fa fa-envelope"></i> Add New User</h3>
		        </div>
		        <form class="form-horizontal" action="/users" method="post">
			        <div class="form-group">
						<label class="control-label col-sm-2" for="name">Role:</label>
						<div class="col-sm-10">
							 <select class="browser-default custom-select mb-4" v-model="role_id" id="role" name="role">
							 	<option value="">Choose option</option>
				                <option v-for="(role, i) in roles" :value='role.id' >{{role.name}}</option>
				            </select>
							<span v-if="errors.role_id" class="text-danger">{{errors.role_id[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Prefix:</label>
						<div class="col-sm-10">
							 <select class="browser-default custom-select mb-4" v-model="title_id" id="title_id" name="title_id">
				                <option value="">Choose option</option>
				                <option v-for="(title, j) in titles" :value='title.id' >{{title.prefix}}</option>
				            </select>
							<span v-if="errors.title_id" class="text-danger">{{errors.title_id[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
							<span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" v-model="email"/>
							<span v-if="errors.email" class="text-danger">{{errors.email[0]}}</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="name">Password:</label>
						<div class="col-sm-10">
							<input type="Password" class="form-control" id="password" placeholder="Enter Password" name="password" v-model="password"/>
							<span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
						</div>
					</div>
					<div class="form-group">
							<button type="button" class="btn btn-default pull-right" v-on:click="addNewUser()">Save</button>
							<a href="/users" class="btn btn-success">Back</a>
					</div>
				</form>
        	</div>
        </div>		
    </div>
</template>

<script>
	export default {
		data() {
			return {
				name:'',
				email:'',
				password:'',
				title_id:'',
				role_id:'',
				errors: [],
		        roles:[],
        		titles:[]
			}
		},
		mounted(){
			this.getRoles();
        	this.getTitles();
		},
		methods: {
			addNewUser() {
				this.errors = []
				axios({
					method: "POST",
					url: "/api/users",
					data: {
						name: this.name,
						email: this.email,
						password: this.password,
						role_id: this.role_id,
						title_id: this.title_id
					}
				}).then(response => {
					this.name=""
					this.email=""
					this.password=""
					this.role_id=""
					this.title_id=""
					swal(
                      'Congartulations!',
                      'You successfully added new user',
                      'success'
                    )
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
						console.log(error)
					}
				})
			},
		    getRoles(){
		        axios.get('/api/roles').then(response => {
		            this.roles = response.data
		        })
		    },
		    getTitles(){
		        axios.get('/api/titles').then(response => {
		            this.titles = response.data
		        })
		    }
		} 
	}
</script>