button.btn {
	margin-bottom :5px 
}


.line {
  white-space: pre-line
}

.scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
