<template>
    <body :class="token == null ? 'hold-transition skin-blue layout-top-nav' : 'hold-transition skin-blue sidebar-mini'">
        <div class="wrapper">
            <header class="main-header" v-if="token != null">
                <router-link  class="logo" :to="{ name: 'dashboardpermits' }"> 
                    <span class="logo-mini"><b>CBAO</b></span>
                    <span class="logo-lg"><b>OBPAS</b> - {{title}}</span>
                </router-link>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">{{prefix.prefix}} {{auth.name == null?auth.firstname+' '+auth.lastname:auth.name}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            {{prefix.prefix}} {{auth.name == null?auth.firstname+' '+auth.lastname:auth.name + ' - '}} {{auth.designation != null ? auth.designation.name : null }}
                                            <small>{{auth.division != null ? auth.division.name : null}}</small>
                                        </p>
                                    </li>
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <a href="#">Have a great day!</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat" v-on:click="ResetPasswordModal()">Change Password</a>
                                        </div>
                                        <div class="pull-right">
                                            <router-link :to="{ name: 'logout'}" class="btn btn-default btn-flat"></i>Sign out</router-link>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <header class="main-header" v-else>
                <nav class="navbar navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand"><i class="fa fa-building-o"></i> <b>OBPAS</b></a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><router-link :to="{ name:'home'}">Home <span class="sr-only">(current)</span></router-link></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li><router-link :to="{ name:'login'}">Login</router-link></li>
                                <li><router-link :to="{ name:'register'}">Register</router-link></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar" v-if="token != null">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{{prefix.prefix}} {{auth.name == null?auth.firstname+' '+auth.lastname:auth.name}}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="header">MAIN NAVIGATION</li>
                        <li v-if="role != 11" class="active treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                            </a>
                            <ul class="treeview-menu">
                                <li v-if="division == 1 || division == 2"><router-link :to="{ name:'dashboardpermits'}"><i class="fa fa-circle-o"></i> Building/Occupancy Permit</router-link></li>
                                <li v-if="division == 1 || division == 3"><router-link :to="{ name:'dashboardprojects'}"><i class="fa fa-circle-o"></i> Projects/Job Orders</router-link></li>
                            </ul>
                        </li>
                        <li v-if="division == 1 || division == 2" class="header">Building/Occupancy Permit</li>
                        <li v-if="division == 1 || division == 2" class="treeview active">
                            <a href="#">
                                <i class="fa fa-building-o"></i> <span>Building/Occupancy</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li v-if="role == 2 && division == 2"><router-link :to="{ name:'pendings'}"><i class="fa fa-hourglass-start text-blue"></i> <span>Pending Applications</span></router-link></li>
                                <li v-if="role == 1 || role == 2 && division == 2"><router-link :to="{ name:'new-application'}"><i class="fa fa-plus text-green"></i><span>Add New</span></router-link></li>
                                <li v-if="role == 1 || role == 2 && division == 2" ><router-link :to="{ name:'applications'}"><i class="fa fa-list text-maroon"></i> <span>List of Applications</span></router-link></li>
                                <li v-if="role == 3 && division == 2"><router-link :to="{ name:'applicationevaluation'}"><i class="fa fa-circle-o text-yellow"></i> <span>Under Evaluation</span></router-link></li>
                                <li v-if="role == 1 || role == 2 && division == 2"><router-link :to="{ name:'applicationsorting'}"><i class="fa fa-circle-o text-purple"></i> <span>For sorting</span></router-link></li>
                                <li v-if="role == 1 || role == 5 || role == 6 && division == 2"><router-link :to="{ name:'applicationapproval'}"><i class="fa fa-circle-o text-light-blue"></i> <span>For Approval</span></router-link></li>
                                <li v-if="role == 1 || role == 6 && division == 2"><router-link :to="{ name:'applicationapproved'}"><i class="fa fa-circle-o text-green"></i> <span>Approved</span></router-link></li>
                                <li v-if="role == 1 || role == 6 && division == 2"><router-link :to="{ name:'applicationreleased'}"><i class="fa fa-circle-o text-orange"></i> <span>Released</span></router-link></li>
                                <li v-if="role == 4 || role == 10 && division == 2"><router-link :to="{ name:'applicationcompliance'}"><i class="fa fa-circle-o text-red"></i> <span>For Compliance</span></router-link></li>
                            </ul>
                        </li>
                        <li v-if="division == 1 || division == 3" class="header">Job Orders</li>
                        <li v-if="division == 1 || division == 3" class="treeview">
                            <a href="#">
                                <i class="fa fa-building-o"></i> <span>Job Orders</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li v-if="role == 1 || role == 2 && division == 3 "><router-link :to="{ name:'new-project'}"><i class="fa fa-plus text-green"></i><span>Add New</span></router-link></li>
                                <li v-if="role == 1 || role == 2 && division == 3 "><router-link :to="{ name:'projects'}"><i class="fa fa-list text-maroon"></i> <span>All Projects</span></router-link></li>
                                <li v-if="role == 1 || role == 3 && division == 3 || role == 2 && division == 3"><router-link :to="{ name:'projectevaluation'}"><i class="fa fa-circle-o text-yellow"></i> <span>Under Evaluation</span></router-link></li>
                                <li v-if="role == 1 || role == 6 && division == 3 "><router-link :to="{ name:'applicationapproved'}"><i class="fa fa-circle-o text-green"></i> <span>Approved</span></router-link></li>
                                <li v-if="role == 1 || role == 6 && division == 3 "><router-link :to="{ name:'applicationreleased'}"><i class="fa fa-circle-o text-orange"></i> <span>Released</span></router-link></li>
                            </ul>
                        </li>
                        <li v-if="role==11" class="treeview active">
                            <a href="#">
                                <i class="fa fa-building-o"></i> <span>Dashboard</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" v-if="role == 11">
                                <li><router-link :to="{ name:'client'}"><i class="fa fa-plus text-green"></i><span>New Application</span></router-link></li>
                                <li><router-link :to="{ name:'applicanttable'}"><i class="fa fa-list text-info"></i><span>To be submitted</span></router-link></li>
                                <li><router-link :to="{ name:'applicanttable'}"><i class="fa fa-list text-info"></i><span>Pending</span></router-link></li>
                                <li><router-link :to="{ name:'applicanttable'}"><i class="fa fa-list text-info"></i><span>Ongoing</span></router-link></li>
                                <li><router-link :to="{ name:'applicanttable'}"><i class="fa fa-list text-info"></i><span>For Payment</span></router-link></li>
                                <li><router-link :to="{ name:'applicanttable'}"><i class="fa fa-list text-info"></i><span>Completed</span></router-link></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                <router-view 
                    :auth="auth"
                    :prefix="prefix"
                ></router-view>
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                  <b>Beta-Version</b>
                </div>
                <strong>Copyright &copy; 2020 <a href="http://www.baguio.gov.ph">City Government of Baguio</a>.</strong> All rights reserved.
            </footer>
            <!-- Modal -->
            <div class="modal fade" id="modalAuthForm">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Change Password</h4>
                        </div>
                        <div class="modal-body">
                             <div class="form-group">
                                <label for="new-password">New Password:</label>
                                <input type="password" class="form-control" id="new-password" placeholder="Enter new password" name="password" v-model="password">
                                <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password:</label>
                                <input type="password" class="form-control" id="password_confirm" placeholder="Confirm password" name="password_confirmation" v-model="password_confirmation">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"  v-on:click="UpdatePassword()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>
<script>
    export default {
        props: ['id'],
        data(){
            return {
                title:'CBAO',
                users:[],
                menus:[],
                auth:[],
                prefix:[],
                datenow:'',
                application_no:'',
                name:'',
                type_id:'',
                building_id:'',
                barangay_id:'',
                location:'',

                job_order_no:'',
                client:'',
                date_time:'',
                title:'',

                password:'',
                password_confirmation:'',
                official_id:'',
                status_id:'9',
                errors: [],

                role: role,
                token:token,
                division: division,

                noAuthMenu:[
                    {name:'Login', route:'login'},
                ],
                authMenuAdmin:[
                    {name:'Users', route:'user'},
                    {name:'Applications', route:'application'},
                    {name:'Projects', route:'dashboardprojects'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuBuilding:[
                    {name:'Applications', route:'application'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuProject:[
                    {name:'Projects', route:'dashboardprojects'},
                    {name:"Logout", route:"logout"}
                ]
            }
        },
        methods: {
            moment(date){
                return moment(date);
            }, 

            ResetPasswordModal(){
                $('#modalAuthForm').modal('show');
            },
            onLoggedIn() {
                if(role == 1){
                    this.menus=this.authMenuAdmin;    
                } else if(division == 2){
                    this.menus=this.authMenuBuilding;
                } else {
                    this.menus=this.authMenuProject;
                }
            },
            onLogout(){
                this.menus=this.noAuthMenu;
            },
            getAuth(){
                axios.get('/api/auth').then(response => {
                    this.auth = response.data
                    this.prefix = response.data.title == null?'':response.data.title
                    this.title = response.data.role.name
                })
            },
            addNewProject() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/projects",
                    data: {
                        job_order_no: this.job_order_no,
                        client: this.client,
                        status_id: this.status_id,
                        title: this.title,
                        official_id: this.auth.id,
                        date_time: this.date_time,
                    }
                }).then(response => {
                    this.job_order_no=""
                    this.client=""
                    this.date_time=""
                    axios({
                        method: 'POST',
                        url: '/api/project/trackings',
                        data: {
                            project_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new project',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#project_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            addNewApplication() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/applications",
                    data: {
                        application_no: this.type_id + ' ' + this.application_no,
                        name: this.name,
                        type_id: this.type_id,
                        status_id: this.status_id,
                        official_id: this.auth.id,
                        location: this.location,
                        building_id: this.building_id,
                        barangay_id: this.barangay_id,
                    }
                }).then(response => {
                    this.application_no=""
                    this.name=""
                    this.type_id=""
                    this.location=""
                    this.building_id=""
                    this.barangay_id=""
                    axios({
                        method: 'POST',
                        url: '/api/trackings',
                        data: {
                            application_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new application',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#application_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            UpdatePassword() {
                axios({
                    method: 'PATCH',
                    url: '/api/updatepw/',
                    data: {
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                    }
                }).then(response =>{
                    var data = response.data
                    swal(
                        data.name,
                        'Your password successfuly change',
                        'success'
                    )
                }).catch(error =>{
                    console.log(error)
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            } 
        },  
        mounted(){
            if(token){
                this.onLoggedIn();
                this.getAuth();
            }
            $(document).ready( function () {
                setInterval( function () {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );

                setInterval( function () {
                    var table = $('#project_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );
            }); 
        },
        created() {
            this.menus=this.noAuthMenu;

            Bus.$on('loggedIn', ()=> {
                this.onLoggedIn();
            });

            Bus.$on('logout', ()=> {
                this.onLogout();
            });
        },
    }
</script>