<template>
    <section class="content">
        <section class="content-header">
            <h1>
                All Applications
                <small>Table Lists</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardpermits'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'applications'}">All Applications</router-link></li>
            </ol>
        </section>
        <section class="content">
                <div class="box box-primary scrollable">
                    <div class="box-header">
                        <h3 class="box-title">All Applications</h3>
                    </div>
                    <div class="box-body ">
                         <table id="application_table" ref="application_table" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Application_Date</th>
                                    <th>Application No.</th>
                                    <th>Type</th>
                                    <th>Applicant Name</th>
                                    <th>Status</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Application_Date</th>
                                    <th>Application No.</th>
                                    <th>Type</th>
                                    <th>Applicant Name</th>
                                    <th>Status</th>
                                    <th>Designation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </section>
    </section>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            url: '/api/applications',
            types:[],
            datenow:'',
            buildings:[],
            barangays:[],
            application_no:'',
            contact_no:'',
            representative:'',
            name:'',
            status_id:'9',
            type_id:'',
            building_id:'',
            barangay_id:'',
            official_id:'',
            location:'',
            errors: [],
            password:'',
            password_confirmation:'',
            role: role,
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
    },
    created(){
        this.getApplications();
    },
    methods: {
        moment() {
            return moment();
        },
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
        getApplications(){
            $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "responsive": false,
                    "columnDefs": [{
                        "targets": [4],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        }, 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 4)
                            {
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.header()).empty())
                                        .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column.search(val ? '^'+val+'$' : '', true, false)
                                            .draw();
                                    });
                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/applications',
                        "type": "GET",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary btn">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                if(data.status_id == 7){
                                    return (
                                        ''
                                    )
                                } else if(data.status_id == 8) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-warning px-3 receive-application">Receive</a>'
                                    )
                                } else {
                                     return (
                                        data.user == null ? null : data.user.name
                                    )
                                }
                            }
                        },
                    ]
                });
                $('#application_table').on('click','.receive-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the application!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/applications/'+id,
                            }).then((response) => {
                                var application = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/applications/'+id,
                                    data: {
                                        application_no: application.application_no,
                                        name: application.name,
                                        type_id: application.type_id,
                                        contact_no: application.contact_no,
                                        representative: application.representative,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        status_id: 9,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.application_no,
                                        'The application has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/trackings',
                                        data: {
                                            application_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(application_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  