<template>
	<div class="card my-5 card-index">
		<h5 class="card-header indigo white-text text-center py-4">
			<strong>{{name}} details</strong>
		</h5>
		<br/>
		<div class="card-body px-lg-5 pt-0">
	        <form class="form-horizontal" action="/applications" method="post">
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Application No.:</label>
					<div class="col-sm-12">
						<input type="text" class="form-control" id="application_no" placeholder="Enter Application Number" name="application_no" v-model="application_no"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Applicant Name:</label>
					<div class="col-sm-12">
						<input type="text" class="form-control" id="name" placeholder="Enter Applicant Name" name="name" v-model="name"/>
					</div>
				</div>
				<div class="form-group">
						<button type="button" class="btn btn-default" v-on:click="UpdateApplication()">Update</button>
						<router-link  class="btn btn-primary" :to="{ name: 'application' }">Back</router-link>
				</div>
			</form>
    	</div>
    </div>		
</template>

<script>
	export default {
		props: ['id'],
		data() {
			return {
				application_no:'',
				name:''
			}
		},
		mounted() {
			axios({
				method: 'GET',
				url: '/api/applications/'+this.id
			}).then(response =>{
				var application = response.data;
				console.log(application)
				this.application_no=application.application_no
				this.name=application.name

			}).catch(error =>{
				console.log(error)
			})
		},
		methods: {
			UpdateApplication() {
				axios({
					method: 'PUT',
					url: '/api/applications/'+this.id,
					data: {
						application_no: this.application_no,
						name: this.name,
					}
				}).then(response =>{
					swal(
                      'Congratulations!',
                      'You successfully edited application ' + response.data.application_no,
                      'success'
                    )
				}).catch(error =>{
					console.log(error)
				})
			}
		}
	}
</script>