<template>
        <div class="container mt-5">
            <section class="animated slideInRight">
                <div class="row text-left">
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-success">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-search fa-5x my-5 font-weight-bold d-flex justify-content-center"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Track Application</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                             <router-link :to="{ name: 'buildingpermits' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-warning">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-building-o fa-5x my-5 font-weight-bold d-flex justify-content-center"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Building Permit</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                             <router-link :to="{ name: 'buildingpermits' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                    </div>
<!--End column 1-->
<!--Start column 2-->
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-success">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-home fa-5x my-5 font-weight-bold d-flex"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Occupancy Permit</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <router-link :to="{ name: 'joborders' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-default">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-question-circle fa-5x my-5 font-weight-bold d-flex justify-content-center"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Other Permit</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                             <router-link :to="{ name: 'buildingpermits' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</template>

<script>
    export default {
        
    }
</script>
