<template>
    <div>
        <section class="content-header">
            <h1>
                 Masterlist
                <small>Control panel</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box scrollable">
                        <div class="box-header">
                            <h3 class="box-title">Health Declaration List</h3>
                        </div>
                        <div class="box-body">
                            <button id="btn" class="btn btn-danger" v-on:click="DeleteList()"><i class="fa fa-trash"></i></button>
                            <table id="client_list" data-toggle="table"></table>
                             <button id="btn" class="btn btn-danger" v-on:click="DeleteList()"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            
        }
    },
    mounted(){
    },
    created(){
        this.getStalls();
    },
    methods: {
        moment() {
            return moment();
        },
        getStalls(){
                $(document).ready( function () {
                    $('#client_list').bootstrapTable({
                        pagination:true,
                        exportTypes: ['csv','excel'],
                        search: true,
                        url:'/api/applicants/'+user,
                        method:'POST',
                        pagination: true,
                        showRefresh: true,
                        showColumns: true,
                        showToggle:true,
                        showExport:true,
                        filterControl:true,
                        pageList:[10, 25, 50, 100, 200, 'All'],
                        columns: [
                           {    
                                field: 'state',
                                checkbox: true,
                                btSelectItem: 'id',
                            },
                            {    
                                field: 'tracking_id',
                                title: 'Tracking#',
                                filterControl:'input',
                            },
                            {    
                                field: 'firstname',
                                title: 'Applicant/Owner',
                                sortable: true,
                                formatter: Applicant,
                                filterControl:'input',
                            },
                            {    
                                field: 'type_occupancy',
                                title: 'Occupancy',
                                sortable: true,
                                filterControl:'input',
                            },
                            
                        ],
                    })
                    $('#client_list').on('click-row.bs.table', function (e, row, $element) {
                        // this.$router.push('/client/applications/'+row.tracking_id);
                        this.$router.push('/client/buildingpermit/'+row.tracking_id);
                    }.bind(this))

                    function Applicant(value, row, index) {
                        var last_name = row.last_name;
                        var first_name = row.first_name;
                        var middle_name = row.middle_name == null?'':row.middle_name;
                        return last_name +', '+first_name+ ' '+middle_name
                    }
                }.bind(this));
            },
            DeleteList(){
                swal({
                    title: 'Are you sure?',
                    text: "This data will be deleted!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        $(document).ready( function () {
                            var ids = $.map($('#client_list').bootstrapTable('getSelections'), function (row) {
                                return row.id
                            })
                            $('#client_list').bootstrapTable('remove', {
                                field: 'id',
                                values: ids
                            })
                            axios({
                                method: "delete",
                                url: "/api/deletelist",
                                data: {
                                   id:ids
                                }
                            }).then(response => {
                                alert('delete')
                            }).catch(error => {
                                console.log(error)
                            })
                        })
                    }
                }) 
            }
        }
    }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  