<template>
    <section class="content">
        <div class="box box-primary">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-header with-border">
                        <h3 class="box-title">Building Application's Details</h3>
                    </div>
                    <form role="form">
	                    <div class="box-body">
	                    	<label class="text-danger">Important: All fields with * are required</label>
	                    	<br/>
	                    	<div class="bg-green text-center">
	                    		<label for="last_name" class="control-label bg-green">Owner/Applicant Details</label>
	                    	</div>
	                        <div class="row">
	                        	<div class="col-md-4">
	                             	<div class="form-group">
	                                    <label for="last_name"><label class="text-danger">*</label> Last Name</label>
	                                    <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name" v-model="last_name"/>
	                                    <span v-if="errors.last_name" class="text-danger">{{errors.last_name[0]}}</span>
	                                </div>
	                            </div>
	                            <div class="col-md-4">
	                            	<div class="form-group">
	                                    <label for="first_name"><label class="text-danger">*</label> First Name</label>
	                                    <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name" v-model="first_name"/>
	                                    <span v-if="errors.first_name" class="text-danger">{{errors.first_name[0]}}</span>
	                                </div>
	                            </div>
	                             <div class="col-md-4">
	                             	<div class="form-group">
	                                    <label for="middle_name"><label class="text-danger">*</label> Middle Name</label>
	                                    <input type="text" class="form-control" id="middle_name" placeholder="Enter middle name" name="middle_name" v-model="middle_name"/>
	                                    <span v-if="errors.middle_name" class="text-danger">{{errors.middle_name[0]}}</span>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                        	<div class="row">
	                                <div class="col-md-12">
	                            		<div class="form-group">
	                                        <label for="tin"><label class="text-danger">*</label> TIN</label>
	                                        <input type="text" class="form-control" id="tin" placeholder="Enter TIN" name="tin" v-model="tin"/>
	                                        <span v-if="errors.tin" class="text-danger">{{errors.tin[0]}}</span>
	                                    </div>
	                                </div> 
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="home_address"><label class="text-danger">*</label> Home Address (House # and Street)</label>
	                                    <input type="text" class="form-control" id="home_address" placeholder="Enter home address" name="home_address" v-model="home_address"/>
	                                    <span v-if="errors.home_address" class="text-danger">{{errors.home_address[0]}}</span>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <label for="barangay_id"><label class="text-danger">*</label> Choose Barangay</label>
	                                <select  class="form-control" v-model="barangay_id" id="barangay_id" name="barangay_id">
	                                    <option value="">Select</option>
	                                    <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
	                                </select>
	                                <span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="contact_no"><label class="text-danger">*</label> Telephone/Cellphone Number</label>
	                                    <input type="text" class="form-control" id="contact_no" placeholder="Enter telephone/cellphone number" name="contact_no" v-model="contact_no"/>
	                                    <span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
	                                </div>
	                            </div>
	                           	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="email_address"><label class="text-danger">*</label> Email Address</label>
	                                    <input type="text" class="form-control" id="email_address" placeholder="Enter email address" name="email_address" v-model="email_address"/>
	                                    <span v-if="errors.email_address" class="text-danger">{{errors.email_address[0]}}</span>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-4">
	                        		<div class="form-group">
	                                    <label for="ctc_no"><label class="text-danger">*</label> CTC Number</label>
	                                    <input type="text" class="form-control" id="ctc_no" placeholder="Enter CTC number" name="ctc_no" v-model="ctc_no"/>
	                                    <span v-if="errors.ctc_no" class="text-danger">{{errors.ctc_no[0]}}</span>
	                                </div>
	                            </div>
	                            <div class="col-md-4">
	                                <label for="ctc_date_issued"><label class="text-danger">*</label> Date Issued</label>
	                                <input type="date" class="form-control" id="ctc_date_issued" placeholder="Enter CTC number" name="ctc_date_issued" v-model="ctc_date_issued"/>
	                                <span v-if="errors.ctc_date_issued" class="text-danger">{{errors.ctc_date_issued[0]}}</span>
	                            </div>
	                            <div class="col-md-4">
	                                <label for="place_ctc_issued"><label class="text-danger">*</label> Place Issued</label>
	                                <input type="text" class="form-control" id="place_ctc_issued" placeholder="Enter CTC number" name="place_ctc_issued" v-model="place_ctc_issued"/>
	                                <span v-if="errors.place_ctc_issued" class="text-danger">{{errors.place_ctc_issued[0]}}</span>
	                            </div>
	                        </div>
	                        <br/>
	                        <div class="bg-green text-center">
	                        	<label for="last_name" class="control-label bg-green">Construction Details</label>
	                       	</div>
	                        <div class="row">
	                        	<div class="col-md-3">
	                        		<div class="form-group">
	                        			<input type="checkbox"  id="enterprise" name="enterprise" v-model="enterprise"/> <label for="enterprise">Construction Owned by an Enterprise?</label>
	                        		</div>
	                        	</div>
	                        	<div class="col-md-9" v-if="enterprise == true">
	                            	<div class="col-md-6">
	                            		<div class="form-group">
		                                    <label for="form_ownership">Form of Ownership</label>
		                                    <input type="text" class="form-control" id="form_ownership" placeholder="Enter form of ownership" name="form_ownership" v-model="form_ownership"/>
		                                    <span v-if="errors.form_ownership" class="text-danger">{{errors.form_ownership[0]}}</span>
		                                </div>
		                            </div>
		                            <div class="col-md-6">
	                            		<div class="form-group">
		                                    <label for="kind_activity">Main Economic Activity/Kind of Business</label>
		                                    <input type="text" class="form-control" id="kind_activity" placeholder="Enter main economic activity/Kind of Business" name="kind_activity" v-model="kind_activity"/>
		                                    <span v-if="errors.kind_activity" class="text-danger">{{errors.kind_activity[0]}}</span>
		                                </div>
		                            </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="location_blk_street"><label class="text-danger">*</label> Location of Construction (Block # and Street)</label>
	                                    <input type="text" class="form-control" id="location_blk_street" placeholder="Enter location of construction" name="location_blk_street" v-model="location_blk_street"/>
	                                    <span v-if="errors.location_blk_street" class="text-danger">{{errors.location_blk_street[0]}}</span>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <label for="location_barangay"><label class="text-danger">*</label> Location's Barangay</label>
	                                <select  class="form-control" v-model="location_barangay" id="location_barangay" name="location_barangay">
	                                    <option value="">Select</option>
	                                    <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
	                                </select>
	                                <span v-if="errors.location_barangay" class="text-danger">{{errors.location_barangay[0]}}</span>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="location_tct_no">Location's TCT Number</label>
	                                    <input type="text" class="form-control" id="location_tct_no" placeholder="Enter TCT number" name="location_tct_no" v-model="location_tct_no"/>
	                                    <span v-if="errors.location_tct_no" class="text-danger">{{errors.location_tct_no[0]}}</span>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <label for="location_tax_dec_no"><label class="text-danger">*</label> Location's Tax Declaration Number</label>
	                               <input type="text" class="form-control" id="location_tax_dec_no" placeholder="Enter tax declaration number" name="location_tax_dec_no" v-model="location_tax_dec_no"/>
	                                    <span v-if="errors.location_tax_dec_no" class="text-danger">{{errors.location_tax_dec_no[0]}}</span>
	                            </div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="type_occupancy"><label class="text-danger">*</label> Type of Occupancy</label>
	                                    <select  class="form-control" v-model="type_occupancy" id="type_occupancy" name="type_occupancy">
		                                    <option value="">Select</option>
		                                    <option value="1">Residential</option>
		                                    <option value="2">Commercial</option>
		                                    <option value="3">Industrial</option>
		                                    <option value="4">Institutional</option>
		                                    <option value="5">Agricultural</option>
		                                    <option value="6">Street Furniture, Landscaping and Signboards</option>
		                                    <option value="7">Other Type of Occupancy</option>
		                                </select>
		                                <input type="text" class="form-control" id="other_type" placeholder="Enter other type" name="other_type" v-model="other_type" v-if="type_occupancy == 7"/>
		                                <span v-if="errors.type_occupancy" class="text-danger">{{errors.type_occupancy[0]}}</span>
	                                </div>
	                            </div>
	                        	<div class="col-md-6">
	                        		<div class="form-group">
	                                    <label for="representative">Representative name (to submit, follow-up, and receive approved permits)</label>
	                                    <input type="text" class="form-control" id="representative" placeholder="Enter representative name" name="representative" v-model="representative"/>
	                                    <span v-if="errors.representative" class="text-danger">{{errors.representative[0]}}</span>
	                                </div>
	                            </div>
	                        </div>
	                        <br/>
	                        <div class="row">
	                        	<div class="col-md-6">
		    						<div class="form-group">
		    							<label><label class="text-danger">*</label> Scope of Work </label>
		    						</div>
		    					</div>
	    					</div>
	    					<div class="row">
	                        	<div class="col-md-3">
		    						<div class="form-group">
	                        			<input type="checkbox"  id="new_construction" name="new_construction" v-model="new_construction"/> <label for="new_construction">New Construction</label>
	                        		</div>
		    					</div>
		    					<div class="col-md-3">
		    						<div class="form-group">
	                        			<input type="checkbox"  id="addition" name="addition" v-model="addition"/> <label for="addition">Addition of</label>
	                        			<input type="text" class="form-control" id="additional_of" placeholder="Enter additional description" name="additional_of" v-model="additional_of" v-if="addition == true"/>
	                        		</div>
		    					</div>
		    					<div class="col-md-3">
		    						<div class="form-group">
	                        			<input type="checkbox"  id="repair" name="repair" v-model="repair"/> <label for="repair">Repair of</label>
	                        			<input type="text" class="form-control" id="repair_of" placeholder="Enter repair description" name="repair_of" v-model="repair_of" v-if="repair == true"/>
	                        		</div>
		    					</div>
		    					<div class="col-md-3">
		    						<div class="form-group">
	                        			<input type="checkbox"  id="renovation" name="renovation" v-model="renovation"/> <label for="renovation">Renovation of</label>
	                        			<input type="text" class="form-control" id="renovation_of" placeholder="Enter renovation description" name="renovation_of" v-model="renovation_of" v-if="renovation == true"/>
	                        		</div>
		    					</div>
	    					</div>
	    					<div class="row">
	    						<div class="col-md-3">
		    						<div class="form-group">
	                        			<input type="checkbox"  id="demolition" name="demolition" v-model="demolition"/> <label for="demolition">Demolition of</label>
	                        			<input type="text" class="form-control" id="demolition_of" placeholder="Enter demolition description" name="demolition_of" v-model="demolition_of" v-if="demolition == true"/>
	                        		</div>
		    					</div>
		    					<div class="col-md-3 pull-left">
	                    			<label for="number_units" class="col-sm-6 control-label"><label class="text-danger">*</label> No. of Units</label>
	                    			<div class="col-sm-6 ">
	                                    <input type="text" class="form-control" id="number_units" placeholder="No. of units" name="number_units" v-model="number_units"/>
	                                    <span v-if="errors.number_units" class="text-danger">{{errors.number_units[0]}}</span>
	                                </div>
		    					</div>
	    					</div>
						</div>
	                    <div class="box-footer">
	                        <button type="button" class="btn btn-primary pull-right" v-on:click="Submit()" id="btnSubmit">Submit</button>
	                    </div>
	                </form>
                </div>                      
            </div>
        </div>
    </section>  
</template>

<script>
	export default {
		props: ['auth'],
		data() {
			return {
				user_id:'',
				tracking_id:'',
				first_name:'',
				middle_name:'',
				last_name:'',
				tin:'',
				enterprise:'',
				form_ownership:'',
				kind_activity:'',
				barangay_id:'',
				city:'Baguio City',
				zip_code:'2600',
				contact_no:'',
		        email_address:'',
        		home_address:'',
        		location_blk_street:'',
        		location_tct_no:'',
        		location_tax_dec_no:'',
        		location_barangay:'',
        		representative:'',
        		new_construction:'',
        		addition:'',
        		repair:'',
        		renovation:'',
        		demolition:'',
        		additional_of:'',
        		repair_of:'',
        		renovation_of:'',
        		demolition_of:'',
        		number_units:'',
        		type_occupancy:'',
        		other_type:'',
        		ctc_no:'',
        		ctc_date_issued:'',
        		place_ctc_issued:'',
        		errors: [],
        		barangays:[],
			}
		},
		mounted(){
        	this.getBarangays();
        	this.getAuth();
		},
		watch: {
		    auth: [{
		      handler: 'getAuth'
		    }]
		},
		methods: {
			getAuth(){
                axios.get('/api/auth').then(response => {
                    var data = response.data
			      	this.first_name=data.firstname
					this.middle_name=data.middlename
					this.last_name=data.lastname
					this.home_address=data.home_address
					this.barangay_id=data.barangay_id
					this.contact_no=data.contact_no
					this.email_address=data.email
					this.user_id=data.id
                })
            },
			Submit() {
				$("#btnSubmit").html("<div class='overlay'><i class='fa fa-refresh fa-spin'></i></div> Saving ...").attr("disabled", true);
				this.errors = []
				axios({
					method: "POST",
					url: "/api/applicants",
					data: {
						user_id:this.user_id,
						tracking_id:Date.now(),
						first_name:this.first_name,
						middle_name:this.middle_name,
						last_name:this.last_name,
						tin:this.tin,
						enterprise:this.enterprise,
						form_ownership:this.form_ownership,
						kind_activity:this.kind_activity,
						barangay_id:this.barangay_id,
						city:this.city,
						zip_code:this.zip_code,
						contact_no:this.contact_no,
						email_address:this.email_address,
						home_address:this.home_address,
						location_blk_street:this.location_blk_street,
						location_tct_no:this.location_tct_no,
						location_tax_dec_no:this.location_tax_dec_no,
						location_barangay:this.location_barangay,
						representative:this.representative,
						type_occupancy:this.type_occupancy,
						other_type:this.other_type,
						number_units:this.number_units,
						new_construction:this.new_construction,
						additional_of:this.additional_of,
						renovation_of:this.renovation_of,
						demolition_of:this.demolition_of,
						repair_of:this.repair_of,
						ctc_no:this.ctc_no,
						ctc_date_issued:this.ctc_date_issued,
						place_ctc_issued:this.place_ctc_issued
					}
				}).then(response => {
					var data=response.data
					this.$router.push('/client/applications/'+data.tracking_id);
                    $("#btnSubmit").html("Submit").attr("disabled", false);
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
						console.log(error)
					}
					$("#btnSubmit").html("<i class='fa fa-times'></i> Check fields and click this again!").attr("disabled", false);
				})
			},
		    getBarangays(){
	            axios.get('/api/barangays').then(response => {
	                this.barangays = response.data
	            })
	        },
		} 
	}
</script>