<template>
    <section class="content">
        <div class="box box-primary">
            <div class="row">
                <div class="col-md-12">
                   <!--  <div class="box-header with-border">
                        <h3 class="box-title">Building Permit Checklists</h3>
                    </div>
                    <form class="form-horizontal">
              			<div class="box-body">
		                   	<div class="box-body">
				                <div class="form-group pull-left">
				                  	<label for="inputEmail3" class="col-sm-10 control-label">Requirement & Processing Evaluation Checklist</label>
				                  	<div class="col-sm-2">
				                    	<input type="file" id="exampleInputFile">
				                  	</div>
				                </div>
		                   	</div>
		                   	
		                    <div class="box-footer">
		                        <button type="button" class="btn btn-primary pull-right" v-on:click="Submit()" id="btnSubmit">Submit</button>
		                    </div>
		                </div>
	                </form> -->
	                <div class="box box-solid">
					    <div class="box-header with-border">
					        <h3 class="box-title">Requirement & Processing Evaluation Checklist</h3>
					        <br/>
					        <strong class="text-danger">Important: Files must be in pdf format</strong>
					    </div>
					    <div class="box-body no-padding">
					        <ul class="nav nav-pills nav-stacked">
					            <li>
					                <a>
					                	I. Applicant (Choose one A or B)
					                </a>
					                <ol type="A">
					                	<li>Is the registered owner of the lot?
					                		<ol type="a">
					                			<li>Certified True Copy of Title (updated for not more than 6 months), or Copy of Award w/ Approved Surveyed Plan. 
					                				<input type="file" id="copy_title" ref="copy_title" multiple v-on:change="handleFilesUpload()">
											        <button type="button" class="btn btn-primary btn-xs" v-on:click="submitRegister()" id="btnRegister" v-if="copy_title.length > 0">Upload
											        </button>
											        <p>
											        	<label :key="'a'+i" v-for="(register, i) in registers"><a href="#" v-on:click="removeRegister(register.id)" class="text-red"><i class="fa fa-times"></i></a>
											        	<a :data-target="'#'+register.id+register.file" data-toggle="modal">{{register.filename}}</a> |</label>
											        </p>
											        <span v-if="errors.copy_title" class="text-danger">{{errors.copy_title[0]}}</span>
					                			</li>
					                			<li>Surveyed Plan signed and sealed by Geodetic Engineer. 
					                				<input type="file" id="survey_plan" ref="survey_plan" multiple v-on:change="handleFilesUpload()">
					                				<button type="button" class="btn btn-primary btn-xs" v-on:click="submitSurvey()" id="btnSurvey" v-if="survey_plan.length > 0">Upload
					                				</button>
					                				<p>
											        	<label :key="'a'+i" v-for="(survey, i) in surveys"><a href="#" v-on:click="removeRegister(survey.id)" class="text-red"><i class="fa fa-times"></i></a>
											        	<a :data-target="'#'+survey.id+survey.file" data-toggle="modal">{{survey.filename}}</a> |</label>
											        </p>
											        <span v-if="errors.survey_plan" class="text-danger">{{errors.survey_plan[0]}}</span>
					                			</li>
					                		</ol>
					                	</li>
					                	<li>Is not the registered owner of lot (For commercial specifically tenants)
					                		<ol type="a">
					                			<li>Certified Copy of Contract of Lease or Absolute Deed of Sale, or Conditional Deed of Sale, or Certified Copy of Authority to construct on the subject property. 
					                				<input type="file" id="cert_copy" ref="cert_copy" multiple v-on:change="handleFilesUpload()">
					                				<button type="button" class="btn btn-primary btn-xs" v-on:click="submitNotRegister()" id="btnNotRegister" v-if="cert_copy.length > 0">Upload
					                				</button>
					                				<p>
											        	<label :key="'a'+i" v-for="(notregister, i) in notregisters"><a href="#" v-on:click="removeRegister(notregister.id)" class="text-red"><i class="fa fa-times"></i></a>
											        	<a :data-target="'#'+notregister.id+notregister.file" data-toggle="modal">{{notregister.filename}}</a> |</label>
											        </p>
											        <span v-if="errors.cert_copy" class="text-danger">{{errors.cert_copy[0]}}</span>
					                			</li>
					                		</ol>
					                	</li>
					                </ol>
					            </li>
					            <li>
					                <a>
					                	II. Tax Declaration from City Assessor’s Office with documentary stamp
					                	<input type="file" id="tax_dec" ref="tax_dec" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitTaxDec()" id="btnTaxDec" v-if="tax_dec.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(taxdec, i) in taxdecs"><a href="#" v-on:click="removeRegister(taxdec.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+taxdec.id+taxdec.file" data-toggle="modal">{{taxdec.filename}}</a> |</label>
								        </p>
										<span v-if="errors.tax_dec" class="text-danger">{{errors.tax_dec[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	III. Latest quarter of the real property tax receipt, or Certificate of Non-Tax Delinquency w/ documentary stamp from City Treasurer’s Office
					                	<input type="file" id="tax_receipt" ref="tax_receipt" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitLatestQrt()" id="btnLatestQrt" v-if="tax_receipt.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(latestqrt, i) in latestqrts"><a href="#" v-on:click="removeRegister(latestqrt.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+latestqrt.id+latestqrt.file" data-toggle="modal">{{latestqrt.filename}}</a> |</label>
								        </p>
										<span v-if="errors.tax_receipt" class="text-danger">{{errors.tax_receipt[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	IV. Clear latest picture of site/area (taken at least a week before application)
					                	<input type="file" id="site_picture" ref="site_picture" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitLatestPic()" id="btnLatestPic" v-if="site_picture.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(latestpic, i) in latestpics"><a href="#" v-on:click="removeRegister(latestpic.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+latestpic.id+latestpic.file" data-toggle="modal">{{latestpic.filename}}</a> |</label>
								        </p>
										<span v-if="errors.site_picture" class="text-danger">{{errors.site_picture[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	V. Duly accomplished Building Permit Forms[Building Permit, Sanitary, 	Electrical, Mechanical, Electronic, Architectural, and Structural Forms(5 copies each)]
					                	<input type="file" id="permit_form" ref="permit_form" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitBuildingForm()" id="btnBuidingForm" v-if="permit_form.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(buildingform, i) in buildingforms"><a href="#" v-on:click="removeRegister(buildingform.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+buildingform.id+buildingform.file" data-toggle="modal">{{buildingform.filename}}</a> |</label>
								        </p>
										<span v-if="errors.permit_form" class="text-danger">{{errors.permit_form[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	VI. Building Plans (to be signed by applicant/owner) 
					                	<input type="file" id="building_plan" ref="building_plan" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitBuildingPlan()" id="btnBuidingPlan" v-if="building_plan.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(buildingplan, i) in buildingplans"><a href="#" v-on:click="removeRegister(buildingplan.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+buildingplan.id+buildingplan.file" data-toggle="modal">{{buildingplan.filename}}</a> |</label>
								        </p>
										<span v-if="errors.building_plan" class="text-danger">{{errors.building_plan[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	VII. Structural Design and Analysis for buildings with floor area of 20.00 sq.m. or more 
					                	<input type="file" id="struc_design" ref="struc_design" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitStructDesign()" id="btnStructDesign" v-if="struc_design.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(structdesign, i) in structdesigns"><a href="#" v-on:click="removeRegister(structdesign.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+structdesign.id+structdesign.file" data-toggle="modal">{{structdesign.filename}}</a> |</label>
								        </p>
										<span v-if="errors.struc_design" class="text-danger">{{errors.struc_design[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	VIII. Electrical Design Analysis 
					                	<input type="file" id="elect_design" ref="elect_design" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitElectDesign()" id="btnElectDesign" v-if="elect_design.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(structdesign, i) in electdesigns"><a href="#" v-on:click="removeRegister(structdesign.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+structdesign.id+structdesign.file" data-toggle="modal">{{structdesign.filename}}</a> |</label>
								        </p>
										<span v-if="errors.elect_design" class="text-danger">{{errors.elect_design[0]}}</span>
					                </a>
					            </li>
					      		<li>
					                <a>
					                	IX. Soil Analysis for Commercial / residential buildings with 3 storeys or more (signed and sealed)
					                	<input type="file" id="soil_analysis" ref="soil_analysis" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitSoilAnalysis()" id="btnSoilAnalysis" v-if="soil_analysis.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(structdesign, i) in soilanalysiss"><a href="#" v-on:click="removeRegister(structdesign.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+structdesign.id+structdesign.file" data-toggle="modal">{{structdesign.filename}}</a> |</label>
								        </p>
										<span v-if="errors.soil_analysis" class="text-danger">{{errors.soil_analysis[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	X. Building Specifications (signed and sealed)
					                	<input type="file" id="building_specs" ref="building_specs" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitBuildingSpec()" id="btnBuildingSpec" v-if="building_specs.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(buildingspec, i) in buildingspecs"><a href="#" v-on:click="removeRegister(buildingspec.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+buildingspec.id+buildingspec.file" data-toggle="modal">{{buildingspec.filename}}</a> |</label>
								        </p>
										<span v-if="errors.building_specs" class="text-danger">{{errors.building_specs[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XI. Bill of Material or Construction Estimate (signed and sealed)
					                	<input type="file" id="bill_material" ref="bill_material" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitBillMaterial()" id="btnBillMaterial" v-if="bill_material.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(billmaterial, i) in billmaterials"><a href="#" v-on:click="removeRegister(billmaterial.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+billmaterial.id+billmaterial.file" data-toggle="modal">{{billmaterial.filename}}</a> |</label>
								        </p>
										<span v-if="errors.bill_material" class="text-danger">{{errors.bill_material[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XII. Photocopy of updated Professional Tax Receipt and Professional 	Regulations Commission (PRC ID) identification of all professional signatories 	to the application forms and plan (with 3 specimen signature) **NOTE: Items VI – XV must be signed and sealed by licensed practitioners (Civil Engineers, Architect, Sanitary Engineer/Master Plumber, Electrical 	Engineer, Mechanical Engineer as the case may be)
					                	<input type="file" id="prc_id" ref="prc_id" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitPrc()" id="btnPrc" v-if="prc_id.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(prc, i) in prcs"><a href="#" v-on:click="removeRegister(prc.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+prc.id+prc.file" data-toggle="modal">{{prc.filename}}</a> |</label>
								        </p>
										<span v-if="errors.prc_id" class="text-danger">{{errors.prc_id[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XIII. Zoning Compliance Certificate from City Planning & Development Office
					                	<input type="file" id="zoning_cert" ref="zoning_cert" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitZoningCert()" id="btnZoningCert" v-if="zoning_cert.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(zoningcert, i) in zoningcerts"><a href="#" v-on:click="removeRegister(zoningcert.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+zoningcert.id+zoningcert.file" data-toggle="modal">{{zoningcert.filename}}</a> |</label>
								        </p>
										<span v-if="errors.zoning_cert" class="text-danger">{{errors.zoning_cert[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XIV. Fire Safety Evaluation Clearance from Fire Department Office 
					                	<input type="file" id="fire_cert" ref="fire_cert" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitFireCert()" id="btnFireCert" v-if="fire_cert.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(firecert, i) in firecerts"><a href="#" v-on:click="removeRegister(firecert.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+firecert.id+firecert.file" data-toggle="modal">{{firecert.filename}}</a> |</label>
								        </p>
										<span v-if="errors.fire_cert" class="text-danger">{{errors.fire_cert[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XV. WWMS Certificate from CEPMO (waste disposal and sewerage) 
					                	<input type="file" id="cepmo_cert" ref="cepmo_cert" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitCepmoCert()" id="btnCepmoCert" v-if="cepmo_cert.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(cepmocert, i) in cepmocerts"><a href="#" v-on:click="removeRegister(cepmocert.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+cepmocert.id+cepmocert.file" data-toggle="modal">{{cepmocert.filename}}</a> |</label>
								        </p>
										<span v-if="errors.cepmo_cert" class="text-danger">{{errors.cepmo_cert[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XVI. Construction Logbook
					                	<input type="file" id="logbook" ref="logbook" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitLogbook()" id="btnLogbook" v-if="logbook.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(logbook, i) in logbooks"><a href="#" v-on:click="removeRegister(logbook.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+logbook.id+logbook.file" data-toggle="modal">{{logbook.filename}}</a> |</label>
								        </p>
										<span v-if="errors.logbook" class="text-danger">{{errors.logbook[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XVII. Construction Tarpaulin (From CBAO)
					                	<input type="file" id="tarp" ref="tarp" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitTarp()" id="btnTarp" v-if="tarp.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(tarp, i) in tarps"><a href="#" v-on:click="removeRegister(tarp.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+tarp.id+tarp.file" data-toggle="modal">{{tarp.filename}}</a> |</label>
								        </p>
										<span v-if="errors.tarp" class="text-danger">{{errors.tarp[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XII. Certificate of Construction Safety Health Program (CSHP) from DOLE
					                	<input type="file" id="cshp" ref="cshp" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitCshp()" id="btnCshpp" v-if="cshp.length > 0">Upload</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(cshp, i) in cshps"><a href="#" v-on:click="removeRegister(cshp.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+cshp.id+cshp.file" data-toggle="modal">{{cshp.filename}}</a> |</label>
								        </p>
										<span v-if="errors.cshp" class="text-danger">{{errors.cshp[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XIX. Authorization Letter or Special Power of Attorney from owner to submit, follow-up, and receive approved permits (for representative only)
					                	<input type="file" id="auth_letter" ref="auth_letter" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitAuthLetter()" id="btnAuthLetter" v-if="auth_letter.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(authletter, i) in authletters"><a href="#" v-on:click="removeRegister(authletter.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+authletter.id+authletter.file" data-toggle="modal">{{authletter.filename}}</a> |</label>
								        </p>
										<span v-if="errors.auth_letter" class="text-danger">{{errors.auth_letter[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XX. Clearance from other government agencies, pursuant to No. 12 (B) of Section 302 of the IRR of the National Building Code (PD 1096), if applicable
					                	<input type="file" id="clearance_other" ref="clearance_other" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitClearanceOther()" id="btnClearanceOther" v-if="clearance_other.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(clearanceother, i) in clearanceothers"><a href="#" v-on:click="removeRegister(clearanceother.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+clearanceother.id+clearanceother.file" data-toggle="modal">{{clearanceother.filename}}</a> |</label>
								        </p>
										<span v-if="errors.clearance_other" class="text-danger">{{errors.clearance_other[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XXI. Environmental Compliance Certificate of building for critical/hazardous projects or for a floor area of 10,000.00 sq.m. 
					                	<input type="file" id="env_certificate" ref="env_certificate" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitEnvironmental()" id="btnEnvironmental" v-if="env_certificate.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(environmental, i) in environmentals"><a href="#" v-on:click="removeRegister(environmental.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+environmental.id+environmental.file" data-toggle="modal">{{environmental.filename}}</a> |</label>
								        </p>
										<span v-if="errors.env_certificate" class="text-danger">{{errors.env_certificate[0]}}</span>
					                </a>
					            </li>
					            <li>
					                <a>
					                	XXII. Barangay Clearance
					                	<input type="file" id="barangay_clearance" ref="barangay_clearance" multiple v-on:change="handleFilesUpload()">
					                	<button type="button" class="btn btn-primary btn-xs" v-on:click="submitBarangay()" id="btnBarangay" v-if="barangay_clearance.length > 0">Upload
					                	</button>
					                	<p>
								        	<label :key="'a'+i" v-for="(brgy, i) in brgys"><a href="#" v-on:click="removeRegister(brgy.id)" class="text-red"><i class="fa fa-times"></i></a>
								        	<a :data-target="'#'+brgy.id+brgy.file" data-toggle="modal">{{brgy.filename}}</a> |</label>
								        </p>
										<span v-if="errors.barangay_clearance" class="text-danger">{{errors.barangay_clearance[0]}}</span>
					                </a>
					            </li>
					        </ul>
					        <div class="box-footer">
		                        <button type="button" class="btn btn-primary col-md-offset-3 col-md-6" v-on:click="submitFiles()" id="btnSubmit">Submit</button>
		                    </div>
					    </div>
					</div>
                </div>                      
            </div>
        </div>
        <div :key="'z'+i" v-for="(register, i) in registers" :id="register.id+register.file" class="modal" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		                <h4 class="modal-title">{{register.filename}}</h4>
		            </div>
		            <div class="modal-body">
		                <embed :src="'/files/'+register.path+'?page=hsn#toolbar=0'" width="100%" height="800px"></embed>
		            </div>
		        </div>
		    </div>
		</div>
    </section>  
</template>

<script>
	export default {
		props: ['slug'],
		data() {
			return {
        		errors: [],
        		files:[],
        		copy_title: [],
        		survey_plan:[],
				cert_copy: [],
				tax_dec: [],
				tax_receipt: [],
				site_picture: [],
				permit_form: [],
				building_plan: [],
				struc_design: [],
				elect_design: [],
				soil_analysis: [],
				building_specs: [],
				bill_material: [],
				prc_id: [],
				zoning_cert: [],
				fire_cert: [],
				cepmo_cert: [],
				logbook: [],
				tarp: [],
				cshp: [],
				auth_letter: [],
				clearance_other: [],
				env_certificate: [],
				barangay_clearance: [],
				modal:'',
				path:'',
				filename:'',
				registers:[],
				surveys:[],
				notregisters:[],
				taxdecs:[],
				latestqrts:[],
				latestpics:[],
				buildingforms:[],
				buildingplans:[],
				structdesigns:[],
				electdesigns:[],
				soilanalysiss:[],
				buildingspecs:[],
				billmaterials:[],
				prcs:[],
				zoningcerts:[],
				firecerts:[],
				cepmocerts:[],
				logbooks:[],
				tarps:[],
				cshps:[],
				authletters:[],
				clearanceothers:[],
				environmentals:[],
				brgys:[],
			}
		},
		mounted(){
        	this.getBarangays();
			this.getSubmitRegister();
			this.getSubmitSurvey();
			this.getSubmitNotRegister();
			this.getSubmitTaxDec();
			this.getSubmitLatestQrt();
			this.getSubmitLatestPic();
			this.getSubmitBuildingForm();
			this.getSubmitBuildingPlan();
			this.getSubmitStructDesign();
			this.getSubmitElectDesign();
			this.getSubmitSoilAnalysis();
			this.getSubmitBuildingSpec();
			this.getSubmitBillMaterial();
			this.getSubmitPrc();
			this.getSubmitZoningCert();
			this.getSubmitFireCert();
			this.getSubmitCepmoCert();
			this.getSubmitLogbook();
			this.getSubmitTarp();
			this.getSubmitCshp();
			this.getSubmitAuthLetter();
			this.getSubmitClearanceOther();
			this.getSubmitEnvironmental();
			this.getSubmitBarangay();
		},
		watch: {
		    auth: [{
		      handler: 'getAuth'
		    }]
		},
		methods: {
			handleFilesUpload(){
			 	// this.files = this.$refs.files.files;
			 	this.copy_title = this.$refs.copy_title.files;
				this.survey_plan = this.$refs.survey_plan.files;
				this.cert_copy = this.$refs.cert_copy.files;
				this.tax_dec = this.$refs.tax_dec.files;
				this.tax_receipt = this.$refs.tax_receipt.files;
				this.site_picture = this.$refs.site_picture.files;
				this.permit_form = this.$refs.permit_form.files;
				this.building_plan = this.$refs.building_plan.files;
				this.struc_design = this.$refs.struc_design.files;
				this.elect_design = this.$refs.elect_design.files;
				this.soil_analysis = this.$refs.soil_analysis.files;
				this.building_specs = this.$refs.building_specs.files;
				this.bill_material = this.$refs.bill_material.files;
				this.prc_id = this.$refs.prc_id.files;
				this.zoning_cert = this.$refs.zoning_cert.files;
				this.fire_cert = this.$refs.fire_cert.files;
				this.cepmo_cert = this.$refs.cepmo_cert.files;
				this.logbook = this.$refs.logbook.files;
				this.tarp = this.$refs.tarp.files;
				this.cshp = this.$refs.cshp.files;
				this.auth_letter = this.$refs.auth_letter.files;
				this.clearance_other = this.$refs.clearance_other.files;
				this.env_certificate = this.$refs.env_certificate.files;
				this.barangay_clearance = this.$refs.barangay_clearance.files;
			},
			openModal(path){
				// this.modal=path.tracking_id;
				// this.path=path.path;
				// this.filename=path.filename;
				// $('#'+this.modal).modal('');
				// $('#'+this.modal).modal('toggle');
			},
			getSubmitRegister(){
				axios.get('/api/owner-files/'+this.slug).then(response => {
					this.registers = response.data
	            })
			},
			getSubmitSurvey(){
				axios.get('/api/survey-files/'+this.slug).then(response => {
					this.surveys = response.data
	            })
			},
			getSubmitNotRegister(){
				axios.get('/api/certificationcopy-files/'+this.slug).then(response => {
					this.notregisters = response.data
	            })
			},
			getSubmitTaxDec(){
				axios.get('/api/taxdec-files/'+this.slug).then(response => {
					this.taxdecs = response.data
	            })
			},
			getSubmitLatestQrt(){
				axios.get('/api/latestquarter-files/'+this.slug).then(response => {
					this.latestqrts = response.data
	            })
			},
			getSubmitLatestPic(){
				axios.get('/api/sitepicture-files/'+this.slug).then(response => {
					this.latestpics = response.data
	            })
			},
			getSubmitBuildingForm(){
				axios.get('/api/buildingform-files/'+this.slug).then(response => {
					this.buildingforms = response.data
	            })
			},
			getSubmitBuildingPlan(){
				axios.get('/api/buildingplan-files/'+this.slug).then(response => {
					this.buildingplans = response.data
	            })
			},	
			getSubmitStructDesign(){
				axios.get('/api/structuraldesign-files/'+this.slug).then(response => {
					this.structdesigns = response.data
	            })
			},
			getSubmitElectDesign(){
				axios.get('/api/electricdesign-files/'+this.slug).then(response => {
					this.electdesigns = response.data
	            })
			},
			getSubmitSoilAnalysis(){
				axios.get('/api/soilanalysis-files/'+this.slug).then(response => {
					this.soilanalysiss = response.data
	            })
			},
			getSubmitBuildingSpec(){
				axios.get('/api/buildingspec-files/'+this.slug).then(response => {
					this.buildingspecs = response.data
	            })
			},
			getSubmitBillMaterial(){
				axios.get('/api/billmaterial-files/'+this.slug).then(response => {
					this.billmaterials = response.data
	            })
			},
			getSubmitPrc(){
				axios.get('/api/prc-files/'+this.slug).then(response => {
					this.prcs = response.data
	            })
			},
			getSubmitZoningCert(){
				axios.get('/api/zoning-files/'+this.slug).then(response => {
					this.zoningcerts = response.data
	            })
			},
			getSubmitFireCert(){
				axios.get('/api/fire-files/'+this.slug).then(response => {
					this.firecerts = response.data
	            })
			},
			getSubmitCepmoCert(){
				axios.get('/api/cepmo-files/'+this.slug).then(response => {
					this.cepmocerts = response.data
	            })
			},
			getSubmitLogbook(){
				axios.get('/api/logbook-files/'+this.slug).then(response => {
					this.logbooks = response.data
	            })
			},
			getSubmitTarp(){
				axios.get('/api/tarpaulin-files/'+this.slug).then(response => {
					this.tarps = response.data
	            })
			},
			getSubmitCshp(){
				axios.get('/api/cshp-files/'+this.slug).then(response => {
					this.cshps = response.data
	            })
			},
			getSubmitAuthLetter(){
				axios.get('/api/letter-files/'+this.slug).then(response => {
					this.authletters = response.data
	            })
			},
			getSubmitClearanceOther(){
				axios.get('/api/clearanceother-files/'+this.slug).then(response => {
					this.clearanceothers = response.data
	            })
			},
			getSubmitEnvironmental(){
				axios.get('/api/environmentalcertificate-files/'+this.slug).then(response => {
					this.environmentals = response.data
	            })
			},	
			getSubmitBarangay(){
				axios.get('/api/barangayclearance-files/'+this.slug).then(response => {
					this.brgys = response.data
	            })
			},
			clear() {
      			
	      	},
			removeRegister(params){
	            axios({
                    method: "delete",
                    url: "/api/owner-files/"+params,
                }).then(response => {
                    this.getSubmitRegister();
                }).catch(error => {
                    alert('Something went wrong, please try again.')
                })
			},
			submitRegister(){
				$("#btnRegister").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
            	for( var i = 0; i < this.copy_title.length; i++ ){
                    var file = this.copy_title[i];
                    formData.append('copy_title[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/owner-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnRegister").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitRegister();
                    this.$refs.copy_title.value = '';
                }.bind(this)).catch(function(error){
                	if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnRegister").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitSurvey(){
				$("#btnSurvey").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.survey_plan.length; i++ ){
                    var file = this.survey_plan[i];
                    formData.append('survey_plan[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/survey-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnSurvey").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitSurvey();
                    this.$refs.survey_plan.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnSurvey").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitNotRegister(){
				$("#btnNotRegister").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
                for( var i = 0; i < this.cert_copy.length; i++ ){
                    var file = this.cert_copy[i];
                    formData.append('cert_copy[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/certificationcopy-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnNotRegister").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitNotRegister();
                    this.$refs.cert_copy.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnNotRegister").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitTaxDec(){
				$("#btnTaxDec").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.tax_dec.length; i++ ){
                    var file = this.tax_dec[i];
                    formData.append('tax_dec[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/taxdec-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnTaxDec").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitTaxDec();
                    this.$refs.tax_dec.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnTaxDec").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitLatestQrt(){
				$("#btnLatestQrt").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
         		for( var i = 0; i < this.tax_receipt.length; i++ ){
                    var file = this.tax_receipt[i];
                    formData.append('tax_receipt[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/latestquarter-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnLatestQrt").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitLatestQrt();
                    this.$refs.tax_receipt.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnLatestQrt").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));  
			},
			submitLatestPic(){
				$("#btnLatestPic").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.site_picture.length; i++ ){
                    var file = this.site_picture[i];
                    formData.append('site_picture[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/sitepicture-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnLatestPic").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitLatestPic();
                    this.$refs.site_picture.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnLatestPic").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitBuildingForm(){
				$("#btnBuidingForm").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.permit_form.length; i++ ){
                    var file = this.permit_form[i];
                    formData.append('permit_form[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/buildingform-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnBuidingForm").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitBuildingForm();
                    this.$refs.permit_form.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnBuidingForm").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitBuildingPlan(){
				$("#btnBuidingPlan").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.building_plan.length; i++ ){
                    var file = this.building_plan[i];
                    formData.append('building_plan[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/buildingplan-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnBuidingPlan").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitBuildingPlan();
                    this.$refs.building_plan.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnBuidingPlan").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitStructDesign(){
				$("#btnStructDesign").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.struc_design.length; i++ ){
                    var file = this.struc_design[i];
                    formData.append('struc_design[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/structuraldesign-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnStructDesign").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitStructDesign();
                    this.$refs.struc_design.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnStructDesign").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitElectDesign(){
				$("#btnElectDesign").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.elect_design.length; i++ ){
                    var file = this.elect_design[i];
                    formData.append('elect_design[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/electricdesign-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnElectDesign").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitElectDesign();
                    this.$refs.elect_design.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnElectDesign").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitSoilAnalysis(){
				$("#btnSoilAnalysis").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.soil_analysis.length; i++ ){
                    var file = this.soil_analysis[i];
                    formData.append('soil_analysis[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/soilanalysis-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnSoilAnalysis").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitSoilAnalysis();
                    this.$refs.soil_analysis.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnSoilAnalysis").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitBuildingSpec(){
				$("#btnBuildingSpec").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.building_specs.length; i++ ){
                    var file = this.building_specs[i];
                    formData.append('building_specs[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/buildingspec-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnBuildingSpec").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitBuildingSpec();
                    this.$refs.building_specs.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnBuildingSpec").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitBillMaterial(){
				$("#btnBillMaterial").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.bill_material.length; i++ ){
                    var file = this.bill_material[i];
                    formData.append('bill_material[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/billmaterial-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnBillMaterial").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitBillMaterial();
                    this.$refs.bill_material.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnBillMaterial").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitPrc(){
				$("#btnPrc").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.prc_id.length; i++ ){
                    var file = this.prc_id[i];
                    formData.append('prc_id[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/prc-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnPrc").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitPrc();
                    this.$refs.prc_id.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnPrc").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitZoningCert(){
				$("#btnZoningCert").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.zoning_cert.length; i++ ){
                    var file = this.zoning_cert[i];
                    formData.append('zoning_cert[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/zoning-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnZoningCert").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitZoningCert();
                    this.$refs.zoning_cert.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnZoningCert").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitFireCert(){
				$("#btnFireCert").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.fire_cert.length; i++ ){
                    var file = this.fire_cert[i];
                    formData.append('fire_cert[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/fire-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnFireCert").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitFireCert();
                    this.$refs.fire_cert.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnFireCert").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitCepmoCert(){
				$("#btnCepmoCert").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.cepmo_cert.length; i++ ){
                    var file = this.cepmo_cert[i];
                    formData.append('cepmo_cert[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/cepmo-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnCepmoCert").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitCepmoCert();
                    this.$refs.cepmo_cert.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnCepmoCert").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitLogbook(){
				$("#btnLogbook").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.logbook.length; i++ ){
                    var file = this.logbook[i];
                    formData.append('logbook[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/logbook-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnLogbook").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitLogbook();
                    this.$refs.logbook.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnLogbook").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitTarp(){
				$("#btnTarp").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.tarp.length; i++ ){
	                var file = this.tarp[i];
	                formData.append('tarp[' + i + ']', file);
	                formData.append('tracking_id', this.slug);
	            }
	            axios.post( '/api/tarpaulin-files',
	                formData,
	                {
	                    headers: {
	                        'Content-Type': 'multipart/form-data'
	                    }
	                }
	            ).then(function(data){
	                $("#btnTarp").html("Upload").attr("disabled", false);
	                swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitTarp();
                    this.$refs.tarp.value = '';
	            }.bind(this)).catch(function(error){
	                if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnTarp").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
	            }.bind(this));
			},
			submitCshp(){
				$("#btnCshpp").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.cshp.length; i++ ){
                    var file = this.cshp[i];
                    formData.append('cshp[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/cshp-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnCshpp").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitCshp();
                    this.$refs.cshp.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnCshpp").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitAuthLetter(){
				$("#btnAuthLetter").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.auth_letter.length; i++ ){
	            var file = this.auth_letter[i];
	                formData.append('auth_letter[' + i + ']', file);
	                formData.append('tracking_id', this.slug);
	            }
	            axios.post( '/api/letter-files',
	                formData,
	                {
	                    headers: {
	                        'Content-Type': 'multipart/form-data'
	                    }
	                }
	            ).then(function(data){
	                $("#btnAuthLetter").html("Upload").attr("disabled", false);
	                swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitAuthLetter();
                    this.$refs.auth_letter.value = '';
	            }.bind(this)).catch(function(error){
	                if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnAuthLetter").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
	            }.bind(this));
			},
			submitClearanceOther(){
				$("#btnClearanceOther").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.clearance_other.length; i++ ){
                    var file = this.clearance_other[i];
                    formData.append('clearance_other[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/clearanceother-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnClearanceOther").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitClearanceOther();
                    this.$refs.clearance_other.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnClearanceOther").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitEnvironmental(){
				$("#btnEnvironmental").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.env_certificate.length; i++ ){
                    var file = this.env_certificate[i];
                    formData.append('env_certificate[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/environmentalcertificate-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnEnvironmental").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitEnvironmental();
                    this.$refs.env_certificate.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnEnvironmental").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			submitBarangay(){
				$("#btnBarangay").html("<div><i class='fa fa-refresh fa-spin'></i> uploading ...</div>").attr("disabled", true);
				var formData = new FormData();
				for( var i = 0; i < this.barangay_clearance.length; i++ ){
                    var file = this.barangay_clearance[i];
                    formData.append('barangay_clearance[' + i + ']', file);
                    formData.append('tracking_id', this.slug);
                }
                axios.post( '/api/barangayclearance-files',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(data){
                    $("#btnBarangay").html("Upload").attr("disabled", false);
                    swal(
                      'Congratulations!',
                      'You successfully uploaded the file/s',
                      'success'
                    )
                    this.getSubmitBarangay();
                    this.$refs.barangay_clearance.value = '';
                }.bind(this)).catch(function(error){
                    if (error.response.status == 422) {
						this.errors = error.response.data.errors
					}
                   	$("#btnBarangay").html("<i class='fa fa-times'></i> Upload failed!").attr("disabled", false);
                }.bind(this));
			},
			Submit() {
				$("#btnSubmit").html("<div class='overlay'><i class='fa fa-refresh fa-spin'></i></div> Saving ...").attr("disabled", true);
				this.errors = []
			},
		    getBarangays(){
	            axios.get('/api/barangays').then(response => {
	                this.barangays = response.data
	            })
	        },

		} 
	}
</script>
<!-- 
copy_title
survey_plan
cert_copy
tax_dec
tax_receipt
site_picture
permit_form
building_plan
struc_design
elect_design
soil_analysis
building_specs
bill_material
prc_id
zoning_cert
fire_cert
cepmo_cert
logbook
tarp
cshp
auth_letter
clearance_other
env_certificate
barangay_clearance
 -->