<template>
    <section class="content">
        <section class="content-header">
            <h1>
                Application Form
                <small>New Walk-in</small>
            </h1>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <h3 class="box-title">Applicant's Details</h3>
                        </div>
                        <div class="box-body">
                            <label class="text-danger">Important: All fields with * are required</label>
                            <form role="form">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="last_name"><label class="text-danger">*</label> Last Name</label>
                                                <input type="text" class="form-control" id="last_name" placeholder="Enter last name" name="last_name" v-model="last_name"/>
                                                <span v-if="errors.last_name" class="text-danger">{{errors.last_name[0]}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="first_name"><label class="text-danger">*</label> First Name</label>
                                                <input type="text" class="form-control" id="first_name" placeholder="Enter first name" name="first_name" v-model="first_name"/>
                                                <span v-if="errors.first_name" class="text-danger">{{errors.first_name[0]}}</span>
                                            </div>
                                        </div>
                                         <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="middle_name"><label class="text-danger">*</label> Middle Name</label>
                                                <input type="text" class="form-control" id="middle_name" placeholder="Enter middle name" name="middle_name" v-model="middle_name"/>
                                                <span v-if="errors.middle_name" class="text-danger">{{errors.middle_name[0]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="tin"><label class="text-danger">*</label> TIN</label>
                                                    <input type="text" class="form-control" id="tin" placeholder="Enter TIN" name="tin" v-model="tin"/>
                                                    <span v-if="errors.tin" class="text-danger">{{errors.tin[0]}}</span>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="home_address"><label class="text-danger">*</label> Home Address (House # and Street)</label>
                                                <input type="text" class="form-control" id="home_address" placeholder="Enter home address" name="home_address" v-model="home_address"/>
                                                <span v-if="errors.home_address" class="text-danger">{{errors.home_address[0]}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="barangay_id"><label class="text-danger">*</label> Choose Barangay</label>
                                            <select  class="form-control" v-model="barangay_id" id="barangay_id" name="barangay_id">
                                                <option value="">Select</option>
                                                <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
                                            </select>
                                            <span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="contact_no"><label class="text-danger">*</label> Telephone/Cellphone Number</label>
                                                <input type="text" class="form-control" id="contact_no" placeholder="Enter telephone/cellphone number" name="contact_no" v-model="contact_no"/>
                                                <span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email_address"><label class="text-danger">*</label> Email Address</label>
                                                <input type="text" class="form-control" id="email_address" placeholder="Enter email address" name="email_address" v-model="email_address"/>
                                                <span v-if="errors.email_address" class="text-danger">{{errors.email_address[0]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="location_blk_street"><label class="text-danger">*</label> Location of Construction (Block # and Street)</label>
                                                <input type="text" class="form-control" id="location_blk_street" placeholder="Enter location of construction" name="location_blk_street" v-model="location_blk_street"/>
                                                <span v-if="errors.location_blk_street" class="text-danger">{{errors.location_blk_street[0]}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="location_barangay"><label class="text-danger">*</label> Location's Barangay</label>
                                            <select  class="form-control" v-model="location_barangay" id="location_barangay" name="location_barangay">
                                                <option value="">Select</option>
                                                <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
                                            </select>
                                            <span v-if="errors.location_barangay" class="text-danger">{{errors.location_barangay[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="type_occupancy"><label class="text-danger">*</label> Type of Occupancy</label>
                                                <select  class="form-control" v-model="type_occupancy" id="type_occupancy" name="type_occupancy">
                                                    <option value="">Select</option>
                                                    <option v-for="(building, i) in buildings" :value="building.id">{{building.name}}</option>
                                                </select>
                                                <input type="text" class="form-control" id="other_type" placeholder="Enter other type" name="other_type" v-model="other_type" v-if="type_occupancy == 8"/>
                                                <span v-if="errors.type_occupancy" class="text-danger">{{errors.type_occupancy[0]}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="representative"><label>'</label>Representative name (to submit, follow-up, and receive approved permits)</label>
                                                <input type="text" class="form-control" id="representative" placeholder="Enter representative name" name="representative" v-model="representative"/>
                                                <span v-if="errors.representative" class="text-danger">{{errors.representative[0]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" class="btn btn-primary pull-right" v-on:click="Submit()" id="btnSubmit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </section>
    </section>                         
</template>

<script>
	export default {
    props: ['auth'],
    data(){
        return {
            url: '/api/applications',
            types:[],
            datenow:'',
            buildings:[],
            myOptions:[],
            barangays:[],
            errors:[],
            application_no:'',
            contact_no:'',
            last_name:'',
            first_name:'',
            middle_name:'',
            tin:'',
            home_address:'',
            barangay_id:'',
            contact_no:'',
            email_address:'',
            location_blk_street:'',
            location_barangay:'',
            type_occupancy:'',
            other_type:'',
            representative:''
        }
    },
    mounted(){
        this.getBarangays();
        this.getBuildings();
        this.getAuth();
    },
    methods: {
        getAuth(){
            axios.get('/api/auth').then(response => {
                var data = response.data
                this.first_name=data.firstname
                this.middle_name=data.middlename
                this.last_name=data.lastname
                this.home_address=data.home_address
                this.barangay_id=data.barangay_id
                this.contact_no=data.contact_no
                this.email_address=data.email
                this.user_id=data.id
            })
        },
        Submit() {
            $("#btnSubmit").html("<div class='overlay'><i class='fa fa-refresh fa-spin'></i></div> Saving ...").attr("disabled", true);
            this.errors = []
            axios({
                method: "POST",
                url: "/api/applicants",
                data: {
                    user_id:this.user_id,
                    tracking_id:Date.now(),
                    first_name:this.first_name,
                    middle_name:this.middle_name,
                    last_name:this.last_name,
                    tin:this.tin,
                    barangay_id:this.barangay_id,
                    contact_no:this.contact_no,
                    email_address:this.email_address,
                    home_address:this.home_address,
                    location_blk_street:this.location_blk_street,
                    location_barangay:this.location_barangay,
                    representative:this.representative,
                    type_occupancy:this.type_occupancy,
                    other_type:this.other_type,
                }
            }).then(response => {
                var data=response.data
                this.$router.push('/client/buildingpermit/'+data.tracking_id);
                $("#btnSubmit").html("Submit").attr("disabled", false);
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                    console.log(error)
                }
                $("#btnSubmit").html("<i class='fa fa-times'></i> Check fields and click this again!").attr("disabled", false);
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  