<template>
    <section class="content">
        <section class="content-header">
            <h1>
                Select Application
                <small>Permit</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <router-link :to="{ name:'clientnewapplication'}" >
                    <div class="col-lg-6 col-xs-12">
                        <div class="info-box bg-green">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Building Permit</h3>
                                    <p>Application</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-6 col-xs-12">
                        <div class="info-box bg-blue">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Occupancy Permit</h3>
                                    <p>Application</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
            <div class="row">
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-red">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Demolition Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-orange">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Fencing Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-gray">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Scaffolding Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-maroon">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Temporary Sign Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-yellow">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Excavatin and Ground Excavation Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
                <router-link :to="{ name:'applicationevaluation'}" >
                    <div class="col-lg-3 col-xs-6">
                        <div class="info-box bg-teal">
                            <div class="box-body">
                                <div class="inner">
                                    <h3>Side Walk Construction Permit</h3>
                                    <p>Other Permit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </section>
    </section>     
</template>

<script>
	export default {
        data(){
            return {
            }
        },
        mounted(){
            // this.time();
        },
        methods: {
            moment() {
                return moment();
            },
            time() {
                var self = this
                this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
                setTimeout(self.time, 1000)
            },
        }
    }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  