<template>
    <section class="content">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{application}}</h3>
                            <p>All Applications</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <router-link :to="{ name:'applications'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{evaluation}}</h3>
                            <p>Under Evaluation/For Inspection</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <router-link :to="{ name:'applicationevaluation'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{sorting}}</h3>
                            <p>For Sorting</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <router-link :to="{ name:'applicationsorting'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>{{approval}}</h3>
                            <p>For Approval</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-edit"></i>
                        </div>
                        <router-link :to="{ name:'applicationapproval'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{approved}}</h3>
                            <p>Approved Applications</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <router-link :to="{ name:'applicationapproved'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-teal">
                        <div class="inner">
                            <h3>{{released}}</h3>
                            <p>Released Application</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-share-square-o"></i>
                        </div>
                        <router-link :to="{ name:'applicationreleased'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box scrollable">
                        <div class="box-header">
                            <h3 class="box-title">Building/Occupancy Permit</h3>
                        </div>
                        <div class="box-body">
                             <table id="application_table" ref="application_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Date of Application</th>
                                        <th>Application No.</th>
                                        <th>Applicant Name</th>
                                        <th>Section</th>
                                        <th>Progress</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Date of Application</th>
                                        <th>Application No.</th>
                                        <th>Applicant Name</th>
                                        <th>Section</th>
                                        <th>Progress</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        props: ['auth','prefix'],
        data(){
            return {
                application:'0',
                evaluation:'0',
                sorting:'0',
                approval:'0',
                approved:'0',
                released:'0'
            }
        },
        created(){
           this.getApplications();
           this.countAllApplications();
           this.countAllUnderEvaluation();
           this.countAllForSorting();
           this.countAllForApproval();
           this.countAllApproved();
           this.countAllReleased();
        },
        methods: {
            moment() {
                return moment();
            },
            countAllApplications(){
                axios.get('/api/applications').then(response => {
                    this.application = response.data.recordsTotal
                })
            },
            countAllUnderEvaluation(){
                axios.post('/api/evaluations').then(response => {
                    this.evaluation = response.data.recordsTotal
                })
            },
            countAllForSorting(){
                axios.post('/api/sortings').then(response => {
                    this.sorting = response.data.recordsTotal
                })
            },
            countAllForApproval(){
                axios.post('/api/approvals').then(response => {
                    this.approval = response.data.recordsTotal
                })
            },
            countAllApproved(){
                axios.post('/api/approved').then(response => {
                    this.approved = response.data.recordsTotal
                })
            },
            countAllReleased(){
                axios.post('/api/released').then(response => {
                    this.released = response.data.recordsTotal
                })
            },
            getApplications(){
               $(document).ready( function () {
                    var table = $('#application_table').DataTable({
                        "ordering" : false,
                        "retrieve": true,
                        "paging": true,
                        "pageLength": 9,
                        "searching": false,
                        "bLengthChange": false,
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": false,
                        "bAutoWidth": false,
                        "responsive": true,

                        "ajax": {
                            "url": '/api/queuing',
                            "type": "GET",
                            "error": function (xhr, error, thrown) {
                                console.log(error)
                            },
                        },
                        "createdRow": function( row, data, dataIndex ) {
                            if (data.status_id == "2"){
                                $(row).addClass('bg-aqua');
                            }
                            if (data.status_id == "3" || data.status_id == "13"){
                                $(row).addClass('bg-yellow');
                            }
                            if (data.status_id == "4" || data.status_id == "10"){
                                $(row).addClass('bg-red');
                            }
                            if (data.status_id == "5"){
                                $(row).addClass('bg-purple');
                            }
                            if (data.status_id == "6"){
                                $(row).addClass('bg-green');
                            }
                            if (data.status_id == "9"){
                                $(row).addClass('bg-blue');
                            }
                        },
                        "columns": [
                            {
                                "data": "created_at",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + moment(data).format('ll') + '</h6>'
                                    ) 
                                } 
                            },
                            {
                                "data": "application_no",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "name",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "user",
                                "render": function (data, type, row, meta) {
                                    if(data){
                                        return (
                                            '<h6>' + data.designation.name +'</h6>'
                                        )
                                    } return ''
                                }
                            },
                            {
                                "data": "status",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + data.description + '</h6>'
                                    ) 
                                }
                            },
                        ]
                    });

                    var table = $('#application_table').DataTable();
                    setInterval(function(){ 
                        var info = table.page.info();
                        var pageNum = (info.page <= info.pages) ? info.page + 1 : 1;
                        table.page(pageNum).draw(false);    
                    }, 30000); 
                    
                });
            }
           
        }
    }
</script>
