<template>
    <!-- <section class="mx-2  my-5 pb-3">
        <nav aria-label="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'project' }">Projects</router-link></li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3  pull-right">
                            <li class="breadcrumb-item">
                                <p class="text-right my-1 font-weight-bold">{{datenow}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
      	<div class="card card-index">
            <h5 class="card-header indigo white-text text-center py-4">
              <strong>Project Lists</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <br/>
                <div class="form-group" >
                    <a href="" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalProjectForm" v-if="auth.role_id == 1  || auth.role_id == 2">Add new project</a>
                </div>
                <div class="modal fade right" id="modalProjectForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-full-height modal-right modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Add New Project</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label" for="name">Job Order No.:</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="job_order_no" placeholder="Enter Job Order Number" name="job_order_no" v-model="job_order_no"/>
                                            <span v-if="errors.job_order_no" class="text-danger">{{errors.job_order_no[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="client">Client Name:</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="client" placeholder="Enter Client Name" name="client" v-model="client"/>
                                            <span v-if="errors.client" class="text-danger">{{errors.client[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="date_time">Date of Letter:</label>
                                        <div class="col-sm-12">
                                            <input type="date" class="form-control" id="date_time" placeholder="Enter Date of Letter" name="date_time" v-model="date_time"/>
                                            <span v-if="errors.date_time" class="text-danger">{{errors.date_time[0]}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="title">Title:</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" v-model="title"/>
                                            <span v-if="errors.title" class="text-danger">{{errors.title[0]}}</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-default" v-on:click="addNewProject()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="project_table" ref="project_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Date Recieved</th>
                            <th>Job Order No.</th>
                            <th>Date of Letter</th>
                            <th>Client</th>
                            <th>Project Title</th>
                            <th>Status</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Date Recieved</th>
                            <th>Job Order No.</th>
                            <th>Date of Letter</th>
                            <th>Client</th>
                            <th>Project Title</th>
                            <th>Status</th>
                            <th>Designation</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section> -->
    <section class="content">
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{application}}</h3>
                            <p>All Applications</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <router-link :to="{ name:'application'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{evaluation}}</h3>
                            <p>Under Evaluation</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-edit"></i>
                        </div>
                        <router-link :to="{ name:'applicationevaluation'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{sorting}}</h3>
                            <p>For Sorting</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <router-link :to="{ name:'applicationsorting'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>{{approval}}</h3>
                            <p>For Approval</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hand-paper-o"></i>
                        </div>
                        <router-link :to="{ name:'applicationapproval'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{approved}}</h3>
                            <p>Approved Applications</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check-square-o"></i>
                        </div>
                        <router-link :to="{ name:'applicationapproved'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-teal">
                        <div class="inner">
                            <h3>{{released}}</h3>
                            <p>Released Application</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-share-square-o"></i>
                        </div>
                        <router-link :to="{ name:'applicationreleased'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></router-link>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box scrollable">
                        <div class="box-header">
                            <h3 class="box-title">Building/Occupancy Permit</h3>
                        </div>
                        <div class="box-body">
                              <table id="project_table" ref="project_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Date Recieved</th>
                                        <th>Job Order No.</th>
                                        <th>Date of Letter</th>
                                        <th>Client</th>
                                        <th>Project Title</th>
                                        <th>Status</th>
                                        <th>Designation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Date Recieved</th>
                                        <th>Job Order No.</th>
                                        <th>Date of Letter</th>
                                        <th>Client</th>
                                        <th>Project Title</th>
                                        <th>Status</th>
                                        <th>Designation</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            application:'0',
            evaluation:'0',
            sorting:'0',
            approval:'0',
            approved:'0',
            released:'0'
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
        this.time();

        this.getApplications();
        this.countAllProjects();
        this.countAllUnderEvaluation();
        this.countAllForSorting();
        this.countAllForApproval();
        this.countAllApproved();
        this.countAllReleased();
    },
    created(){
        /*if(role == 11 || role == 3){
            this.getOnprocess();
        } else if(role==4) {
            this.getCompliance();
        } else if(role==10) {
            this.getLegal();
        } else if(role==6) {
            this.getSignature();
        } else {
            this.getProjects();
        }*/
        
        if(role == 1 || role == 2 || role == 3 ){
            this.getProjects();
        } else {
            this.getOnprocess();
        }
    },
    methods: {
        moment() {
            return moment();
        },
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        countAllApplications(){
            axios.get('/api/projects').then(response => {
                this.projects = response.data.recordsTotal
            })
        },
        countAllUnderEvaluation(){
            axios.post('/api/project/process').then(response => {
                this.evaluation = response.data.recordsTotal
            })
        },
        countAllForApproval(){
            axios.post('/api/project/signature').then(response => {
                this.approval = response.data.recordsTotal
            })
        },
        countAllApproved(){
            axios.post('/api/approved').then(response => {
                this.approved = response.data.recordsTotal
            })
        },
        countAllReleased(){
            axios.post('/api/released').then(response => {
                this.released = response.data.recordsTotal
            })
        },
        
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
        getProjects(){
            $(document).ready( function () {
                var table = $('#project_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "columnDefs": [{
                        "targets": [5],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        }, 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 5)
                            {
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.header()).empty())
                                        .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column.search(val ? '^'+val+'$' : '', true, false)
                                            .draw();
                                    });
                                column.data().sort().unique().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/projects',
                        "type": "GET",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                                return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                console.log
                                return (
                                    '<a data-id="' + data.id + '" class="view-project text-primary">' + data.job_order_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "date_time",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": "client",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return (
                                    '<h6>' + data.name + '</h6>'
                                ) 
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                if(data.status_id == 7 || data.status_id == 8) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-warning px-3 receive-project">Receive</a>'
                                    )
                                } else if(data.status_id == 4) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-project">Return</a>'
                                    )
                                }else if(data.status_id == 6) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-success px-3 release-project">Release</a>'
                                    )
                                } else {
                                     return (
                                        data.user.designation.name + ' - ' +data.user.name
                                    )
                                }
                            }
                        },
                    ]
                });
                $('#project_table').on('click','.receive-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 9,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                $('#project_table').on('click','.return-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 8,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                $('#project_table').on('click','.release-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Release the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 7,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                
                $('#project_table').on('click','.view-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/projects/'+id);
                }.bind(this));
            }.bind(this));
        },
        
        getCompliance(){
           $(document).ready( function () {
                var table = $('#project_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/project/compliance',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                            
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                         {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                                return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                console.log
                                return (
                                    '<a data-id="' + data.id + '" class="view-project text-primary">' + data.job_order_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "date_time",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "client",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return (
                                    '<h6>' + data.name + '</h6>'
                                ) 
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-project">Return</a>'
                                )
                              
                            }
                        }
                    ]
                });
                $('#project_table').on('click','.return-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Return the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        status_id: 8,
                                        date_time: project.date_time,
                                        official_id: null
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been returned!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });

                $('#project_table').on('click','.view-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/projects/'+id);
                }.bind(this));
            }.bind(this));
        },
        getLegal(){
           $(document).ready( function () {
                var table = $('#project_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/project/legal',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                            
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                               return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                console.log
                                return (
                                    '<a data-id="' + data.id + '" class="view-project text-primary">' + data.job_order_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "date_time",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "client",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return (
                                    '<h6>' + data.name + '</h6>'
                                ) 
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-project">Return</a>'
                                )
                              
                            }
                        }
                    ]
                });
                $('#project_table').on('click','.return-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Return the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        status_id: 8,
                                        date_time: project.date_time,
                                        official_id: null
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been returned!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });

                $('#project_table').on('click','.view-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/projects/'+id);
                }.bind(this));
            }.bind(this));
        },
        getSignature(){
           $(document).ready( function () {
                var table = $('#project_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "columnDefs": [{
                        "targets": [5],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        } 
                    },
                    { "orderable": false, "targets": 5 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 4)
                            {
                                var select = $('<select><option value="..."></option></select>')
                                     .appendTo($(column.header()).empty())
                                                .on('change', function () {
                                                    var val = $(this).val();
                                                    column.search(val, true, false)
                                                        .draw(true);
                                                });
                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/project/signature',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                           
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                                return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                console.log
                                return (
                                    '<a data-id="' + data.id + '" class="view-project text-primary">' + data.job_order_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "date_time",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "client",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return (
                                    '<h6>' + data.name + '</h6>'
                                ) 
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                if(data.status_id == 7){
                                    return (
                                        ''
                                    )
                                } else {
                                     return (
                                        data.user.designation.name + ' - ' +data.user.name
                                    )
                                }
                            }
                        },
                    ]
                });

                $('#project_table').on('click','.view-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/projects/'+id);
                }.bind(this));
            }.bind(this));
        },
        UpdatePassword() {
            axios({
                method: 'PATCH',
                url: '/api/updatepw/',
                data: {
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }
            }).then(response =>{
                var data = response.data
                swal(
                    data.name,
                    'Your password successfuly chan',
                    'success'
                )
            }).catch(error =>{
                console.log(error)
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                }
            })
        } 
    }
  }
</script>



                  