<template>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                404 Error Page
            </h1>
        </section>
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow">404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
                    <p>We could not find the page you were looking for. Meanwhile, you may <router-link :to="{ name:'client'}">return back</router-link> or try using the search form.</p>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        
    }
</script>
