<template>
    <div>
        <section class="content" id="outprint">
            <section class="content-header text-center">
              <strong style="font-size: 54px;">
                Online Building Permit Application System
              </strong>
              <h2>City Building and Architecture Office</h2>
            </section>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <h1 class="box-title text-orange">Important Notes!</h1>
                            <strong><i class="fa fa-book margin-r-5"></i> File Format</strong>
                            <p class="text-muted">
                                All forms to be uploaded must be in PDF or Scanned in PNG, JPG and JPEG format
                            </p>
                            <hr />
                            <strong><i class="fa fa-file margin-r-5"></i> Paper Size</strong>
                            <p class="text-muted">Legal Size paper (8.5 x 13) except for building plans</p>
                            <hr />
                            <strong><i class="fa fa-pencil margin-r-5"></i> Filling-up data</strong>
                            <p class="text-muted">
                                Insert data required using MS word to prevent errors caused by illegible hand writing
                            </p>
                            <hr />
                            <strong><i class="fa fa-money margin-r-5"></i> Payments</strong>
                            <p>For payments made with checks/cheques, CBAO accepts MANAGER'S and CASHIER'S CHECK ONLY! (Addressed to the City Treasurer's Office)</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info-box bg-gray disabled color-palette">
                                    <div class="box-body">
                                        <div class="inner">
                                            <h2>Building Permit Checklist</h2>
                                            <p>
                                                <p>1a. Applicant is the registered owner of the lot</p>
                                                <ul>
                                                    <li>Certified True Copy of Title (updated for not more than 6 months), or Copy of Award w/ Approved Surveyed Plan</li>
                                                    <li>Surveyed Plan signed and sealed by Geodetic Engineer</li>
                                                </ul>
                                                <p>1b. Applicant is not the registered owner of lot (For commercial specifically tenants)</p>
                                                <ul>
                                                    <li>Certified photocopy/original/duplicate of: Contract of Lease, orAbsolute Deed of Sale, or Conditional Deed of Sale, or Certified Copy of Authority to construct on the subject property.
                                                    </li><span id="dots">...</span>
                                                </ul><span style="display: none;" id="more">
                                                    <p>2. Tax Declaration from City Assessor’s Office with documentary stamp</p>
                                                    <p>3. Clear latest picture of site/area (taken at least a week before application)</p>
                                                    <p>4. Building Plans (to be signed by applicant/owner)</p>
                                                    <p>5. Structural Design and Analysis for buildings with floor area of 20.00 sq.m. or more.</p>
                                                    <p>6. Electrical Design Analysis.</p>
                                                    <p>7. Building Specifications.</p>
                                                    <p>8. Bill of Material or Construction Estimate.</p>
                                                    <p>9. Photocopy of updated Professional Tax Receipt and Professional Regulations Commission (PRC ID) identification of all professional signatories  to the application forms and plan (with 3 specimen signature)</p>
                                                    <p>10. Certificate of Construction  Safety Health Program (CSHP) from DOLE.</p>
                                                    <p>11. Authorization Letter or Special Power of Attorney from owner to submit, follow-up, and receive approved permits (for representative only).</p>
                                                    <p>12. Clearance from other government agencies, pursuant to   No. 12 (B) of  Section 302 of the IRR of the National Building Code (PD 1096), if applicable.</p>
                                                    <p>13. Environmental Compliance Certificate of building for critical/hazardous  projects or for a floor area of 10,000.00 sq.m.</p>
                                                    <p>14. Barangay Clearance.</p>
                                                </span>
                                            </p>
                                            <button v-on:click="seemore()" id="myBtn">Read more</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box bg-green">
                                    <div class="box-body">
                                        <div class="inner">
                                            <h2>Occupancy Permit Application</h2>
                                            <p>Download the following forms:</p>
                                            <p>1. Checklist in Securing Occupancy Permit</p>
                                            <p>2. Application for Certificate of Occupancy</p>
                                            <p>3. Certificate of Completion</p>
                                            <p>4. Certificate of Final Electrical Inspection</p>
                                            <p>5. Certificate of Sanitary-Plumbing Inspection</p>
                                            <p>6. Certificate of Occupancy </p>
                                            <p>-</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="box box-primary">
                        <div class="box-body">
                            <h1 class="box-title text-green">How to Apply!</h1>
                            <p class="text-muted"><h4>Step 1: Checklist</h4>
                                Check and provide the required checklist for the application your applying for.
                            </p>
                            <hr />
                            <p class="text-muted"><h4>Step 1: Register/Login</h4>
                                For new applicant click: <a>Register an account</a> and for applicant already have an account click: <a>Login</a>. Enter and submit the necesary account or personal information.
                            </p>
                            <hr />
                            <p class="text-muted"><h4>Step 2: Create an Application Profile</h4>
                               Create your application profile and fill-up all the details needed by the system.
                            </p>
                            <hr />
                            <p class="text-muted"><h4>Step 4</h4>
                                Wait and be notified through text or email from us.
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="large-12 medium-12 small-12 cell">
                <label>Files
                    <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
                </label>
                <button v-on:click="submitFiles()">Submit</button>
            </div>
        </div>
        <div>
            <button type="button"  v-on:click="haha()" class="avoid-this">
                Print Form
             </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['auth','prefix'],
        data(){
            return {
            }
        },
        created(){
           this.getApplications(); 
        },
        methods: {
            handleFilesUpload(){
                this.files = this.$refs.files.files;
            },
            submitFiles(){
                var formData = new FormData();
                for( var i = 0; i < this.files.length; i++ ){
                    var file = this.files[i];
                    formData.append('files[' + i + ']', file);

                    console.log(file)
                }
                // axios.post( '/multiple-files',
                //     formData,
                //     {
                //         headers: {
                //             'Content-Type': 'multipart/form-data'
                //         }
                //     }
                // ).then(function(){
                //     console.log('SUCCESS!!');
                // }).catch(function(){
                //     console.log('FAILURE!!');
                // });
            },
            seemore(){
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");

                if (dots.style.display === "none") {
                    dots.style.display = "inline";
                    btnText.innerHTML = "Read more"; 
                    moreText.style.display = "none";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Read less"; 
                    moreText.style.display = "inline";
                }
            },
            haha(){
                $('#outprint').print({
                    globalStyles : false,
                    mediaPrint : false,
                    stylesheet : "//fonts.googleapis.com/css?family=Times New Roman",
                    iframe : false,
                    noPrintSelector : ".avoid-this",
                    // append : "Free jQuery Plugins<br/>",
                    // prepend : "<br/>jQueryScript.net",
                    manuallyCopyFormValues: false,
                    // deferred: $.Deferred(),
                    timeout: 250,
                    title: 'hahaha',
                    doctype: '<!doctype html>'
                });
            },
            moment() {
                return moment();
            },
            getApplications(){
               $(document).ready( function () {
                    var table = $('#application_table').DataTable({
                        "ordering" : false,
                        "retrieve": true,
                        "paging": true,
                        "pageLength": 9,
                        "searching": false,
                        "bLengthChange": false,
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": false,
                        "bAutoWidth": false,
                        "responsive": true,

                        "ajax": {
                            "url": '/api/queuing',
                            "type": "GET",
                            "error": function (xhr, error, thrown) {
                                console.log(error)
                            },
                        },
                        "createdRow": function( row, data, dataIndex ) {
                            if (data.status_id == "2"){
                                $(row).addClass('bg-purple disabled color-palette');
                            }
                            if (data.status_id == "3" || data.status_id == "20"){
                                $(row).addClass('bg-yellow disabled color-palette');
                            }
                            if (data.status_id == "4" || data.status_id == "10"){
                                $(row).addClass('bg-red disabled color-palette');
                            }
                            if (data.status_id == "5"){
                                $(row).addClass('bg-light-blue disabled color-palette');
                            }
                            if (data.status_id == "6"){
                                $(row).addClass('bg-green disabled color-palette');
                            }
                            if (data.status_id == "9"){
                                $(row).addClass('bg-aqua disabled color-palette');
                            }
                        },
                        "columns": [
                            {
                                "data": "created_at",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + moment(data).format('ll') + '</h6>'
                                    ) 
                                } 
                            },
                            {
                                "data": "application_no",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "name",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "user",
                                "render": function (data, type, row, meta) {
                                    if(data){
                                        return (
                                            '<h6>' + data.designation.name +'</h6>'
                                        )
                                    } return ''
                                }
                            },
                            {
                                "data": "status",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + data.description + '</h6>'
                                    ) 
                                }
                            },
                        ]
                    });

                    var table = $('#application_table').DataTable();
                    setInterval(function(){ 
                        var info = table.page.info();
                        var pageNum = (info.page <= info.pages) ? info.page + 1 : 1;
                        table.page(pageNum).draw(false);    
                    }, 30000); 
                    
                });
            }
           
        }
    }
</script>
