<template>
	<div class="container">
		<div class="login-box">
		    <div class="login-logo">
		        <a href="#"><b>OBPAS</b></a>
		    </div>
		    <!-- /.login-logo -->
		    <div class="login-box-body">
		        <p class="login-box-msg">Sign in to start your session</p>
		        <span v-if="errors.unauthorized" class="text-danger">{{errors.unauthorized[0]}}</span>
		        <div class="md-form">
		            <div class="form-group has-feedback">
		                <input type="email" id="email" class="form-control" name="email" v-model="email" placeholder="Email">
		                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		                <span v-if="errors.unauthorized" class="text-danger">{{errors.unauthorized[0]}}</span>
		            </div>
		            <div class="form-group has-feedback">
		                <input type="password" id="password" class="form-control" name="password" v-model="password" placeholder="Password">
		                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
		                <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
		            </div>
		            <div class="row">
		                <div class="col-xs-4">
		                    <button type="submit" class="btn btn-primary btn-block btn-flat" v-on:click="LoginUser()">Submit</button>
		                </div>
		            </div>
		        </div>
		        <a href="#">I forgot my password</a>
		        <br>
		        <a href="register.html" class="text-center">Register a new account</a>
		    </div>
		</div>
	</div>
</template>
<script>
    export default {
    	data() {
			return {
				errors: [],
				password:'',
				email:'',
				unauthorized:''
			}
		},
        methods: {
			LoginUser() {
				const authUser = {}
				axios({
					method: 'POST',
					url: '/api/login',
					data: {
						email: this.email,
						password: this.password
					}
				}).then(response =>{
					let accessToken=response.data.auth.access_token;
					let authUser=response.data.user;
					console.log(authUser)

					localStorage.setItem('token', accessToken);
					localStorage.setItem('role', authUser.role_id);
					localStorage.setItem('user', authUser.id);
					localStorage.setItem('division', authUser.division_id);
					window.isSignedIn=true;

					Bus.$emit('loggedIn');
					/*this.$router.push('/applications');*/
					if(authUser.division_id == 1 || authUser.division_id ==2) {
						window.location.href='/dashboard/permits'
					} else if(authUser.division_id == 3) {
						window.location.href='/dashboard/projects'
					} else {
						window.location.href='/client'
					}
					
				}).catch(error =>{
					if (error.response) {
						this.errors = error.response.data.errors
					} else if (error){
						swal(
	                      	'Please check your credentials!',
	                      	'Invalid e-mail or password or your account is not yet activated!',
	                      	'warning'
	                    )
					}
				})
			}
		}
    }
</script>