<template>
    <div class="flex-center flex-column">
       Logging-out....
    </div>
</template>

<script>
    export default {
        data(){
            return{
                email:null,
                password:null
            }
        },
        created(){
            Bus.$emit('logout')
            localStorage.removeItem('token');
            localStorage.removeItem('role');
            localStorage.removeItem('user');
            localStorage.removeItem('auth');
            localStorage.removeItem('prefix'); 
            localStorage.removeItem('application_id');
            localStorage.removeItem('division');
            window.location.href='/login'
        }
    }
</script>
