<template>
  	<div class="card my-5 card-index">
        <h5 class="card-header indigo white-text text-center py-4">
          <strong>Application Lists</strong>
        </h5>
        <div class="form-group">
           <router-link  class="btn btn-success pull-right" :to="{ name: 'application-create' }">Add new application</router-link>
        </div>
        <div class="card-body px-lg-5 pt-0">
          <table id="application_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>No.</th>
                <th>Application no.</th>
                <th>Type</th>
                <th>Applicant Name</th>
                <th>Status</th>
                <th>Designation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                 <th>No.</th>
                <th>Application no.</th>
                <th>Type</th>
                <th>Applicant Name</th>
                <th>Status</th>
                <th>Designation</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
</template>

<script>
	export default {
		data(){
      return {
        users:[],
        url: '/api/applications',
        name:''
      }
    },
    mounted() {
        console.log('user_id: '+ window.user)
        console.log('role_id: '+ window.role)
        this.getDepartments()    

    },
    methods: {
      moment() {
        return moment();
      },
      getDepartments(){
        $(document).ready( function () {
            $('#application_table').DataTable({
            "processing": false,
            "ordering" : true,
            "retrieve": true,
            "paging": true,
            "ajax": {
                "url": '/api/onprocess',
                "type": "GET"
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                          return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        "data": "application_no",
                        "render": function (data, type, row, meta) {
                          return data
                        }
                    },
                    {
                        "data": "type",
                        "render": function (data, type, row, meta) {
                          return data.name
                        }
                    },
                    {
                        "data": "name",
                        "render": function (data, type, row, meta) {
                          return data
                        }
                    },
                    {
                        "data": "status",
                        "render": function (data, type, row, meta) {
                          return data.name
                        }
                    },
                    {
                        "data": "user",
                        "render": function (data, type, row, meta) {
                          return data.name
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                          return (
                            '<a href="/applications/' + data.id + '/edit" class="btn btn-sm btn-primary">Edit</a>' + ' ' +
                            '<a data-id="' + data.id + '" class="btn btn-sm btn-danger delete-user">Delete</a>'
                          )
                        }
                    }
                ]
            });
            $('#application_table').on('click','.delete-user',function (e) {
                e.preventDefault();
                var id = $(e.target).attr('data-id');
                axios({
                    method: "DELETE",
                    url: "/api/applications/"+id
                }).then(function (response) {
                    var table = $(application_table).DataTable();
                    table.ajax.reload();
                });
            });
        });
      }
    }
  }
</script>




<div  v-for="(detail, i) in details">
                <div class="modal fade" :id="'application' +detail.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-full-height modal-right" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title w-100" id="myModalLabel">Add New Application</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/users" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="name">Application No.:</label>
                                     <div class="col-sm-12">
                                       {{detail.application_no}}
                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Type:</label>
                                    <div class="col-sm-12">
                                       {{detail.type_id}}
                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Applicant Name:</label>
                                    <div class="col-sm-12">
                                        {{detail.name}}
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-default" v-on:click="haha(detail.id)">Save</button>
                        </div>
                      </div>
                    </div>
                </div>
            </div>