<template>
    <section class="content">
        <section class="content-header">
            <h1>
                Application Form
                <small>New Walk-in</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardpermits'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'new-application'}">Application Form</router-link></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">Applicant's Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="name">Applicant Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Applicant Name" name="name" v-model="name"/>
                                <span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
                            </div>
                            <div class="form-group">
                                <label for="contact_no">Contact Number</label>
                                <input type="text" class="form-control" id="contact_no" placeholder="Enter Contact Number" name="contact_no" v-model="contact_no"/>
                                <span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
                            </div>
                            <div class="form-group">
                                    <label for="representative">Representative Name</label>
                                    <input type="text" class="form-control" id="representative" placeholder="Enter N/A if not applicable" name="representative" v-model="representative"/>
                                    <span v-if="errors.representative" class="text-danger">{{errors.representative[0]}}</span>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="location">Location of Construction</label>
                                        <input type="text" class="form-control" id="location" placeholder="Enter Location" name="location" v-model="location"/>
                                        <span v-if="errors.location" class="text-danger">{{errors.location[0]}}</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="barangay_id">Choose Barangay</label>
                                        <select  class="form-control" v-model="barangay_id" id="barangay_id" name="barangay_id">
                                            <option value="">Choose barangay</option>
                                            <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
                                        </select>
                                        <span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box-header with-border">
                            <h3 class="box-title">Application's Details</h3>
                        </div>
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="type_id">Type of Permit</label>
                                    <Select2 v-model="type_id" id="type_id" name="type_id" :options='myOptions'  @select="mySelectEvent($event)">
                                    </Select2>
                                    <span v-if="errors.type_id" class="text-danger">{{errors.type_id[0]}}</span>  
                                </div>
                                <div class="form-group">
                                    <label for="application_no">Application Number</label>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p class="pull-right">{{type}}</p>
                                        </div>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control pull-left" id="application_no" placeholder="Enter Application Number" name="application_no" v-model="application_no"/>
                                        </div>
                                        <span v-if="errors.application_no" class="text-danger">{{errors.application_no[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="building_id">Type of Occupancy</label>
                                    <select class="form-control" v-model="building_id" id="building_id" name="building_id">
                                        <option value="">Choose occupancy</option>
                                        <option v-for="(building, i) in buildings" :value='building.id' >{{building.name}}</option>
                                    </select>
                                    <span v-if="errors.building_id" class="text-danger">{{errors.building_id[0]}}</span>
                                </div>
                                <div class="form-group">
                                    <label for="building_id">Upload Application Files</label>
                                    <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary pull-right" v-on:click="addNewApplication()">Submit</button>
                            </div>
                        </form>
                    </div>                      
                </div>
            </div>
        </section>
    </section>                         
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
    data(){
        return {
            url: '/api/applications',
            types:[],
            datenow:'',
            buildings:[],
            myOptions:[],
            barangays:[],
            application_no:'',
            contact_no:'',
            representative:'',
            name:'',
            status_id:'9',
            type_id:'',
            type:'',
            building_id:'',
            barangay_id:'',
            official_id:'',
            location:'',
            errors: [],
            password:'',
            password_confirmation:'',
            role: role,
            files:'',
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
        this.time();
    },
    methods: {
        handleFileUploads(){
            this.files = this.$refs.files.files;
        },
        submitFiles(){
            
        },
        moment() {
            return moment();
        },
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        addNewApplication() {
            let formData = new FormData();
            for (var i = 0; i < this.files.length; i++) {
                let file = this.files[i];
                formData.append('files[' + i + ']', file);
            }
            axios.post('/multiple-files',
                formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
            ).then(function(response) {
                console.log(response);
            })
            .catch(function(error) {
                console.log(error);
            });
            this.errors = []
            axios({
                method: "POST",
                url: "/api/applications",
                data: {
                    application_no: this.type + ' ' + this.application_no,
                    name: this.name,
                    contact_no: this.contact_no,
                    representative: this.representative,
                    status_id: this.status_id,
                    official_id: this.auth.id,
                    location: this.location,
                    building_id: this.building_id,
                    type_id: this.type_id,
                    barangay_id: this.barangay_id,
                }
            }).then(response => {
                this.application_no=""
                this.name=""
                this.contact_no=""
                this.representative=""
                this.type_id=""
                this.location=""
                this.building_id=""
                this.barangay_id=""
                axios({
                    method: 'POST',
                    url: '/api/trackings',
                    data: {
                        application_id: response.data.id,
                        status_id: response.data.status_id,
                        user_id: this.auth.id
                    }
                })
                swal(
                  'Congratulations!',
                  'You successfully added new application',
                  'success'
                )
                $(document).ready( function () {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload();
                });
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                }
            })
        },
        mySelectEvent({id, text, type}){
            this.type = type
            this.type_id = id
        },
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
                var data =  this.types.map(function(item) {
                    return {
                        id : item.id,
                        type : item.name,
                        text : item.name + ' - ' + item.description,
                        description: item.description
                    };
                }.bind(this))
                this.myOptions = data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  