<template>
    <section class="content">
        <section class="content-header">
            <h1>
                Job Order Form
                <small>New Project</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardprojects'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'new-project'}">Job Order Form</router-link></li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <h3 class="box-title">Applicant's Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="job_order_no">Job Order Number</label>
                                <input type="text" class="form-control" id="job_order_no" placeholder="Enter Job Order Number" name="job_order_no" v-model="job_order_no"/>
                                <span v-if="errors.job_order_no" class="text-danger">{{errors.job_order_no[0]}}</span>
                            </div>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" v-model="title"/>
                                <span v-if="errors.title" class="text-danger">{{errors.title[0]}}</span>
                            </div>
                            <div class="form-group">
                                <label for="client">Client Name</label>
                                <input type="text" class="form-control" id="client" placeholder="Enter Client Name" name="client" v-model="client"/>
                                <span v-if="errors.client" class="text-danger">{{errors.client[0]}}</span>
                            </div>
                            <div class="form-group">
                                <label for="date_time">Date of Letter</label>
                                <input type="date" class="form-control" id="date_time" placeholder="Enter Location" name="date_time" v-model="date_time"/>
                                <span v-if="errors.date_time" class="text-danger">{{errors.date_time[0]}}</span>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary pull-right" v-on:click="addNewProject()">Submit</button>
                        </div>
                    </div>                      
                </div>
            </div>   
        </section>
    </section>                         
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
    data(){
        return {
            job_order_no:'',
            datenow:'',
            client:'',
            status_id:'9',
            official_id:'',
            date_time:'',
            title:'',
            errors: [],
            role: role,
        }
    },
    mounted(){
        this.time();
    },
    methods: {
        moment() {
            return moment();
        },
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        addNewProject() {
            this.errors = []
            axios({
                method: "POST",
                url: "/api/projects",
                data: {
                    job_order_no: this.job_order_no,
                    client: this.client,
                    status_id: this.status_id,
                    title: this.title,
                    official_id: this.auth.id,
                    date_time: this.date_time,
                }
            }).then(response => {
                this.job_order_no=""
                this.client=""
                this.date_time=""
                axios({
                    method: 'POST',
                    url: '/api/project/trackings',
                    data: {
                        project_id: response.data.id,
                        status_id: response.data.status_id,
                        user_id: this.auth.id
                    }
                })
                swal(
                  'Congratulations!',
                  'You successfully added new project',
                  'success'
                )
                $(document).ready( function () {
                    var table = $('#project_table').DataTable();
                    table.ajax.reload();
                });
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                }
            })
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  