<template>
    <section class="content">
        <section class="content-header">
            <h1>
                All Projects
                <small>Table Lists</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardprojects'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'projects'}">All Applications</router-link></li>
            </ol>
        </section>
        <section class="content">
                <div class="box box-primary scrollable">
                    <div class="box-header">
                        <h3 class="box-title">All Applications</h3>
                    </div>
                    <div class="box-body ">
                         <table id="project_table" ref="project_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Date_Recieved</th>
                                    <th>Job_Order_No.</th>
                                    <th>Date_of_Letter</th>
                                    <th>Client</th>
                                    <th>Project_Title</th>
                                    <th>Status</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Date_Recieved</th>
                                    <th>Job_Order_No.</th>
                                    <th>Date_of_Letter</th>
                                    <th>Client</th>
                                    <th>Project_Title</th>
                                    <th>Status</th>
                                    <th>Designation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </section>
    </section>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            url: '/api/applications',
            types:[],
            datenow:'',
            buildings:[],
            barangays:[],
            application_no:'',
            contact_no:'',
            representative:'',
            name:'',
            status_id:'9',
            type_id:'',
            building_id:'',
            barangay_id:'',
            official_id:'',
            location:'',
            errors: [],
            password:'',
            password_confirmation:'',
            role: role,
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
    },
    created(){
        this.getProjects();
    },
    methods: {
        moment() {
            return moment();
        },
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
        getProjects(){
            $(document).ready( function () {
                var table = $('#project_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "columnDefs": [{
                        "targets": [5],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        }, 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 5)
                            {
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.header()).empty())
                                        .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column.search(val ? '^'+val+'$' : '', true, false)
                                            .draw();
                                    });
                                column.data().sort().unique().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/projects',
                        "type": "GET",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                                return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                console.log
                                return (
                                    '<a data-id="' + data.id + '" class="view-project text-primary">' + data.job_order_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "date_time",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": "client",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return (
                                    '<h6>' + data.name + '</h6>'
                                ) 
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                if(data.status_id == 7 || data.status_id == 8) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-warning px-3 receive-project">Receive</a>'
                                    )
                                } else if(data.status_id == 4) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-project">Return</a>'
                                    )
                                }else if(data.status_id == 6) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-success px-3 release-project">Release</a>'
                                    )
                                } else {
                                     return (
                                        data.user.designation.name + ' - ' +data.user.name
                                    )
                                }
                            }
                        },
                    ]
                });
                $('#project_table').on('click','.receive-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 9,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                $('#project_table').on('click','.return-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 8,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                $('#project_table').on('click','.release-project',function (e) {
                    e.preventDefault();

                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Release the project!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/projects/'+id,
                            }).then((response) => {
                                var project = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/projects/'+id,
                                    data: {
                                        job_order_no: project.job_order_no,
                                        client: project.client,
                                        title: project.title,
                                        date_time: project.date_time,
                                        status_id: 7,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.job_order_no,
                                        'The project has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/project/trackings',
                                        data: {
                                            project_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(project_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                
                $('#project_table').on('click','.view-project',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/projects/'+id);
                }.bind(this));
            }.bind(this));
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  