<template>
	<!-- <section class="mx-2  my-5 pb-3">
		<nav aria-label="breadcrumb">
            <div class="container">
                 <div class="row">
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'project' }">Projects</router-link></li>
                            <li class="breadcrumb-item active">{{job_order_no}}</li> 
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3 pull-right">
                            <li class="breadcrumb-item">
                                <p class="text-right my-1 font-weight-bold">{{datenow}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
	    <ul  class="nav nav-tabs nav-justified md-tabs indigo py-3" id="myTabJust" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just" aria-selected="true">Details</a>
			</li>
			<li class="nav-item" v-if="auth.role_id == 1 || auth.role_id == 2" >
				<a class="nav-link" id="edit-tab-just" data-toggle="tab" href="#edit-just" role="tab" aria-controls="edit-just" aria-selected="false">Edit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="history-tab-just" data-toggle="tab" href="#history-just" role="tab" aria-controls="history-just" aria-selected="false">History</a>
			</li>
	    </ul>
	    <div class="tab-content card pt-5" id="myTabContentJust">
	      	<div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
	      		<div class="container">
				  <div class="row">
				    <div class="col-md-2"></div>
					    <div class="col-md-8">
					    	<h4 class="mb-3">Job Order No. {{job_order_no}}</h4>
	     					<form class="needs-validation" novalidate>
	        					<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<label class="text-muted" for="name">Client Name</label>
	            						<p>{{client}}</p>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<label class="text-muted" for="date">Date and Time</label>
	                					<p>{{date_time}}</p>
	            					</div>
	        					</div>
				     			<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<label class="text-muted" for="title">Title of Project</label>
	            						<p>{{title}}</p>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<label class="text-muted" for="status">Status</label>
		            					<div col-md-6 mb-3>
	          								<p>{{status}}</p>
		            					</div>
	            					</div>
	        					</div>
	        					<div class="row" >
	        						<div class="col-md-8 mb-3">
		        						<div class="form-group">
		                					<label class="control-label" for="status">Set Status</label>
	          								<div class="col-sm-12" v-if="auth.designation_id == 15 && auth.division_id == 3">
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
									                <option value="" active>Please Select</option>
									                <option value="14">Preparation of  POW</option>
									                <option value="16">Preparing Findings and Recommendations</option>
									                <option value="18">Forward to Chief Processing</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
											</div>
	          								<div class="col-sm-12" v-else-if="auth.division_id == 1">
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
									                <option value="" active>Please Select</option>
									                <option value="11">Routing notes directives</option>
									                <option value="12">Forward in PDC division</option>
									                <option value="6">For Released</option>
									                <option value="4">For Return</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
			            					</div>
	          								<div class="col-sm-12" v-else-if="auth.designation_id == 3 && auth.division_id == 3">
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
													<option value="" active>Please Select</option>
									                <option value="17">For Endorsement to Chief Processing</option>
									                <option value="5">For Approval/Signature</option>
									                <option value="3">For Report</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
											</div>
	          								<div class="col-sm-12" v-else-if="auth.designation_id == 13 && auth.division_id == 3">
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" :placeholder='status'>
													<option value="" active>Please Select</option>
									                <option value="13" >Endorse for Inspection/Data gathering</option>
									                <option value="15" >Endorse for Revision of POW</option>
									                <option value="19" >Endorse to Admin</option>
									                <option value="13" >For Implementation</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
											</div>
			            					<div v-else></div>
			            				</div>
		            				</div>
            					</div>
					            <div class="row" v-if="(auth.designation_id == 13 && auth.division_id == 3 )|| auth.role_id == 1">
					            	<div class="col-md-8 mb-3">
		          						<div class="form-group">
											<label class="control-label" for="name">Forward to:</label>
											<div class="col-sm-12">
												<select class="browser-default custom-select mb-4" v-model="official_id" id="official_id" name="official_id">
												 	<option value="" active>Choose personnel</option>
									                <option v-for="(user, i) in users" :value='user.id' >{{user.designation.name}} - {{user.title.prefix}} {{user.name}}</option>
									            </select>
												<span  v-if="errors.official_id" class="text-danger col-sm-6">{{errors.official_id[0]}}</span>
											</div>
										</div>
									</div>
	          						<div class="col-md-4 mb-3">
	          								<br/>
	                						<button type="button" class="btn btn-success px-3" v-on:click="ForwardProject()"><i class="fa fa-mail-forward" aria-hidden="true"></i></button>
	            					</div>
	        					</div>
					        </form>
				   	 	</div>
				    <div class="col-md-2"></div>
				  </div>
				</div>
	      	</div>
	      	<div class="tab-pane fade" id="edit-just" role="tabpanel" aria-labelledby="edit-tab-just">
	      		<div class="container">
				  	<div class="row">
					    <div class="col-md-2"></div>
					    <div class="col-md-8">
					    	<form class="form-horizontal" action="/projects" method="post">
					    		<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="job_order_no">Job Order No.:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="job_order_no" placeholder="Job Order Number" v-model="job_order_no"/>
											</div>
											<span v-if="errors.job_order_no" class="text-danger">{{errors.job_order_no[0]}}</span>
										</div>
	          						</div>
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="date_time">Date and Time:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="date_time" placeholder="Enter Location" name="date_time" v-model="date_time"/>
											</div>
											<span v-if="errors.date_time" class="text-danger">{{errors.date_time[0]}}</span>
										</div>
	          						</div>
	        					</div>
								<div class="row">
									<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="title">Project Title:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="title" placeholder="Enter Location" name="title" v-model="title"/>
											</div>
											<span v-if="errors.title" class="text-danger">{{errors.title[0]}}</span>
										</div>
	          						</div>
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="client">Client Name:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="client" placeholder="Enter Applicant Name" name="client" v-model="client"/>
											</div>
											<span v-if="errors.client" class="text-danger">{{errors.client[0]}}</span>
										</div>
	          						</div>
	        					</div>
	        					<div class="row">
									<div class="col-md-6 mb-3">
										<button type="button" class="btn btn-default pull-right" v-on:click="UpdateProject()">Update</button>	
									</div>
									<div class="col-md-6 mb-3">
										<router-link  class="btn btn-primary" :to="{ name: 'project' }">Back</router-link>	
									</div>
								</div>
							</form>
					    </div>
					    <div class="col-md-2"></div>
				  	</div>
				</div>
	      	</div>
	      	<div class="tab-pane fade" id="history-just" role="tabpanel" aria-labelledby="history-tab-just">
		      	<div class="container">
				  	<div class="row">
				    	<div class="col-md-2"></div>
					    <div class="col-md-8">
					    	<ul class="list-group">
								<li class="list-group-item">
									<div class="row">
				  						<div class="col-md-4">
				    						<label class="text-muted" for="firstName">Designation</label>
				  						</div>
				  						<div class="col-md-4">
				        					<label class="text-muted" for="lastName">Status</label>
				    					</div>
				    					<div class="col-md-4">
				        					<label class="text-muted" for="lastName">Date</label>
				    					</div>
									</div>
								</li>
								<li class="list-group-item" v-for="(tracking, i) in trackings">
									<div class="row">
				  						<div class="col-md-4">
				    						<p>{{tracking.user.name}}</p>
				  						</div>
				  						<div class="col-md-4">
				        					<p>{{tracking.status.name}}</p>
				    					</div>
				    					<div class="col-md-4">
				        					<p>{{moment(tracking.created_at).format('lll')}}</p>
				    					</div>
									</div>
								</li>
							</ul>
					    </div>
					    <div class="col-md-2"></div>
					</div>
					<br/>
				</div>
	      	</div>
	    </div>
    </section> -->
    <section class="content">
        <section class="content-header">
            <h1>
                {{job_order_no}}
                <small>Details</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardprojects'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'projects'}">All Projects</router-link></li>
                <li><a href="#">{{job_order_no}}</a></li>
            </ol>
        </section>
        <section class="content">
                <div class="box box-primary">
                    <div class="box-body">
					    <ul class="nav nav-tabs">
					        <li><a href="#details" data-toggle="tab">Details</a></li>
					        <li><a href="#edit" data-toggle="tab">Edit</a></li>
					        <li><a href="#history" data-toggle="tab">History</a></li>
					    </ul>
					    <div class="tab-content">
					        <div class="tab-pane active" id="details">
					          	<div class="container">
					        		<br/>
				        			<div class="row">
					          			<div class="col-md-6">
						          			<div class="form-group">
						          				<label class="text-muted" for="job_order_no">Job Order Number</label>
						          				<h4>{{job_order_no}}</h4>
						          			</div>
						          		</div>
						          		<div class="col-md-6">
						          			<div class="form-group">
						          				<label class="text-muted" for="title">Title of Project</label>
						          				<h4>{{title}}</h4>
						          			</div>
						          		</div>
					          		</div>
					          		<div class="row">
					          			<div class="col-md-6">
						          			<div class="form-group">
						          				<label class="text-muted" for="client">Client Name</label>
						          				<h4>{{client}}</h4>
						          			</div>
						          		</div>
						          		<div class="col-md-6">
						          			<div class="form-group">
						          				<label class="text-muted" for="date_time">Date of Letter</label>
						          				<h4>{{date_time}}</h4>
						          			</div>
						          		</div>
					          		</div>
					          		<div class="row">
					          			<div class="col-md-6">
						          			<div class="form-group">
			                					<label class="control-label" for="status">Set Status</label>
		          								<div class="col-sm-12" v-if="auth.designation_id == 15 && auth.division_id == 3">
													<select class="form-control" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
										                <option value="" active>Please Select</option>
										                <option value="14">Preparation of  POW</option>
										                <option value="16">Preparing Findings and Recommendations</option>
										                <option value="18">Forward to Chief Processing</option>
										            </select>
													<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
												</div>
		          								<div class="col-sm-12" v-else-if="auth.division_id == 1">
													<select class="form-control" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
										                <option value="" active>Please Select</option>
										                <option value="11">Routing notes directives</option>
										                <option value="12">Forward in PDC division</option>
										                <option value="6">For Released</option>
										                <option value="4">For Return</option>
										            </select>
													<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
				            					</div>
		          								<div class="col-sm-12" v-else-if="auth.designation_id == 3 && auth.division_id == 3">
													<select class="form-control" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
														<option value="" active>Please Select</option>
										                <option value="17">For Endorsement to Chief Processing</option>
										                <option value="5">For Approval/Signature</option>
										                <option value="3">For Report</option>
										            </select>
													<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
												</div>
		          								<div class="col-sm-12" v-else-if="auth.designation_id == 13 && auth.division_id == 3">
													<select class="form-control" v-model="status_id" id="status_id" name="status_id" :placeholder='status'>
														<option value="" active>Please Select</option>
										                <option value="13" >Endorse for Inspection/Data gathering</option>
										                <option value="15" >Endorse for Revision of POW</option>
										                <option value="19" >Endorse to Admin</option>
										                <option value="13" >For Implementation</option>
										            </select>
													<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
												</div>
				            					<div v-else></div>
				            				</div>
						          		</div>
						          		<div class="col-md-6">
						          			<div class="form-group">
						          				<label class="text-muted" for="status">Status</label>
						          				<h4>{{status}}</h4>
						          			</div>
						          		</div>
					          		</div>
					          	</div>
					        </div>
					        <!-- /.tab-pane -->
					        <div class="tab-pane" id="edit">
					            <div class="container">
					            	<br/>
					          		<div class="form-group">
		                                <label for="job_order_no">Job Order Number</label>
		                                <input type="text" class="form-control" id="job_order_no" placeholder="Enter Job Order Number" name="job_order_no" v-model="job_order_no"/>
		                                <span v-if="errors.job_order_no" class="text-danger">{{errors.job_order_no[0]}}</span>
		                            </div>
		                            <div class="form-group">
		                                <label for="title">Title of Project</label>
		                                <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" v-model="title"/>
		                                <span v-if="errors.title" class="text-danger">{{errors.title[0]}}</span>
		                            </div>
		                            <div class="form-group">
		                                <label for="client">Client Name</label>
		                                <input type="text" class="form-control" id="client" placeholder="Enter Client Name" name="client" v-model="client"/>
		                                <span v-if="errors.client" class="text-danger">{{errors.client[0]}}</span>
		                            </div>
		                            <div class="form-group">
		                                <label for="date_time">Date of Letter</label>
		                                <input type="date" class="form-control" id="date_time" placeholder="Enter Location" name="date_time" v-model="date_time"/>
		                                <span v-if="errors.date_time" class="text-danger">{{errors.date_time[0]}}</span>
		                            </div>
		                            <div class="row">
					          			<div class="col-md-6 pull-right">
						          			<div class="form-group">
						          				<button type="button" class="btn btn-primary pull-right" v-on:click="UpdateProject()">Update</button>
						          			</div>
						          		</div>
					          		</div>
					          	</div>
					        </div>
					        <!-- /.tab-pane -->
					        <div class="tab-pane" id="history">
					        	<div class="container">
					        		<br/>
						            <div class="row">
								    	<ul class="list-group">
											<li class="list-group-item">
												<div class="row">
							  						<div class="col-md-3">
							    						<label class="text-muted" for="firstName">Designation</label>
							  						</div>
							  						<div class="col-md-3">
							        					<label class="text-muted" for="lastName">Status</label>
							    					</div>
							    					<div class="col-md-3">
							        					<label class="text-muted" for="lastName">Date</label>
							    					</div>
							    					<div class="col-md-3">
							        					<label class="text-muted" for="lastName">Remarks</label>
							    					</div>
												</div>
											</li>
											<li class="list-group-item" v-for="(tracking, i) in trackings">
												<div class="row">
							  						<div class="col-md-3">
							    						<p>{{tracking.user.name}}</p>
							  						</div>
							  						<div class="col-md-3">
							        					<p>{{tracking.status == null ? '': tracking.status.name}}</p>
							    					</div>
							    					<div class="col-md-3">
							        					<p>{{moment(tracking.updated_at).format('lll')}}</p>
							    					</div>
							    					<div class="col-md-3">
							        					<p class="line">{{tracking.remark}}</p>
							    					</div>
												</div>
											</li>
										</ul>
						            </div>
						        </div>
					        </div>
					        <!-- /.tab-pane -->
					       <!--  <div class="tab-pane" id="history">
				        		<div id="routingslip">
									
									
									
									<table>
									    <thead>
									        <tr>
									            <td>
									                <div class="page-header-space"></div>
									            </td>
									        </tr>
									    </thead>
									    <tbody>
									        <tr>
									            <td>
									                <div class="page" style="line-height: 2;">
									                    <p>
											       			Name of Applicant:<strong> {{name}} </strong><br />
											       			Representative's Name (if applicable):<strong> {{representative}} </strong><br />
											       			Contact number of applicant/representative:<strong> {{contact_no}} </strong><br />
											       			Location of Construction:<strong> {{location}} </strong><br />
											       			Date and Time Received:<strong> {{moment(date).format('lll')}} </strong><br />
											       		</p>
												        <h4 class="text-center"><u>Routing Slip</u></h4>
									              		<p class="line" v-if="architectural != null && architectural.remark !=null">
									              			<strong>Architectural: </strong>{{ moment(architectural.updated_at).format('lll')}}
									              			{{architectural.remark}}
									              		</p>
									                  	<p class="line" v-if="linegrade != null && linegrade.remark != null">
									                  		<strong>Line and Grade: </strong>{{moment(linegrade.updated_at).format('lll')}}
									                  		{{linegrade.remark}}
									                  	</p>
									                  	<p class="line" v-if="structural != null && structural.remark != null">
									                  		<strong>Structural: </strong>{{moment(structural.updated_at).format('lll')}}
									                  		{{structural.remark}}
									                  	</p>
									                  	<p class="line" v-if="electrical != null && electrical.remark != null">
									                  		<strong>Electrical: </strong>{{moment(electrical.updated_at).format('lll')}}
									                  		{{electrical.remark}}
									                  	</p>
									                  	<p class="line" v-if="sanitary != null && sanitary.remark != null">
									                  		<strong>Sanitary: </strong>{{moment(sanitary.updated_at).format('lll')}}
									                  		{{sanitary.remark}}
									                  	</p>
									                  	<p class="line" v-if="mechanical != null && mechanical.remark != null">
									                  		<strong>Mechanical: </strong>{{moment(mechanical.updated_at).format('lll')}}
									                  		{{mechanical.remark}}
									                  	</p>
									                  	<p class="line" v-if="cbo != null && cbo.remark != null">
									                  		<strong>City Building Official: </strong>{{moment(cbo.updated_at).format('lll')}}
									                  		{{cbo.remark}}
									                  	</p>
									                  	<p class="line" v-if="asstcbo != null && asstcbo.remark != null">
									                  		<strong>Asst. City Building Official: </strong>{{moment(asstcbo.updated_at).format('lll')}}
									                  		{{asstcbo.remark}}
									                  	</p>
									                  	<p class="line" v-if="chief != null && chief.remark != null">
									                  		<strong>Chief Processing: </strong>{{moment(chief.updated_at).format('lll')}}
									                  		{{chief.remark}}
									                  	</p>
									                  	<p class="line" v-if="receiving != null && receiving.remark != null">
									                  		<strong>Receiving: </strong>{{moment(receiving.updated_at).format('lll')}}
									                  		{{receiving.remark}}
									                  	</p>
									                  	<p class="line" v-if="releasing != null && releasing.remark != null">
									                  		<strong>Releasing: </strong>{{moment(releasing.updated_at).format('lll')}}
									                  		{{releasing.remark}}
									                  	</p>
									                </div>
									            </td>
									        </tr>
									    </tbody>
									    <tfoot>
									        <tr>
									            <td>
									                <div style="position:fixed;bottom:0px;left:0px;width:100%;font-size:11px;">Tele Fax: (074) 442-7228 | Website: www.baguio.gov.ph</div>
									            </td>
									        </tr>
									    </tfoot>
									</table>
								</div>
					        </div> -->
					    </div>
					</div>
                </div>
        </section>
    </section>
</template>

<script>
	export default {
	props: ['id', 'auth', 'prefix'],
	data() {
		return {
			job_order_no:'',
			client:'',
			date_time:'',
			title:'',
			status:'',
			errors:[],
			users:[],
			forward:[],
			trackings:[],
			statuses:[],
			status_id:'',
			official_id:'',
			file:'',
			password:'',
            password_confirmation:'',
            datenow:'',
		}
	},
	mounted() {
		this.getProject();
		this.getStatus();
		this.getBarangays();
        this.getBuildings();
        this.getUsers();
        this.time();
	},
	methods: {
		moment(date){
            return moment(date);
        },
        /*getAuth(){
            axios.get('/api/auth').then(response => {
                this.auth = response.data.role_id
            })
        },*/
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        handleFileUpload(){
        	this.file = this.$refs.file.files[0];
      	},
      	submitFile(){
      		let formData = new FormData();
            formData.append('file', this.file);
            formData.append('project_id', this.id);
            axios.post( '/api/files',
                    formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(response){
                console.log(response);
            })
            .catch(function(err){
                console.log(err);
            });
		},
		UpdateProject() {
			axios({
				method: 'PUT',
				url: '/api/projects/'+this.id,
				data: {
					job_order_no: this.job_order_no,
					client: this.client,
					status_id: this.status_id,
					official_id: this.official_id,
					title: this.title,
					date_time: this.date_time,
				}
			}).then(response =>{
				swal(
                  'Congratulations!',
                  'You successfully edited project ' + response.data.job_order_no,
                  'success'
                )
			}).catch(error =>{
				if (error.response.status == 422) {
					this.errors = error.response.data.errors
				}
			})
		},
	    getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
	    getProject(){
	        axios({
				method: 'GET',
				url: '/api/projects/'+this.id
			}).then(response =>{
				var project = response.data;
				this.job_order_no=project.job_order_no
				this.client=project.client
				this.date_time=project.date_time
				this.status=project.status.name
				this.title=project.title
				this.status_id = project.status_id
				this.official_id = project.official_id
				this.trackings = project.project_trackings;
				console.log(this.trackings)

			}).catch(error =>{
				console.log(error)
			})
	    },
	    getUsers(){
	    	if(role == 2 && division == 1){
	    		axios.get('/api/user/receiving').then(response => {
	            	this.users = response.data.data
	        	})
	    	} else if(role == 2 && division == 3){
	    		axios.get('/api/user/endorsement').then(response => {
	            	this.users = response.data.data
	        	})
	    	} else if(role == 3 && division == 3){
	    		axios.get('/api/user/chief').then(response => {
	            	this.users = response.data.data
	        	})
	    	}else if(division == 2){
	    		axios.get('/api/user/building').then(response => {
	            	this.users = response.data.data
	        	})
	    	} else if(division == 4){
	    		axios.get('/api/user/project').then(response => {
		            this.users = response.data.data
		        })
	    	} else {
	    		axios.get('/api/users').then(response => {
	            	this.users = response.data.data
	        	})
	    	}
	    },
	    getStatus(){
	        axios.get('/api/statuses').then(response => {
	            var status = response.data.data
	            this.statuses = status
	        })
	    },
	    setStatus($event){
    		swal({
			  	title: 'Are you sure?',
				text: "Change the project status!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes'
			}).then((result) => {
			  if (result.value) {
				axios({
						method: 'PUT',
						url: '/api/projects/'+this.id,
						data: {
							job_order_no: this.job_order_no,
							client: this.client,
							status_id: this.status_id,
							title: this.title,
							date_time: this.date_time,
							official_id: this.status_id == 17 ? 25 : this.status_id == 3 ? 5 : this.status_id == 5 ? 5 : this.status_id == 5 ? 17 : this.status_id == 11 ? 5 : this.status_id == 12 ? 24 : this.status_id == 18 ? 25 : user
						}
					}).then(response =>{
						var response = response.data
						swal(
							this.job_order_no,
					    	'project status successfully changed!',
					    	'success'
					    )
					    axios({
							method: 'GET',
							url: '/api/projects/'+this.id
						}).then(response =>{
							var project = response.data;
							this.job_order_no=project.job_order_no
							this.client=project.client
							this.date_time=project.date_time
							this.status=project.status.name
							this.title=project.title
							this.status_id = project.status_id
							this.official_id = project.official_id
							var tracking = project.project_trackings;
							this.trackings = tracking;

							axios({
								method: 'POST',
								url: '/api/project/trackings',
								data: {
									project_id: this.id,
									status_id: project.status_id,
									user_id: project.official_id
								}
							}).then(response =>{
							axios({
								method: 'GET',
								url: '/api/projects/'+this.id
							}).then(response =>{
								var project = response.data;
								this.job_order_no=project.job_order_no
								this.client=project.client
								this.date_time=project.date_time
								this.status=project.status.name
								this.title=project.title
								this.status_id = project.status_id
								this.official_id = project.official_id
								var tracking = project.project_trackings;
								this.trackings = tracking;
							})
							this.$router.push('/projects');
					}).catch(error =>{
						alert('Something went wrong')
					})

					}).catch(error =>{
						console.log(error)
					})
					}).catch(error =>{
						if (error.response.status == 422) {
							this.errors = error.response.data.errors
						}
					})
			  	}
			})     
	    },
	    ForwardProject(){
	    	swal({
			  title: 'Are you sure?',
			  text: "The project will be forwarded!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, forward it!'
			}).then((result) => {
			  	if (result.value) {
					axios({
						method: 'PUT',
						url: '/api/projects/'+this.id,
						data: {
							job_order_no: this.job_order_no,
							client: this.client,
							status_id: this.status_id,
							official_id: this.official_id,
							title: this.title,
							date_time: this.date_time
						}
					}).then(response =>{
						this.forward=""
						var tracking = response.data
						swal(
							this.job_order_no,
					    	'The project has been forwarded!',
					    	'success'
					    )
						axios({
							method: 'POST',
							url: '/api/project/trackings',
							data: {
								project_id: this.id,
								status_id: tracking.status_id,
								user_id: tracking.official_id
							}
						}).then(response =>{
							this.$router.push('/projects');
						}).catch(error =>{
							if (error.response.status == 422) {
								this.errors = error.response.data.errors
							}
						})
					}).catch(error =>{
						if (error.response.status == 422) {
							this.errors = error.response.data.errors						
						}
					})
			  	}
			})    
        } 
	}
}
</script>

