<template>
     <section class="mx-2  my-5 pb-3">
        <nav aria-label="breadcrumb">
            <div class="container">
               <!--  <div class="row">
                    <div class="col-md-9">
                        <ol class="breadcrumb white">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'application' }">Applications</router-link></li>
                        </ol>
                    </div>
                    <div class="col-md-3">
                        <ol class="breadcrumb white">
                            <li class="breadcrumb-item active">Welcome, {{auth}}</li>
                        </ol>
                    </div>
                </div> -->
            </div>
        </nav>
        <!-- <div class="card card-index">
            <h5 class="card-header indigo white-text text-center py-4">
              <strong>Application Lists</strong>
            </h5> -->
            <!-- <div class="card-body px-lg-5 pt-0"> -->
              <table id="project_table" ref="project_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>>
                    <th>Job Order No.</th>
                    <th>Client Name</th>
                    <th>Date and Time</th>
                    <th>Section</th>
                    <th>Progress</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Job Order No.</th>
                    <th>Client Name</th>
                    <th>Date and Time</th>
                    <th>Section</th>
                    <th>Progress</th>
                  </tr>
                </tfoot>
              </table>
            <!-- </div> -->
        <!-- </div> -->
        <div class="container">
            <legend>Legends:</legend>
            <div class="row">
                <div class="col-4">
                    <p class="info-color">Step 1: Received</p>
                </div>
                <div class="col-4">
                    <p class="warning-color">Step 2: On-process</p>
                </div>
                <div class="col-4">
                    <p class="purple lighten-2">Step 3: For Sorting</p>
                </div>     
            </div>
            <div class="row">
                <div class="col-4">
                    <p class="light-green accent-1">Step 4: For Approval</p>
                </div>
                <div class="col-4">
                    <p class="success-color">Step 5: Approved</p>
                </div>
                <div class="col-4">
                    <p class="danger-color">For Return: To be informed</p>
                </div> 
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
            }
        },
        created(){
           this.getProjects(); 
        },
        methods: {
            moment() {
                return moment();
            },
            getProjects(){
               $(document).ready( function () {
                    var table = $('#project_table').DataTable({
                        "ordering" : false,
                        "retrieve": true,
                        "paging": true,
                        "pageLength": 9,
                        "searching": false,
                        "bLengthChange": false,
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": true,
                        "bInfo": false,
                        "bAutoWidth": false,

                        "ajax": {
                            "url": '/api/project/queuing',
                            "type": "GET",
                            "error": function (xhr, error, thrown) {
                                console.log(error)
                            },
                        },
                        "createdRow": function( row, data, dataIndex ) {
                            if (data.status_id >= "11" &&  data.status_id <="18" ){
                                $(row).addClass('warning-color');
                            }
                             if (data.status_id == "19" ){
                                $(row).addClass('purple lighten-2');
                            }
                            if (data.status_id == "4"){
                                $(row).addClass('danger-color');
                            }
                            if (data.status_id == "5"){
                                $(row).addClass('light-green accent-1');
                            }
                            if (data.status_id == "6"){
                                $(row).addClass('success-color');
                            }
                            if (data.status_id == "9"){
                                $(row).addClass('info-color');
                            }
                        },
                        "columns": [
                           /* {
                                "data": "created_at",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + moment(data).format('ll') + '</h6>'
                                    ) 
                                } 
                            },*/
                            {
                                "data": "job_order_no",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "client",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + data + '</h6>'
                                    )
                                }
                            },
                            {
                                "data": "date_time",
                                "render": function (data, type, row, meta) {
                                  return (
                                       '<h6>' + moment(data).format('ll') + '</h6>'
                                    )
                                }
                            },
                           /* {
                                "data": "type",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h5>' + data.name + '</h5>'
                                    )
                                }
                            },*/
                           /* {
                                "data": "name",
                                "render": function (data, type, row, meta) {
                                  return data
                                }
                            },*/
                            /*{
                                "data": "status",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + data.name + '</h6>'
                                    ) 
                                }
                            },*/
                            {
                                "data": "user",
                                "render": function (data, type, row, meta) {
                                    if(data){
                                        return (
                                            '<h6>' + data.designation.name +'</h6>'
                                        )
                                    } return ''
                                }
                            },
                            {
                                "data": "status",
                                "render": function (data, type, row, meta) {
                                  return (
                                        '<h6>' + data.description + '</h6>'
                                    ) 
                                }
                            },
                        ]
                    });

                    var table = $('#project_table').DataTable();
                    setInterval(function(){ 
                        var info = table.page.info();
                        var pageNum = (info.page <= info.pages) ? info.page + 1 : 1;
                        table.page(pageNum).draw(false);    
                    }, 30000); 
                    
                });
            }
        }
    }
</script>
