<template>
    <section class="content">
        <section class="content">
        	<div class="col-md-offset-3 col-md-6">
	            <div class="box box-primary">
	                <div class="row">
	                    <div class="col-md-12">
	                        <div class="box-header with-border">
	                            <h3 class="box-title">Register an account</h3>
	                        </div>
	                        <form role="form" id="routingslip">
	                            <div class="box-body">
	                            	<label class="text-danger">Important: All fields are required</label>
	                                <div class="row">
	                                    <div class="col-md-4">
	                                    	<div class="form-group">
		                                        <label for="firstname">1. First Name</label>
		                                        <input type="text" class="form-control" id="firstname" placeholder="Enter first name" name="firstname" v-model="firstname"/>
		                                        <span v-if="errors.firstname" class="text-danger">{{errors.firstname[0]}}</span>
		                                    </div>
	                                    </div>
	                                     <div class="col-md-4">
	                                     	<div class="form-group">
		                                        <label for="middlename">2. Middle Name</label>
		                                        <input type="text" class="form-control" id="middlename" placeholder="Enter middle name" name="middlename" v-model="middlename"/>
		                                        <span v-if="errors.middlename" class="text-danger">{{errors.middlename[0]}}</span>
		                                    </div>
	                                    </div>
	                                     <div class="col-md-4">
	                                     	<div class="form-group">
		                                        <label for="lastname">3. Last Name</label>
		                                        <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastname" v-model="lastname"/>
		                                        <span v-if="errors.lastname" class="text-danger">{{errors.lastname[0]}}</span>
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                	<div class="row">
		                                    <div class="col-md-6">
		                                		<div class="form-group">
			                                        <label for="citizenship">4. Nationality </label>
			                                        <input type="text" class="form-control" id="citizenship" placeholder="Enter nationality" name="citizenship" v-model="citizenship"/>
			                                        <span v-if="errors.citizenship" class="text-danger">{{errors.citizenship[0]}}</span>
			                                    </div>
		                                    </div> 
		                                    <div class="col-md-6">
		                                    	<label for="contact_no">5. Telephone/Cellphone Number</label>
			                                    <input type="text" class="form-control" id="contact_no" placeholder="Enter cellphone or telephone number" name="contact_no" v-model="contact_no"/>
			                                    <span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
			                                </div>
			                            </div>
	                                </div>
	                                <div class="row">
	                                	<div class="col-md-6">
	                                		<div class="form-group">
			                                    <label for="home_address">6. Home Address (House # and Street Address)</label>
			                                    <input type="text" class="form-control" id="home_address" placeholder="Enter home address" name="home_address" v-model="home_address"/>
			                                    <span v-if="errors.home_address" class="text-danger">{{errors.home_address[0]}}</span>
			                                </div>
		                                </div>
		                                <div class="col-md-6">
	                                        <label for="barangay_id">7. Choose Barangay</label>
	                                        <select  class="form-control" v-model="barangay_id" id="barangay_id" name="barangay_id">
	                                            <option value="">Choose barangay</option>
	                                            <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
	                                        </select>
	                                        <span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
	                                    </div>
		                            </div>
		                            <div class="row">
	                                	<div class="col-md-6">
	                                		<div class="form-group">
				                                <label for="email">8. Email Address</label>
				                                <input type="text" class="form-control" id="email" placeholder="Enter email address" name="address" v-model="email"/>
				                                <span v-if="errors.email" class="text-danger">{{errors.email[0]}}</span>
				                            </div>
		                                </div>
		                                <div class="col-md-6">
	                                        <div class="form-group">
												<label for="password">9. Password:</label>
												<input type="Password" class="form-control" id="password" placeholder="Enter Password" name="password" v-model="password"/>
												<span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
											</div>
										</div>
		                            </div>
	        					</div>
	                            <div class="box-footer">
	                                <button type="button" class="btn btn-primary pull-right" v-on:click="register()" id="btnSubmit">Register</button>
	                            </div>
	                        </form>
	                    </div>                      
	                </div>
	            </div>
	        </div>   
        </section>
    </section>  
</template>

<script>
	export default {
		data() {
			return {
				firstname:'',
				middlename:'',
				lastname:'',
				citizenship:'',
				contact_no:'',
				home_address:'',
				barangay_id:'',
				email:'',
				password:'',
				barangays:[],
				errors: [],
		        roles:[],
        		titles:[],
        		divisions:[],
			}
		},
		mounted(){
        	this.getBarangays();
		},
		methods: {
			register() {
				$("#btnSubmit").html("<div class='overlay'><i class='fa fa-refresh fa-spin'></i></div> Saving ...").attr("disabled", true);
				this.errors = []
				axios({
					method: "POST",
					url: "/api/users",
					data: {
						firstname:this.firstname,
						middlename:this.middlename,
						lastname:this.lastname,
						citizenship:this.citizenship,
						contact_no:this.contact_no,
						home_address:this.home_address,
						barangay_id:this.barangay_id,
						email: this.email,
						password: this.password,
						role_id: 11
					}
				}).then(response => {
					this.$router.push('/login');
					swal(
                      'Congratulations!',
                      'We send an activation link in your email account!',
                      'warning'
                    )
                    $("#btnSubmit").html("Submit").attr("disabled", false);
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
						console.log(error)
					}
					$("#btnSubmit").html("<i class='fa fa-times'></i> Something went wrong, Please try again!").attr("disabled", false);
				})
			},
		    getBarangays(){
	            axios.get('/api/barangays').then(response => {
	                this.barangays = response.data
	            })
	        },
		} 
	}
</script>