<template>
    <section class="content">
        <section class="content-header">
            <h1>
                For Sorting
                <small>Table Lists</small>
            </h1>
            <ol class="breadcrumb">
                <li><router-link :to="{ name:'dashboardpermits'}"><i class="fa fa-dashboard"></i> Dashboard</router-link></li>
                <li><router-link :to="{ name:'new-application'}">For Sorting</router-link></li>
            </ol>
        </section>
        <section class="content">
                <div class="box box-primary scrollable">
                    <div class="box-header">
                        <h3 class="box-title">All Applications</h3>
                    </div>
                    <div class="box-body">
                         <table id="application_table" ref="application_table" class="table table-hover table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Application_Date</th>
                                    <th>Application No.</th>
                                    <th>Type</th>
                                    <th>Applicant Name</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Date</th>
                                    <th>Application No.</th>
                                    <th>Type</th>
                                    <th>Applicant Name</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        </section>
    </section>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            types:[],
            datenow:'',
            buildings:[],
            barangays:[],
            application_no:'',
            contact_no:'',
            representative:'',
            name:'',
            status_id:'9',
            type_id:'',
            building_id:'',
            barangay_id:'',
            official_id:'',
            location:'',
            errors: [],
            password:'',
            password_confirmation:'',
            role: role,
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
    },
    created(){
        this.getOnprocess();
    },
    methods: {
        moment() {
            return moment();
        },
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
        getOnprocess(){
           $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/sortings',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary btn">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                    ]
                });

                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  