<template>
	<div class="card my-5 card-index">
		<p>This is track</p>
    </div>		
</template>

<script>
	export default {
		props: ['id'],
		data() {
			return {
				application_no:'',
				name:''
			}
		},
		mounted() {
			axios({
				method: 'GET',
				url: '/api/applications/'+this.id
			}).then(response =>{
				var application = response.data;
				console.log(application)
				this.application_no=application.application_no
				this.name=application.name

			}).catch(error =>{
				console.log(error)
			})
		},
		methods: {
			UpdateApplication() {
				axios({
					method: 'PUT',
					url: '/api/applications/'+this.id,
					data: {
						application_no: this.application_no,
						name: this.name,
					}
				}).then(response =>{
					swal(
                      'Congratulations!',
                      'You successfully edited application ' + response.data.application_no,
                      'success'
                    )
				}).catch(error =>{
					console.log(error)
				})
			}
		}
	}
</script>