<template>
    <section class="mx-2  my-5 pb-3">
        <nav aria-label="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'user' }">Users</router-link></li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3  pull-right">
                            <li class="breadcrumb-item">
                                <p class="text-right my-1 font-weight-bold">{{datenow}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
    	<div class="card card-index">
            <h5 class="card-header indigo white-text text-center py-4">
              <strong>User Lists</strong>
            </h5>
            <div class="form-group">
                <router-link  class="btn btn-success pull-right" :to="{ name: 'user-create' }">Add new user</router-link>
            </div>
            <div class="card-body px-lg-5 pt-0">
                <table id="user_table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Designation</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Prefix</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Designation</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
</template>

<script>
	export default {
        props: ['auth', 'prefix'],
		data(){
			return {
				users:[],
                datenow:'',
			}
		},
    mounted() {
        this.getUsers();
        this.time();
    },
    methods: {
        moment() {
            return moment();
        },
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        getUsers(){
            $(document).ready( function () {
                $('#user_table').DataTable({
                "processing": false,
                "ordering" : true,
                "retrieve": true,
                "paging": true,
                "ajax": {
                    "url": "/api/users",
                    "type": "GET"
                    },
                    "columns": [
                        {
                            "data": "id",
                            "render": function (data, type, row, meta) {
                               return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        {
                            "data": "title",
                            "render": function (data, type, row, meta) {
                               return data.prefix
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                                return data
                            }
                        },
                        {
                            "data": "email",
                            "render": function (data, type, row, meta) {
                                return data
                            }
                        },
                        {
                            "data": "role",
                            "render": function (data, type, row, meta) {
                                return data.name
                            }
                        },
                        {
                            "data": "designation",
                            "render": function (data, type, row, meta) {
                                return data.name
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                  '<a href="/users/' + data.id + '/edit" class="btn btn-sm btn-info px-3"><i class="fa fa-edit" aria-hidden="true"></i></a>' + ' ' +
                                  '<a data-id="' + data.id + '" class="btn btn-sm btn-danger delete-user">Del</a>'
                              )
                            }
                        }
                    ]
                });
                $('#user_table').on('click','.delete-user',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    axios({
                        method: "DELETE",
                        url: "/api/users/"+id
                    }).then(function (response) {
                        var table = $('#user_table').DataTable();
                        table.ajax.reload();
                    });
                });
            });
    	}
    }
  }
</script>

