<template>
	<div class="card my-5 card-index">
        <h5 class="card-header indigo white-text text-center py-4">
          <strong>Add new user</strong>
        </h5>
        <br/>
        <div class="card-body px-lg-5 pt-0">
	        <form class="form-horizontal" action="/users" method="post">
		        <div class="form-group">
					<label class="control-label col-sm-2" for="name">Role:</label>
					<div class="col-sm-12">
						 <select class="browser-default custom-select mb-4" v-model="role_id" id="role_id" name="role_id">
						 	<option value="">Choose role</option>
			                <option v-for="(role, i) in roles" :value='role.id' >{{role.name}}</option>
			            </select>
						<span v-if="errors.role_id" class="text-danger">{{errors.role_id[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Designation:</label>
					<div class="col-sm-12">
						<select class="browser-default custom-select mb-4" v-model="designation_id" id="designation_id" name="designation_id">
			                <option value="">Choose designation</option>
			                <option v-for="(designation, j) in designations" :value='designation.id' >{{designation.name}}</option>
			            </select>
						<span v-if="errors.designation_id" class="text-danger">{{errors.designation_id[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Division:</label>
					<div class="col-sm-12">
						<select class="browser-default custom-select mb-4" v-model="division_id" id="division_id" name="division_id">
			                <option value="">Choose division</option>
			                <option v-for="(division, j) in divisions" :value='division.id' >{{division.name}}</option>
			            </select>
						<span v-if="errors.designation_id" class="text-danger">{{errors.designation_id[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Prefix:</label>
					<div class="col-sm-12">
						<select class="browser-default custom-select mb-4" v-model="title_id" id="title_id" name="title_id">
			                <option value="">Choose prefix</option>
			                <option v-for="(title, k) in titles" :value='title.id' >{{title.prefix}}</option>
			            </select>
						<span v-if="errors.title_id" class="text-danger">{{errors.title_id[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name:</label>
					<div class="col-sm-12">
						<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
						<span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Email:</label>
					<div class="col-sm-12">
						<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" v-model="email"/>
						<span v-if="errors.email" class="text-danger">{{errors.email[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Password:</label>
					<div class="col-sm-12">
						<input type="Password" class="form-control" id="password" placeholder="Enter Password" name="password" v-model="password"/>
						<span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" v-on:click="addNewUser()">Save</button>
					<router-link  class="btn btn-primary" :to="{ name: 'user' }">Back</router-link>
				</div>
			</form>
    	</div>
    </div>		
</template>

<script>
	export default {
		data() {
			return {
				name:'',
				email:'',
				password:'',
				title_id:'',
				role_id:'',
				designation_id:'',
				division_id:'',
				errors: [],
		        roles:[],
        		titles:[],
        		designations:[],
        		divisions:[],
			}
		},
		mounted(){
			this.getRoles();
        	this.getTitles();
        	this.getDesignations();
        	this.getDivisions();
		},
		methods: {
			addNewUser() {
				this.errors = []
				axios({
					method: "POST",
					url: "/api/users",
					data: {
						name: this.name,
						email: this.email,
						password: this.password,
						role_id: this.role_id,
						designation_id: this.designation_id,
						title_id: this.title_id,
						division_id: this.division_id
					}
				}).then(response => {
					console.log(response)
					this.name=""
					this.email=""
					this.password=""
					this.role_id=""
					this.title_id=""
					this.designation_id=""
					this.division_id=""
					swal(
                      'Congratulations!',
                      'You successfully added new user',
                      'success'
                    )
				}).catch(error => {
					if (error.response.status == 422) {
						this.errors = error.response.data.errors
						console.log(error)
					}
				})
			},
		    getRoles(){
		        axios.get('/api/roles').then(response => {
		            this.roles = response.data
		        })
		    },
		    getTitles(){
		        axios.get('/api/titles').then(response => {
		            this.titles = response.data
		        })
		    },
		    getDesignations(){
		        axios.get('/api/designations').then(response => {
		            this.designations = response.data
		        })
		    },
		    getDivisions(){
		        axios.get('/api/divisions').then(response => {
		            this.divisions = response.data
		        })
		    }
		} 
	}
</script>