<template>
    <div class="card my-5 card-index">
		<h5 class="card-header indigo white-text text-center py-4">
			<strong>{{name}} details</strong>
		</h5>
		<br/>
		<div class="card-body px-lg-5 pt-0">
	  		<div class="form-group">
				<label class="control-label col-sm-2" for="name">Role:</label>
				<div class="col-sm-12">
					 <select class="browser-default custom-select mb-4" v-model="role_id" id="role_id" name="role_id" :placeholder='role'>
		                <option v-for="(role, i) in roles" :value='role.id' >{{role.name}}</option>
		            </select>
					<span v-if="errors.role_id" class="text-danger">{{errors.role_id[0]}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Designation:</label>
				<div class="col-sm-12">
					 <select class="browser-default custom-select mb-4" v-model="designation_id" id="designation_id" name="designation_id" :placeholder='designation'>
		                <option v-for="(designation, j) in designations" :value='designation.id' >{{designation.name}}</option>
		            </select>
					<span v-if="errors.designation_id" class="text-danger">{{errors.designation_id[0]}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Division:</label>
				<div class="col-sm-12">
					 <select class="browser-default custom-select mb-4" v-model="division" id="designation_id" name="designation_id" :placeholder='division'>
		                <option v-for="(division, j) in divisions" :value='division.id' >{{division.name}}</option>
		            </select>
					<span v-if="errors.designation_id" class="text-danger">{{errors.designation_id[0]}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Prefix:</label>
				<div class="col-sm-12">
					<select class="browser-default custom-select mb-4" v-model="title_id" id="title_id" name="title_id" :placeholder='title'>
		                <option v-for="(title, k) in titles" :value='title.id' >{{title.prefix}}</option>
		            </select>
					<span v-if="errors.title_id" class="text-danger">{{errors.title_id[0]}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-12">
					<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" v-model="name"/>
					<span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Email:</label>
				<div class="col-sm-12">
					<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" v-model="email"/>
					<span v-if="errors.email" class="text-danger">{{errors.email[0]}}</span>
				</div>
			</div>
			<div class="form-group">
					<button type="button" class="btn btn-default" v-on:click="UpdateUser()">Update</button>
					<router-link  class="btn btn-primary" :to="{ name: 'user' }">Back</router-link>
			</div>
		</div>
	</div>	
</template>

<script>
	export default {
		props: ['id'],
		data() {
			return {
				name:'',
				email:'',
				password:'',
				title_id:'',
				role_id:'',
				designation_id:'',
				errors: [],
		        roles:[],
        		titles:[],
        		designations:[],
        		role:'',
        		title:'',
        		designation:'',
        		divisions:[],
			}
		},
		mounted() {
			axios({
				method: 'GET',
				url: '/api/users/'+this.id
			}).then(response =>{
				var user = response.data;
				this.name=user.name
				this.email=user.email
				this.role_id=user.role_id
				this.designation_id=user.designation_id
				this.title_id=user.title_id
				this.title = user.title.prefix
				this.designation = user.designation.name
				this.role = user.role.name
			}).catch(error =>{
				console.log(error)
			})

			this.getRoles();
        	this.getTitles();
        	this.getDesignations();
        	this.getDivisions();
		},
		methods: {
			UpdateUser() {
				axios({
					method: 'PUT',
					url: '/api/users/'+this.id,
					data: {
						name: this.name,
						email: this.email,
						role_id: this.role_id,
						title_id: this.title_id,
						designation_id: this.designation_id,
					}
				}).then(response =>{
					swal(
                      'Congratulations!',
                      'You successfully edited ' + response.data.name + ' details',
                      'success'
                    )
				}).catch(error =>{
					console.log(error)
				})
			},
		    getRoles(){
		        axios.get('/api/roles').then(response => {
		            this.roles = response.data
		        })
		    },
		    getTitles(){
		        axios.get('/api/titles').then(response => {
		            this.titles = response.data
		        })
		    },
		    getDesignations(){
		        axios.get('/api/designations').then(response => {
		            this.designations = response.data
		        })
		    },
		    getDivisions(){
		        axios.get('/api/divisions').then(response => {
		            this.divisions = response.data
		        })
		    }
		}
	}
</script>