<template>
    <div class="product">
        <div class="tm-nav-link cyan">
            <i class="fa fa-th fa-3x tm-nav-icon"></i>
            <span class="tm-nav-text">Bulletin Board</span>
            <div class="product__bg"></div>             
        </div>                                                                 
              
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>