<template>
    <div class="product">
         <a data-toggle="modal" data-target="#DirectoryModal"> 
            <div class="tm-nav-link lime darken-1">
                <i class="fa fa-book fa-3x tm-nav-icon"></i>
                <span class="tm-nav-text">Directory</span>
                <div class="product__bg"></div>            
            </div>    
        </a>                                 
        <!-- [ Modal #1 ] -->
        <div class="modal fade" id="DirectoryModal" tabindex="-1" role="dialog" aria-labelledby="DirectoryLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal"><i class="icon-xs-o-md"></i></button>
                    <div class="modal-header lime darken-1 white-text">
                        <h2 class="modal-title" id="DirectoryLabel">Directory</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                            <div class="row">
                                <div class="col-md-3 text-center">Room No.</div>
                                <div class="col-md-9 text-left">Office Name</div>
                            </div>
                        </div>
                        <div class="list-group" v-for="(department, index) in departments">
                            <a class="list-group-item waves-effect" data-toggle="modal" :data-target="'#directory' +department.id" data-dismiss="modal">
                                <div class="row">
                                    <div class="col-md-3 text-center">{{department.room}}</div>
                                    <div class="col-md-8 text-left">{{department.name}}</div>
                                    <div class="col-md-1 text-left"><i class="fa fa-angle-double-right"></i></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Modal #2 ] -->
        <div  v-for="(department, index) in departments">
            <div class="modal fade" :id="'directory' +department.id" tabindex="-1" role="dialog" aria-labelledby="DirectoryLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <button type="button" class="close" data-target="#DirectoryModal" data-dismiss="modal" data-toggle="modal"><i class="icon-xs-o-md"></i></button>
                        <div class="modal-header lime darken-1 white-text">
                            <h2 class="modal-title" id="DirectoryLabel">{{department.name}}</h2>
                            <button type="button" class="close" data-toggle="modal" data-target="#DirectoryModal" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="secondary-text">{{department.official.prefix}} {{department.official.name}}</p>
                            <p class="default-text">Room: {{department.room}}</p>
                            <p class="default-text">Location: {{department.location}}</p>
                            <p class="default-text">Contact No.: {{department.contact_number}}</p>
                        </div>
                        <div class="text-center">
                            <button type="button" class="tn btn-floating btn btn-warning my-4" data-toggle="modal" data-target="#DirectoryModal" data-dismiss="modal">
                               Go back to previous
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>
    export default {
        data(){
            return {
                departments:[],
                url: '/api/departments',
                pagination: []
            }
        },
        mounted() {
            this.getDepartments()
        },
        methods: {
            getDepartments(){
                let $this = this
                axios({
                    method: "GET",
                    url: this.url
                }).then(function(response){
                    this.departments = response.data.data
                }.bind(this))
            },
            launch(){
                $('#DirectoryModal').modal('hide');
            }
        }
    }
</script>
