<template>
    <div class="product">
        <a data-toggle="modal" data-target="#EventModal">
            <div class="tm-nav-link orange">
                <i class="fa fa-calendar fa-3x tm-nav-icon"></i>
                <span class="tm-nav-text">Events</span>
                <div class="product__bg"></div>            
            </div> 
        </a>
        <div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="EventLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header orange white-text text-center">
                        <h5 class="modal-title" id="DirectoryLabel">Events</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group" v-for="(event, index) in events">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{event.title}}</h5>
                                    <small>{{moment(event.event_date).format('LL')}}</small>
                                </div>
                                <small>{{event.details}}</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                   
    </div>
</template>
<script>
    export default {
        data(){
            return {
                events:[],
                url: '/api/events',
                pagination: []
            }
        },
        mounted() {
            this.getEvents()
        },
        methods: {
            getEvents(){
                let $this = this
                axios({
                    method: "GET",
                    url: this.url
                }).then(function(response){
                    this.events = response.data.data
                }.bind(this))
            },
            moment(date){
                return moment(date);
            }
        }
    }
</script>