<template>
    <div>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" >
                <div class="container-fluid">
                    <a class="navbar-brand" target="_blank">
                      <router-link  class="nav-link" :to="{ name: 'home' }"><strong class="black-text d-flex justify-content-center"><i class="fa fa-building fa-2x"></i> Online Building Permit Application System</strong></router-link>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="navbar-nav nav-flex-icons" v-for='menu in menus'>
                            <li class="nav-item">
                                <router-link  class="nav-link" :to="{ name: menu.route }">{{menu.name}}</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="sidebar-fixed position-absolute" v-if="token != null">
                <br/>
                <div class="avatar mx-auto text-center">
                    <img src="/img/baguio-seal.png" class="rounded-circle"
                      alt="">
                </div>
                <br/>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action waves-effect text-center"data-toggle="modal" data-target="#modalAuthForm">
                        <i class="fa fa-user mr-3"></i> {{prefix.prefix}} {{auth.name}}
                    </a>
                    <li href="#" class="list-group-item">
                        <router-link :to="{ name: 'home' }" class="waves-effect"> <i class="fa fa-home mr-3"></i>Home</router-link>
                    </li>
                    <li href="#" class="list-group-item" v-if="division != 3">
                        <router-link :to="{ name: 'application' }" class="waves-effect"> <i class="fa fa-tasks mr-3"></i>Applications</router-link>
                        <ul class="list-group" v-if="division != 3 && (role == 2 || role == 1)">
                            <li class="list-group-item">
                                <a href=""  data-toggle="modal" data-target="#modalApplicationForm" class="waves-effect"> <i class="fa fa-plus mr-3"></i>Add new</a>
                                <!--  <span class="badge badge-primary badge-pill">14</span> -->
                            </li>
                        </ul>
                    </li>
                    <li href="#" class="list-group-item" v-if="division != 2">
                        <router-link :to="{ name: 'project' }"> <i class="fa fa-map mr-3"></i> Projects</router-link>
                        <ul class="list-group" v-if="division != 2 && (role == 2 || role == 1)">
                            <li class="list-group-item">
                                <a href=""  data-toggle="modal" data-target="#modalProjectForm" class="waves-effect"> <i class="fa fa-plus mr-3"></i>Add new</a>
                            </li>
                        </ul>
                    </li>
                    <li href="#" class="list-group-item" v-if="division == 1 && role == 1">
                        <router-link :to="{ name: 'user' }"> <i class="fa fa-users mr-3"></i> Users</router-link>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <router-link  class="waves-effect" :to="{ name: 'user-create' }"> <i class="fa fa-plus mr-3"></i>Add new</router-link>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </header>
        <main class="pt-5 mx-lg-5" v-if="token != null">
            <div class="container-fluid mt-5">
                <router-view 
                    :auth="auth"
                    :prefix="prefix"
                ></router-view>
            </div>
        </main>
        <div class="container-fluid mt-5" v-else>
            <br/>
            <br/>
            <section class="section header-banner ">
                <div class="main-container container">
                    <div class="row row-banner">
                        <header role="banner" id="page-header">
                            <div class="section master-head">
                                <a href="http://www.baguio.gov.ph"><img id="optionalstuff" src="/img/baguio-seal.png" alt="Home"/></a>
                                <div class="master-head-txt black-text">
                                    <h5>Republic of the Philippines</h5>
                                    <h1>The City Government of Baguio</h1>
                                    <h4>Online Building Permit Application System</h4>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </section>
            <router-view 
                :auth="auth"
                :prefix="prefix"
            ></router-view>
        </div>
        <!--  Reset Password Modal -->
        <div class="modal fade left" id="modalAuthForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" v-if="token != null">
            <div class="modal-dialog modal-full-height modal-left" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title w-100" id="myModalLabel">Change Password</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/users" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="name">New Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="new-password" placeholder="Enter new password" name="password" v-model="password"/>
                                 <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="name">Confirm Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password_confirm" placeholder="Confirm password" name="password_confirmation" v-model="password_confirmation"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" v-on:click="UpdatePassword()">Update</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['id'],
        data(){
            return {
                title:'CBAO',
                users:[],
                menus:[],
                auth:[],
                prefix:[],
                types:[],
                datenow:'',
                buildings:[],
                barangays:[],
                application_no:'',
                name:'',
                type_id:'',
                building_id:'',
                barangay_id:'',
                location:'',

                job_order_no:'',
                client:'',
                date_time:'',
                title:'',

                password:'',
                password_confirmation:'',
                official_id:'',
                status_id:'9',
                errors: [],

                role: role,
                token:token,
                division: division,

                noAuthMenu:[
                    {name:'Login', route:'login'},
                ],
                authMenuAdmin:[
                    {name:'Users', route:'user'},
                    {name:'Applications', route:'application'},
                    {name:'Projects', route:'project'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuBuilding:[
                    {name:'Applications', route:'application'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuProject:[
                    {name:'Projects', route:'project'},
                    {name:"Logout", route:"logout"}
                ]
            }
        },
        methods: {
            moment(date){
                return moment(date);
            },   
            onLoggedIn() {
                if(role == 1){
                    this.menus=this.authMenuAdmin;    
                } else if(division == 2){
                    this.menus=this.authMenuBuilding;
                } else {
                    this.menus=this.authMenuProject;
                }
            },
            onLogout(){
                this.menus=this.noAuthMenu;
            },
            getAuth(){
                axios.get('/api/auth').then(response => {
                    this.auth = response.data
                    this.prefix = response.data.title
                })
            },
            addNewProject() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/projects",
                    data: {
                        job_order_no: this.job_order_no,
                        client: this.client,
                        status_id: this.status_id,
                        title: this.title,
                        official_id: this.auth.id,
                        date_time: this.date_time,
                    }
                }).then(response => {
                    this.job_order_no=""
                    this.client=""
                    this.date_time=""
                    axios({
                        method: 'POST',
                        url: '/api/project/trackings',
                        data: {
                            project_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new project',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#project_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            addNewApplication() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/applications",
                    data: {
                        application_no: this.type_id + ' ' + this.application_no,
                        name: this.name,
                        type_id: this.type_id,
                        status_id: this.status_id,
                        official_id: this.auth.id,
                        location: this.location,
                        building_id: this.building_id,
                        barangay_id: this.barangay_id,
                    }
                }).then(response => {
                    this.application_no=""
                    this.name=""
                    this.type_id=""
                    this.location=""
                    this.building_id=""
                    this.barangay_id=""
                    axios({
                        method: 'POST',
                        url: '/api/trackings',
                        data: {
                            application_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new application',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#application_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            getTypes(){
                axios.get('/api/types').then(response => {
                this.types = response.data
                })
            },
            getBuildings(){
                axios.get('/api/buildings').then(response => {
                    this.buildings = response.data
                })
            },
            getBarangays(){
                axios.get('/api/barangays').then(response => {
                    this.barangays = response.data
                })
            }
        },  
        mounted(){
            this.getTypes();
            this.getBarangays();
            this.getBuildings();

            if(token){
                this.onLoggedIn();
                this.getAuth();
            }
            $(document).ready( function () {
                setInterval( function () {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );

                setInterval( function () {
                    var table = $('#project_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );
            }); 
        },

        created() {
            /*this.getUser();*/
            this.menus=this.noAuthMenu;

            Bus.$on('loggedIn', ()=> {
                this.onLoggedIn();
            });

            Bus.$on('logout', ()=> {
                this.onLogout();
            });
        },
       /* updated: function () {
            this.$nextTick(function () {
                $(document).ready( function () {
                    var x = setInterval( function () {
                        var table = $('#application_table').DataTable();
                        table.ajax.reload( null, false);
                    }, 5000 );

                });
            })
        },*/
    }
</script>