<template>
    <!-- <div>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" >
                <div class="container-fluid">
                    <a class="navbar-brand" target="_blank">
                      <router-link  class="nav-link" :to="{ name: 'home' }"><strong class="black-text d-flex justify-content-center"><i class="fa fa-building fa-2x"></i> Online Building Permit Application System</strong></router-link>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto"></ul>
                        <ul class="navbar-nav nav-flex-icons" v-for='menu in menus'>
                            <li class="nav-item">
                                <router-link  class="nav-link" :to="{ name: menu.route }">{{menu.name}}</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="sidebar-fixed position-absolute" v-if="token != null">
                <br/>
                <div class="avatar mx-auto text-center">
                    <img src="/img/baguio-seal.png" class="rounded-circle"
                      alt="">
                </div>
                <br/>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action waves-effect text-center"data-toggle="modal" data-target="#modalAuthForm">
                        <i class="fa fa-user mr-3"></i> {{prefix.prefix}} {{auth.name}}
                    </a>
                    <li href="#" class="list-group-item">
                        <router-link :to="{ name: 'home' }" class="waves-effect"> <i class="fa fa-home mr-3"></i>Home</router-link>
                    </li>
                    <li href="#" class="list-group-item" v-if="division != 3">
                        <router-link :to="{ name: 'application' }" class="waves-effect"> <i class="fa fa-tasks mr-3"></i>Applications</router-link>
                        <ul class="list-group" v-if="division != 3 && (role == 2 || role == 1)">
                            <li class="list-group-item">
                                <a href=""  data-toggle="modal" data-target="#modalApplicationForm" class="waves-effect"> <i class="fa fa-plus mr-3"></i>Add new</a>
                            </li>
                        </ul>
                    </li>
                    <li href="#" class="list-group-item" v-if="division != 2">
                        <router-link :to="{ name: 'project' }"> <i class="fa fa-map mr-3"></i> Projects</router-link>
                        <ul class="list-group" v-if="division != 2 && (role == 2 || role == 1)">
                            <li class="list-group-item">
                                <a href=""  data-toggle="modal" data-target="#modalProjectForm" class="waves-effect"> <i class="fa fa-plus mr-3"></i>Add new</a>
                            </li>
                        </ul>
                    </li>
                    <li href="#" class="list-group-item" v-if="division == 1 && role == 1">
                        <router-link :to="{ name: 'user' }"> <i class="fa fa-users mr-3"></i> Users</router-link>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <router-link  class="waves-effect" :to="{ name: 'user-create' }"> <i class="fa fa-plus mr-3"></i>Add new</router-link>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </header>
        <main class="pt-5 mx-lg-5" v-if="token != null">
            <div class="container-fluid mt-5">
                <router-view 
                    :auth="auth"
                    :prefix="prefix"
                ></router-view>
            </div>
        </main>
        <div class="container-fluid mt-5" v-else>
            <br/>
            <br/>
            <section class="section header-banner ">
                <div class="main-container container">
                    <div class="row row-banner">
                        <header role="banner" id="page-header">
                            <div class="section master-head">
                                <a href="http://www.baguio.gov.ph"><img id="optionalstuff" src="/img/baguio-seal.png" alt="Home"/></a>
                                <div class="master-head-txt black-text">
                                    <h5>Republic of the Philippines</h5>
                                    <h1>The City Government of Baguio</h1>
                                    <h4>Online Building Permit Application System</h4>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </section>
            <router-view 
                :auth="auth"
                :prefix="prefix"
            ></router-view>
        </div>
        <div class="modal fade left" id="modalAuthForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" v-if="token != null">
            <div class="modal-dialog modal-full-height modal-left" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title w-100" id="myModalLabel">Change Password</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/users" method="post">
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="name">New Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="new-password" placeholder="Enter new password" name="password" v-model="password"/>
                                 <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-12" for="name">Confirm Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password_confirm" placeholder="Confirm password" name="password_confirmation" v-model="password_confirmation"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" v-on:click="UpdatePassword()">Update</button>
                </div>
              </div>
            </div>
        </div>
    </div> -->
    <body :class="token == null ? 'hold-transition skin-blue layout-top-nav' : 'hold-transition skin-blue sidebar-mini'">
        <header class="main-header" v-if="token != null">
            <router-link  class="logo" :to="{ name: 'dashboard' }"> 
                <span class="logo-mini"><b>CBAO</b></span>
                <span class="logo-lg"><b>OBPAS</b> - Admin</span>
            </router-link>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{prefix.prefix}} {{auth.name}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        {{prefix.prefix}} {{auth.name}} - {{auth.designation != null ? auth.designation.name : null }}
                                        <small>{{auth.division != null ? auth.division.name : null}}</small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <a href="#">Have a great day!</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat" v-on:click="ResetPasswordModal()">Change Password</a>
                                    </div>
                                    <div class="pull-right">
                                        <router-link :to="{ name: 'logout'}" class="btn btn-default btn-flat"></i>Sign out</router-link>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <header class="main-header" v-else>
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand"><i class="fa fa-building-o"></i> <b>OBPAS</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Application Forms<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Building Perrmit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Occupancy Permit</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Other Permits</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                        <!-- <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                            </div>
                        </form> -->
                    </div>
                    <div class="navbar-custom-menu">
                       
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar" v-if="token != null">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{prefix.prefix}} {{auth.name}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><router-link :to="{ name:'dashboard'}"><i class="fa fa-circle-o"></i> Building/Occupancy Permit</router-link></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Projects/Job Orders</a></li>
                        </ul>
                    </li>
                    <li class="header">Building/Occupancy Permit</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-building-o"></i> <span>Building/Occupancy</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><router-link :to="{ name:'new-application'}"><i class="fa fa-plus text-green"></i><span>Add New</span></router-link></li>
                            <li><router-link :to="{ name:'application'}"><i class="fa fa-list text-maroon"></i> <span>All Applications</span></router-link></li>
                            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Received</span></a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>On-process</span></a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-purple"></i> <span>For sorting</span></a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> <span>For Approval</span></a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-green"></i> <span>Approved</span></a></li>
                            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Deficiency</span></a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                <router-view 
                    :auth="auth"
                    :prefix="prefix"
                ></router-view>
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
              <b>Beta-Version</b>
            </div>
            <strong>Copyright &copy; 2020 <a href="http://www.baguio.gov.ph">City Government of Baguio</a>.</strong> All rights reserved.
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="modalAuthForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change Password</h4>
                    </div>
                    <div class="modal-body">
                         <div class="form-group">
                            <label for="new-password">New Password:</label>
                            <input type="password" class="form-control" id="new-password" placeholder="Enter new password" name="password" v-model="password">
                            <span v-if="errors.password" class="text-danger">{{errors.password[0]}}</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password:</label>
                            <input type="password" class="form-control" id="password_confirm" placeholder="Confirm password" name="password_confirmation" v-model="password_confirmation">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  v-on:click="UpdatePassword()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>
<script>
    export default {
        props: ['id'],
        data(){
            return {
                title:'CBAO',
                users:[],
                menus:[],
                auth:[],
                prefix:[],
                types:[],
                datenow:'',
                buildings:[],
                barangays:[],
                application_no:'',
                name:'',
                type_id:'',
                building_id:'',
                barangay_id:'',
                location:'',

                job_order_no:'',
                client:'',
                date_time:'',
                title:'',

                password:'',
                password_confirmation:'',
                official_id:'',
                status_id:'9',
                errors: [],

                role: role,
                token:token,
                division: division,

                noAuthMenu:[
                    {name:'Login', route:'login'},
                ],
                authMenuAdmin:[
                    {name:'Users', route:'user'},
                    {name:'Applications', route:'application'},
                    {name:'Projects', route:'project'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuBuilding:[
                    {name:'Applications', route:'application'},
                    {name:"Logout", route:"logout"}
                ],
                authMenuProject:[
                    {name:'Projects', route:'project'},
                    {name:"Logout", route:"logout"}
                ]
            }
        },
        methods: {
            moment(date){
                return moment(date);
            }, 

            ResetPasswordModal(){
                $('#modalAuthForm').modal('show');
            },
            onLoggedIn() {
                if(role == 1){
                    this.menus=this.authMenuAdmin;    
                } else if(division == 2){
                    this.menus=this.authMenuBuilding;
                } else {
                    this.menus=this.authMenuProject;
                }
            },
            onLogout(){
                this.menus=this.noAuthMenu;
            },
            getAuth(){
                axios.get('/api/auth').then(response => {
                    this.auth = response.data
                    this.prefix = response.data.title
                })
            },
            addNewProject() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/projects",
                    data: {
                        job_order_no: this.job_order_no,
                        client: this.client,
                        status_id: this.status_id,
                        title: this.title,
                        official_id: this.auth.id,
                        date_time: this.date_time,
                    }
                }).then(response => {
                    this.job_order_no=""
                    this.client=""
                    this.date_time=""
                    axios({
                        method: 'POST',
                        url: '/api/project/trackings',
                        data: {
                            project_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new project',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#project_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            addNewApplication() {
                this.errors = []
                axios({
                    method: "POST",
                    url: "/api/applications",
                    data: {
                        application_no: this.type_id + ' ' + this.application_no,
                        name: this.name,
                        type_id: this.type_id,
                        status_id: this.status_id,
                        official_id: this.auth.id,
                        location: this.location,
                        building_id: this.building_id,
                        barangay_id: this.barangay_id,
                    }
                }).then(response => {
                    this.application_no=""
                    this.name=""
                    this.type_id=""
                    this.location=""
                    this.building_id=""
                    this.barangay_id=""
                    axios({
                        method: 'POST',
                        url: '/api/trackings',
                        data: {
                            application_id: response.data.id,
                            status_id: response.data.status_id,
                            user_id: this.auth.id
                        }
                    })
                    swal(
                      'Congratulations!',
                      'You successfully added new application',
                      'success'
                    )
                    $(document).ready( function () {
                        var table = $('#application_table').DataTable();
                        table.ajax.reload();
                    });
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            },
            getTypes(){
                axios.get('/api/types').then(response => {
                this.types = response.data
                })
            },
            getBuildings(){
                axios.get('/api/buildings').then(response => {
                    this.buildings = response.data
                })
            },
            getBarangays(){
                axios.get('/api/barangays').then(response => {
                    this.barangays = response.data
                })
            },
            UpdatePassword() {
                axios({
                    method: 'PATCH',
                    url: '/api/updatepw/',
                    data: {
                        password: this.password,
                        password_confirmation: this.password_confirmation,
                    }
                }).then(response =>{
                    var data = response.data
                    swal(
                        data.name,
                        'Your password successfuly change',
                        'success'
                    )
                }).catch(error =>{
                    console.log(error)
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                    }
                })
            } 
        },  
        mounted(){
            this.getTypes();
            this.getBarangays();
            this.getBuildings();

            if(token){
                this.onLoggedIn();
                this.getAuth();
            }
            $(document).ready( function () {
                setInterval( function () {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );

                setInterval( function () {
                    var table = $('#project_table').DataTable();
                    table.ajax.reload( null, false);
                }, 5000 );
            }); 
        },

        created() {
            /*this.getUser();*/
            this.menus=this.noAuthMenu;

            Bus.$on('loggedIn', ()=> {
                this.onLoggedIn();
            });

            Bus.$on('logout', ()=> {
                this.onLogout();
            });
        },
       /* updated: function () {
            this.$nextTick(function () {
                $(document).ready( function () {
                    var x = setInterval( function () {
                        var table = $('#application_table').DataTable();
                        table.ajax.reload( null, false);
                    }, 5000 );

                });
            })
        },*/
    }
</script>