<template>
	<section class="mx-2  my-5 pb-3">
		<nav aria-label="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'application' }">Applications</router-link></li>
                            <li class="breadcrumb-item active">{{application_no}}</li> 
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3  pull-right">
                            <li class="breadcrumb-item">
                                <p class="text-right my-1 font-weight-bold">{{datenow}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
	    <ul  class="nav nav-tabs nav-justified md-tabs indigo py-3" id="myTabJust" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just" aria-selected="true">Details</a>
			</li>
			<li class="nav-item" v-if="auth.role_id == 1 || auth.role_id == 2" >
				<a class="nav-link" id="edit-tab-just" data-toggle="tab" href="#edit-just" role="tab" aria-controls="edit-just" aria-selected="false">Edit</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="history-tab-just" data-toggle="tab" href="#history-just" role="tab" aria-controls="history-just" aria-selected="false">History</a>
			</li>
	    </ul>
	    <div class="tab-content card pt-5" id="myTabContentJust">
	      	<div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
	      		<div class="container">
				  <div class="row">
					    <div class="col-md-7">
					    	<h4 class="mb-3">Application No. {{application_no}}</h4>
	     					<form class="needs-validation" novalidate>
	        					<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<label class="text-muted" for="firstName">Applicant Name</label>
	            						<p>{{name}}</p>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<label class="text-muted" for="date">Applciation Date</label>
	                					<p>{{moment(date).format('lll')}}</p>
	            					</div>
	        					</div>
				     			<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<label class="text-muted" for="occupancy">Type of Occupancy</label>
	            						<p>{{building}}</p>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<label class="text-muted" for="status">Status</label>
		            					<div col-md-6 mb-3>
	          								<p>{{status}}</p>
		            					</div>
	            					</div>
	        					</div>
	        					<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<label class="text-muted" for="occupancy" v-if="auth.designation_id <= 4">Contact Number</label>
	            						<p>{{contact_no}}</p>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<label class="text-muted" for="status">Representative Name</label>
		            					<div col-md-6 mb-3>
	          								<p>{{representative}}</p>
		            					</div>
	            					</div>
	        					</div>
	        					<div class="row">
	          						<div class="col-md-12 mb-3">
	                					<label class="text-muted" for="location">location of Construction</label>
		            					<div col-md-6 mb-3>
	          								<p>{{location}}, {{barangay}}</p>
		            					</div>
	            					</div>
	        					</div>
	        					<div class="row" v-if="auth.role_id == 3 && auth.designation_id != 13">
	        						<div class="col-md-8 mb-3">
		        						<div class="form-group">
		                					<label class="control-label" for="status">Set Status</label>
	          								<div class="col-sm-12" >
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
									                <option value="" active>Please Select</option>
									                <option value="13">For Inspection</option>
									                <option value="3">Under Evaluation</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
											</div>
			            				</div>
		            				</div>
            					</div>
					            <hr class="mb-4">
					            <div class="row" v-if="auth.role_id < 5 && auth.division_id ==2">
					            	<div class="col-md-8 mb-3">
		          						<div class="form-group">
										<label class="control-label" for="name">Forward to:</label>
											<div class="col-sm-12">
												<select class="browser-default custom-select mb-4" v-model="forward" id="forward" name="forward">
												 	<option value="">Choose personnel</option>
									                <option v-for="(user, i) in users" :value='user' >{{user.designation.name}} - {{user.title.prefix}} {{user.name}}</option>
									            </select>
												<span  v-if="errors.status_id" class="text-danger col-sm-6">{{errors.status_id[0]}}</span>
											</div>
										</div>
									</div>
	          						<div class="col-md-4 mb-3">
	          							<br/>
                						<button type="button" class="btn btn-success px-3" v-on:click="ForwardApplication()"><i class="fa fa-mail-forward" aria-hidden="true"></i></button>
	            					</div>
	        					</div>
	        					<div class="row" v-if="auth.role_id == 6 && auth.division_id ==2">
					            	<div class="col-md-8 mb-3">
		          						<div class="form-group">
										<label class="control-label" for="name">Set Status:</label>
											<div class="col-sm-12">
												<select class="browser-default custom-select mb-4" v-model="status_id" id="status_id" name="status_id" @change="setStatus($event)" :placeholder='status'>
			            							<option value="">Choose Status</option>
									                <option value="6">For release</option>
									                <option value="7">Released</option>
									            </select>
												<span  v-if="errors.forward" class="text-danger col-sm-6">{{errors.forward[0]}}</span>
											</div>
										</div>
									</div>
	        					</div>
					            <hr class="mb-4">
					        </form>
				   	 	</div>
					    <div class="col-md-5">
					    	<!-- <div class="form-group purple-border">
							  <label for="remark" class="indigo-text"><i class="fa fa-pencil"></i>  Remarks</label>
							  <textarea class="form-control" id="remark" rows="10" name="remark" v-model="remark" ></textarea>
							</div>
							<button type="button" class="btn btn-secondary pull-right" v-on:click="SubmitRemark()">Submit Remarks</button> -->
							<div class="media d-block d-md-flex mt-3" v-for="(listremark, i) in listremarks">
						    	<div class="media-body text-center text-md-left ml-md-3 ml-0">
						      		<h6 class="font-weight-bold mt-0">{{moment(listremark.updated_at).format('lll')}}</h6>
							      	<p class="text-muted line">{{listremark.remark}}</p>
							    </div>
							</div>
							<div class="form-group mt-4">
						        <label for="remark" class="indigo-text"><i class="fa fa-pencil"></i>  Your Remarks</label>
						        <textarea class="form-control" id="remark" rows="5" name="remark" v-model="remark"></textarea>
						        <div class="text-center my-4">
						          <button class="btn btn-primary btn-sm" type="submit" v-on:click="SubmitRemark()">Submit Remarks</button>
						        </div>
						    </div>
					    </div>
				  	</div>
				</div>
	      	</div>
	      	<div class="tab-pane fade" id="edit-just" role="tabpanel" aria-labelledby="edit-tab-just">
	      		<div class="container">
				  	<div class="row">
					    <div class="col-md-2"></div>
					    <div class="col-md-8">
					    	<form class="form-horizontal" action="/applications" method="post">
					    		<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="name">Application No.:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="application_no" placeholder="Application Number" name="application_no" v-model="application_no"/>
											</div>
											<span v-if="errors.application_no" class="text-danger">{{errors.application_no[0]}}</span>
										</div>
	          						</div>
	        					</div>
								<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="name"> Name:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="name" placeholder="Enter Applicant Name" name="name" v-model="name"/>
											</div>
											<span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
										</div>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<div class="form-group">
											<label class="control-label" for="name">Type of Occupancy:</label>
											<div class="col-sm-12">
												 <select class="browser-default custom-select mb-4" v-model="building_id" id="building_id" name="building_id">
												 	<option value="">Choose option</option>
									                <option v-for="(building, j) in buildings" :value='building.id' >{{building.name}}</option>
									            </select>
												<span v-if="errors.building_id" class="text-danger">{{errors.building_id[0]}}</span>
											</div>
										</div>
	            					</div>
	        					</div>

	        					<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="name">Contact Number:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="contact_no" placeholder="Enter Contact Number" name="name" v-model="contact_no"/>
											</div>
											<span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
										</div>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<div class="form-group">
											<label class="control-label" for="name">Representative Name:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="representative" placeholder="Enter Contact Number" name="name" v-model="representative"/>
											</div>
											<span v-if="errors.representative" class="text-danger">{{errors.representative[0]}}</span>
										</div>
	            					</div>
	        					</div>

	        					<div class="row">
	          						<div class="col-md-6 mb-3">
	            						<div class="form-group">
											<label class="control-label" for="name">Location:</label>
											<div class="col-sm-12">
												<input type="text" class="form-control" id="location" placeholder="Enter Location" name="location" v-model="location"/>
											</div>
											<span v-if="errors.location" class="text-danger">{{errors.location[0]}}</span>
										</div>
	          						</div>
	          						<div class="col-md-6 mb-3">
	                					<div class="form-group">
											<label class="control-label" for="name">Barangay:</label>
											<div class="col-sm-12">
												 <select class="browser-default custom-select mb-4" v-model="barangay_id" id="barangay_id" name="barangay_id">
												 	<option value="">Choose option</option>
									                <option v-for="(barangay, k) in barangays" :value='barangay.id' >{{barangay.name}}</option>
									            </select>
												<span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
											</div>
										</div>
	            					</div>
	        					</div>
	        					<div class="row">
									<div class="col-md-6 mb-3">
										<button type="button" class="btn btn-default pull-right" v-on:click="UpdateApplication()">Update</button>	
									</div>
									<div class="col-md-6 mb-3">
										<router-link  class="btn btn-primary" :to="{ name: 'application' }">Back</router-link>	
									</div>
								</div>
							</form>
					    </div>
					    <div class="col-md-2"></div>
				  	</div>
				</div>
	      	</div>
	      	<div class="tab-pane fade" id="history-just" role="tabpanel" aria-labelledby="history-tab-just">
		      	<div class="container">
		      		<!-- <div class="row">
					    <div class="col-md-3">
					    	<div class="btn btn-secondary btn-sm form-control">
					      		<input type="file" id="file" ref="file" v-on:change="handleFileUpload()">
					   		</div>
						</div>
					    <div class="col-md-1">
					   		<button class="btn btn-primary btn-sm" v-on:click="submitFile()">Ok</button>
						</div>
						 <div class="col-md-8">
					   		<a v-for="(file, i) in files" :href="'/storage/uploads/'+file.path" :download="file.filename">{{file.filename}} | </a>
						</div>
						<div class="col-md-1">
					   		<button class="btn btn-primary btn-sm" v-on:click="pdf()">print</button>
						</div>
					</div> -->
				  	<div class="row">
				    	<div class="col-md-1"></div>
					    <div class="col-md-10">
					    	<div class="col-md-1"></div>
							<button class="btn btn-primary btn-sm" v-on:click="pdf()"  v-if="auth.designation_id <= 4" ><i class="fa fa-print"></i> print</button>
					    	<ul class="list-group">
								<li class="list-group-item">
									<div class="row">
				  						<div class="col-md-3">
				    						<label class="text-muted" for="firstName">Designation</label>
				  						</div>
				  						<div class="col-md-3">
				        					<label class="text-muted" for="lastName">Status</label>
				    					</div>
				    					<div class="col-md-3">
				        					<label class="text-muted" for="lastName">Date</label>
				    					</div>
				    					<div class="col-md-3">
				        					<label class="text-muted" for="lastName">Remarks</label>
				    					</div>
									</div>
								</li>
								<li class="list-group-item" v-for="(tracking, i) in trackings">
									<div class="row">
				  						<div class="col-md-3">
				    						<p>{{tracking.user.designation.name}}</p>
				  						</div>
				  						<div class="col-md-3">
				        					<p>{{tracking.status == null ? '': tracking.status.name}}</p>
				    					</div>
				    					<div class="col-md-3">
				        					<p>{{moment(tracking.updated_at).format('lll')}}</p>
				    					</div>
				    					<div class="col-md-3">
				        					<p class="line">{{tracking.remark}}</p>
				    					</div>
									</div>
								</li>
							</ul>
					    </div>
					    <div class="col-md-1"></div>
					</div>
					<br/>
				</div>
	      	</div>

	      	<div class="tab-pane fade" id="#" role="tabpanel" aria-labelledby="#">
		      <!-- 	<div class="container" id="routingslip">
		      		<div class="row" style="position: fixed; top: 0; width: 100%;">
						<img src="/img/baguioseal.png" alt="logo" style="float: left;width: 12%;height:12%;background: #555;padding-right: 30px;">		
						<p>&nbsp;&nbsp;&nbsp;Republic of the Philippines <br />
							<strong>&nbsp;&nbsp;&nbsp;BUILDINGS AND ARCHITECTURE OFFICE</strong> <br/>
							&nbsp;&nbsp;&nbsp;City Government of Baguio
						</p>
					</div>
			        <div style="position: auto; overflow: auto; padding: 16px; margin-bottom: 200px;">
			       		<hr size="30px">
			       		<p>
			       			Name of Applicant:<strong> {{name}} </strong><br />
			       			Representative's Name (if applicable):<strong> {{representative}} </strong><br />
			       			Contact number of applicant/representative:<strong> {{contact_no}} </strong><br />
			       			Location of Construction:<strong> {{location}} </strong><br />
			       			Date and Time Received:<strong> {{moment(date).format('lll')}} </strong><br />
			       		</p>
				        <br/>
				        <h3 class="text-center"><u>Routing Slip</u></h3>
	              		<p class="line" v-if="architectural != null && architectural.remark != null"><strong>Architectural: </strong>{{ moment(architectural.updated_at).format('lll')}} - {{architectural.remark}}</p>
	                  	<p class="line" v-if="linegrade != null && linegrade.remark != null"><strong>Line and Grade: </strong>{{moment(linegrade.updated_at).format('lll')}} - {{linegrade.remark}}</p>
	                  	<p class="line" v-if="structural != null && structural.remark != null"><strong>Structural: </strong>{{moment(structural.updated_at).format('lll')}} - {{structural.remark}}</p>
	                  	<p class="line" v-if="electrical != null && electrical.remark != null"><strong>Electrical: </strong>{{moment(electrical.updated_at).format('lll')}} - {{electrical.remark}}</p>
	                  	<p class="line" v-if="sanitary != null && sanitary.remark != null"><strong>Sanitary: </strong>{{moment(sanitary.updated_at).format('lll')}} - {{sanitary.remark}}</p>
	                  	<p class="line" v-if="mechanical != null && mechanical.remark != null"><strong>Mechanical: </strong>{{moment(mechanical.updated_at).format('lll')}} - {{mechanical.remark}}</p>
	                  	<p class="line" v-if="cbo != null && cbo.remark != null"><strong>City Building Official: </strong>{{moment(cbo.updated_at).format('lll')}} - {{cbo.remark}}</p>
	                  	<p class="line" v-if="asstcbo != null && asstcbo.remark != null"><strong>Asst. City Building Official: </strong>{{moment(asstcbo.updated_at).format('lll')}} - {{asstcbo.remark}}</p>
	                  	<p class="line" v-if="chief != null && chief.remark != null"><strong>Chief Processing: </strong>{{moment(chief.updated_at).format('lll')}} - {{chief.remark}}</p>
	                  	<p class="line" v-if="receiving != null && receiving.remark != null"><strong>Receiving: </strong>{{moment(receiving.updated_at).format('lll')}} - {{receiving.remark}}</p>
	                  	<p class="line" v-if="releasing != null && releasing.remark != null"><strong>Releasing: </strong>{{moment(releasing.updated_at).format('lll')}} - {{releasing.remark}}</p>
                  	</div>
                  	<div cstyle="position: fixed; bottom: 0px; width: 100%; margin-top: 200px;">
                  		<p class="left">
                  			Tel. No. (074) 442-2503 | Fax. No. (074) 443-9239</p>
						<p class="right">
							website: www.baguio.gov.ph
						</p>
					</div>
				</div> -->
				<div id="routingslip" class="page">
					<table>
						<thead>
							<tr>
								<td>
									<div style="display:flex;align-items:center;">
										<img src="/img/baguioseal.png" alt="logo" style="float: left; width: 12%;height:12%;background: #555;padding-left: 10px;padding-right: 30px;">		
										<p>Republic of the Philippines <br />
											<strong>BUILDINGS AND ARCHITECTURE OFFICE</strong> <br/>
											City Government of Baguio
										</p>
									</div>
									<hr size="30px">
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
						       		<p>
						       			Name of Applicant:<strong> {{name}} </strong><br />
						       			Representative's Name (if applicable):<strong> {{representative}} </strong><br />
						       			Contact number of applicant/representative:<strong> {{contact_no}} </strong><br />
						       			Location of Construction:<strong> {{location}} </strong><br />
						       			Date and Time Received:<strong> {{moment(date).format('lll')}} </strong><br />
						       		</p>
							        <h3 class="text-center"><u>Routing Slip</u></h3>
				              		<p class="line" v-if="architectural != null && architectural.remark != null"><strong>Architectural: </strong>{{ moment(architectural.updated_at).format('lll')}} - {{architectural.remark}}</p>
				                  	<p class="line" v-if="linegrade != null && linegrade.remark != null"><strong>Line and Grade: </strong>{{moment(linegrade.updated_at).format('lll')}} - {{linegrade.remark}}</p>
				                  	<p class="line" v-if="structural != null && structural.remark != null"><strong>Structural: </strong>{{moment(structural.updated_at).format('lll')}} - {{structural.remark}}</p>
				                  	<p class="line" v-if="electrical != null && electrical.remark != null"><strong>Electrical: </strong>{{moment(electrical.updated_at).format('lll')}} - {{electrical.remark}}</p>
				                  	<p class="line" v-if="sanitary != null && sanitary.remark != null"><strong>Sanitary: </strong>{{moment(sanitary.updated_at).format('lll')}} - {{sanitary.remark}}</p>
				                  	<p class="line" v-if="mechanical != null && mechanical.remark != null"><strong>Mechanical: </strong>{{moment(mechanical.updated_at).format('lll')}} - {{mechanical.remark}}</p>
				                  	<p class="line" v-if="cbo != null && cbo.remark != null"><strong>City Building Official: </strong>{{moment(cbo.updated_at).format('lll')}} - {{cbo.remark}}</p>
				                  	<p class="line" v-if="asstcbo != null && asstcbo.remark != null"><strong>Asst. City Building Official: </strong>{{moment(asstcbo.updated_at).format('lll')}} - {{asstcbo.remark}}</p>
				                  	<p class="line" v-if="chief != null && chief.remark != null"><strong>Chief Processing: </strong>{{moment(chief.updated_at).format('lll')}} - {{chief.remark}}</p>
				                  	<p class="line" v-if="receiving != null && receiving.remark != null"><strong>Receiving: </strong>{{moment(receiving.updated_at).format('lll')}} - {{receiving.remark}}</p>
				                  	<p class="line" v-if="releasing != null && releasing.remark != null"><strong>Releasing: </strong>{{moment(releasing.updated_at).format('lll')}} - {{releasing.remark}}</p>
				                </td>
			                </tr>
						</tbody>
						<tfoot class="footer">
							<tr>
								<td>
									<hr size="30px">
				                	<p>Tel. No. (074) 442-2503 | Fax. No. (074) 443-9239 | Website: www.baguio.gov.ph</p>
				            	</td>
				            </tr>
						</tfoot>
					</table>
					
				</div>
	      	</div>
	      	<!-- <table class="container" id="routingslip">
				<thead >
					<div class="row">
						<img src="/img/baguioseal.png" alt="logo" style="float: left; width: 12%;height:12%;background: #555;padding-right: 10px;">		
						<p>Republic of the Philippines <br />
							<strong>BUILDINGS AND ARCHITECTURE OFFICE</strong> <br/>
							City Government of Baguio
						</p>
					</div>
				</thead>
				<tbody>
					<div >
			       		<hr size="30px">
			       		<p>
			       			Name of Applicant:<strong> {{name}} </strong><br />
			       			Representative's Name (if applicable):<strong> {{representative}} </strong><br />
			       			Contact number of applicant/representative:<strong> {{contact_no}} </strong><br />
			       			Location of Construction:<strong> {{location}} </strong><br />
			       			Date and Time Received:<strong> {{moment(date).format('lll')}} </strong><br />
			       		</p>
				        <br/>
				        <h3 class="text-center"><u>Routing Slip</u></h3>
	              		<p class="line" v-if="architectural != null && architectural.remark != null"><strong>Architectural: </strong>{{ moment(architectural.updated_at).format('lll')}} - {{architectural.remark}}</p>
	                  	<p class="line" v-if="linegrade != null && linegrade.remark != null"><strong>Line and Grade: </strong>{{moment(linegrade.updated_at).format('lll')}} - {{linegrade.remark}}</p>
	                  	<p class="line" v-if="structural != null && structural.remark != null"><strong>Structural: </strong>{{moment(structural.updated_at).format('lll')}} - {{structural.remark}}</p>
	                  	<p class="line" v-if="electrical != null && electrical.remark != null"><strong>Electrical: </strong>{{moment(electrical.updated_at).format('lll')}} - {{electrical.remark}}</p>
	                  	<p class="line" v-if="sanitary != null && sanitary.remark != null"><strong>Sanitary: </strong>{{moment(sanitary.updated_at).format('lll')}} - {{sanitary.remark}}</p>
	                  	<p class="line" v-if="mechanical != null && mechanical.remark != null"><strong>Mechanical: </strong>{{moment(mechanical.updated_at).format('lll')}} - {{mechanical.remark}}</p>
	                  	<p class="line" v-if="cbo != null && cbo.remark != null"><strong>City Building Official: </strong>{{moment(cbo.updated_at).format('lll')}} - {{cbo.remark}}</p>
	                  	<p class="line" v-if="asstcbo != null && asstcbo.remark != null"><strong>Asst. City Building Official: </strong>{{moment(asstcbo.updated_at).format('lll')}} - {{asstcbo.remark}}</p>
	                  	<p class="line" v-if="chief != null && chief.remark != null"><strong>Chief Processing: </strong>{{moment(chief.updated_at).format('lll')}} - {{chief.remark}}</p>
	                  	<p class="line" v-if="receiving != null && receiving.remark != null"><strong>Receiving: </strong>{{moment(receiving.updated_at).format('lll')}} - {{receiving.remark}}</p>
	                  	<p class="line" v-if="releasing != null && releasing.remark != null"><strong>Releasing: </strong>{{moment(releasing.updated_at).format('lll')}} - {{releasing.remark}}</p>
                  	</div>
				</tbody>
				<tfoot>
					<div >
                  		<p class="left">
                  			Tel. No. (074) 442-2503 | Fax. No. (074) 443-9239</p>
						<p class="pull-left">
							website: www.baguio.gov.ph
						</p>
					</div>
				</tfoot>
			</table> -->
	    </div>
    </section>
</template>

<script>
	import printJS from 'print-js'
	export default {
	props: ['id', 'auth', 'prefix'],
	data() {
		return {
			application_no:'',
			remark:'Complied',
			datenow:'',
			name:'',
			contact_no:'',
			representative:'',
			date:'',
			barangay:'',
			building:'',
			status:'',
			location:'',
			building_id:'',
			barangay_id:'',
			errors:[],
			users:[],
			forward:[],
			trackings:[],
			statuses:[],
			barangays:[],
			buildings:[],
			status_id:'',
			official_id:'',
			files:[],
			password:'',
            password_confirmation:'',
            routings:[],
            listremarks:[],
            releasing:[],
			receiving:[],
			architectural:[],
			linegrade:[],
			structural:[],
			electrical:[],
			sanitary:[],
			mechanical:[],
			cbo:[],
			asstcbo:[],
			chief:[],
			routings:[],
		}
	},
	mounted() {
		this.getApplications();
		this.getUsers();
		this.getStatus();
		this.getBarangays();
        this.getBuildings();
        this.getSlips();
        this.time();
        this.getRoutings();
        this.getPrint();
        this.getRemarks();
/*		this.getAuth();*/
	},
	methods: {
		moment(date){
            return moment(date);
        },
        /*getAuth(){
            axios.get('/api/auth').then(response => {
                this.auth = response.data.role_id
            })
        },*/
        handleFileUpload(){
        	this.file = this.$refs.file.files[0];
      	},
      	time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
      	submitFile(){
      		let formData = new FormData();
            formData.append('file', this.file);
            formData.append('application_id', this.id);
            axios.post( '/api/files',
                    formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(response){
	            swal(
				    'Uploaded File!',
				    'success'
				)
			    axios({
					method: 'GET',
					url: '/api/slip/'+response.data.application_id
				}).then(response =>{
					var slip = response.data;
					this.files = slip;
				})
            }.bind(this)).catch(function(err){
                console.log(err)
            });
		},
		UpdateApplication() {
			axios({
				method: 'PUT',
				url: '/api/applications/'+this.id,
				data: {
					application_no: this.application_no,
					name: this.name,
					status_id: this.status_id,
					official_id: this.official_id,
					location: this.location,
					building_id: this.building_id,
					barangay_id: this.barangay_id
				}
			}).then(response =>{
				swal(
                  'Congratulations!',
                  'You successfully edited application ' + response.data.application_no,
                  'success'
                )
			}).catch(error =>{
				if (error.response.status == 422) {
					this.errors = error.response.data.errors
				}
			})
		},
	    getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getSlips(){
            axios.get('/api/slip/'+this.id).then(response => {
                this.files = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
	    getApplications(){
	        axios({
				method: 'GET',
				url: '/api/applications/'+this.id
			}).then(response =>{
				var application = response.data;
				this.application_no=application.application_no
				this.name=application.name
				this.contact_no=application.contact_no
				this.representative=application.representative
				this.date=application.created_at
				this.status=application.status.name
				this.location=application.location
				this.building=application.building.name
				this.barangay=application.barangay.name
				this.status_id = application.status_id
				this.barangay_id = application.barangay_id
				this.building_id = application.building_id
				this.official_id = application.official_id
				this.trackings = application.trackings;
			}).catch(error =>{
				console.log(error)
			})
	    },
	    getRoutings(){
	        axios({
				method: 'GET',
				url: '/api/applications/'+this.id
			}).then(response =>{
				var routing = response.data;
				this.routings = routing.trackings.reverse();
				this.releasing = this.routings.find( ({ designation_id }) => designation_id === 2 ) || null;
				this.receiving = this.routings.find( ({ designation_id }) => designation_id === 3 ) || null;
				this.architectural = this.routings.find( ({ designation_id }) => designation_id === 5 ) || null;
				this.linegrade = this.routings.find( ({ designation_id }) => designation_id === 6 ) || null;
				this.structural = this.routings.find( ({ designation_id }) => designation_id === 7 ) || null;
				this.electrical = this.routings.find( ({ designation_id }) => designation_id === 8 ) || null;
				this.sanitary = this.routings.find( ({ designation_id }) => designation_id === 9 ) || null;
				this.mechanical = this.routings.find( ({ designation_id }) => designation_id === 10 ) || null;
				this.cbo = this.routings.find( ({ designation_id }) => designation_id === 11 ) || null;
				this.asstcbo = this.routings.find( ({ designation_id }) => designation_id === 12 ) || null;
				this.chief = this.routings.find( ({ designation_id }) => designation_id === 13 ) || null;
			}).catch(error =>{
				console.log(error)
			})
	    },
	    getUsers(){
	        if(division == 2){
	    		axios.get('/api/user/building').then(response => {
	            	this.users = response.data.data
	        	})
	    	} else if(division == 3){
	    		axios.get('/api/user/project').then(response => {
		            this.users = response.data.data
		        })
	    	} else {
	    		axios.get('/api/users').then(response => {
	            	this.users = response.data.data
	        	})
	    	}
	    },
	    getStatus(){
	        axios.get('/api/statuses').then(response => {
	            var status = response.data.data
	            this.statuses = status
	        })
	    },
	    getPrint(){
	        axios({
				method: 'GET',
				url: '/api/print/'+this.id
			}).then(response =>{
				var route = response.data
				this.routings = route
			}).catch(error =>{
				console.log(error)
			})
	    },
	    getRemarks(){
	    	axios({
				method: 'POST',
				url: '/api/listremarks',
				data: {
					user_id:user,
					application_id: this.id
				}
			}).then(response =>{
				var listremarks = response.data
				this.listremarks = listremarks
			}).catch(error =>{
				if (error.response.status == 422) {
					this.errors = error.response.data.errors
				}
			})
	    },
	    setStatus(){
    		swal({
			  	title: 'Are you sure?',
				text: "Change the application status!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes'
			}).then((result) => {
			  if (result.value) {
				axios({
						method: 'PUT',
						url: '/api/applications/'+this.id,
						data: {
							application_no: this.application_no,
							name: this.name,
							status_id: this.status_id,
							location: this.location,
							building_id: this.building_id,
							barangay_id: this.barangay_id,
							official_id: this.status_id == 6 ? 8 : this.status_id == 13 ? user : this.status_id == 3 ? user : null
						}
					}).then(response =>{
						var response = response.data
						swal(
							this.application_no,
					    	'Application status successfully changed!',
					    	'success'
					    )
					    axios({
							method: 'GET',
							url: '/api/applications/'+this.id
						}).then(response =>{
							var application = response.data;
							this.application_no=application.application_no
							this.name=application.name
							this.contact_no=application.contact_no
							this.representative=application.representative
							this.date=application.created_at
							this.status=application.status.name
							this.location=application.location
							this.building=application.building.name
							this.barangay=application.barangay.name
							this.status_id = application.status_id
							this.barangay_id = application.barangay_id
							this.building_id = application.building_id
							this.official_id = application.official_id
							var tracking = application.trackings;
							this.trackings = tracking;

							axios({
								method: 'POST',
									url: '/api/trackings',
									data: {
										application_id: this.id,
										status_id: this.status_id,
										user_id: user
									}
							}).then(response =>{
								axios({
									method: 'GET',
									url: '/api/applications/'+this.id
								}).then(response =>{
									var application = response.data;
									this.application_no=application.application_no
									this.name=application.name
									this.contact_no=application.contact_no
									this.representative=application.representative
									this.date=application.created_at
									this.status=application.status.name
									this.location=application.location
									this.building=application.building.name
									this.barangay=application.barangay.name
									this.status_id = application.status_id
									this.barangay_id = application.barangay_id
									this.building_id = application.building_id
									this.official_id = application.official_id
									var tracking = application.trackings;
									this.trackings = tracking;
								})
								this.$router.push('/applications');
							}).catch(error =>{
								alert('Something went wrong')
							})
						}).catch(error =>{
							console.log(error)
						})
					}).catch(error =>{
						if (error.response.status == 422) {
							this.errors = error.response.data.errors
						}
					})
			  	}
			})     
	    },
	    ForwardApplication(){
	    	swal({
			  title: 'Are you sure?',
			  text: "The application will be forwarded!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes, forward it!'
			}).then((result) => {
			  	if (result.value) {
					axios({
						method: 'PUT',
						url: '/api/applications/'+this.id,
						data: {
							application_no: this.application_no,
							name: this.name,
							contact_no:this.contact_no,
							representative:this.representative,
							status_id: this.forward.role_id,
							official_id: this.forward.id,
							location: this.location,
							building_id: this.building_id,
							barangay_id: this.barangay_id

						}
					}).then(response =>{
						this.forward=""
						var tracking = response.data
						swal(
							this.application_no,
					    	'The application has been forwarded!',
					    	'success'
					    )
						axios({
							method: 'POST',
							url: '/api/trackings',
							data: {
								application_id: this.id,
								status_id: tracking.status_id,
								user_id: tracking.official_id,
								designation_id: this.auth.designation_id
							}
						}).then(response =>{
							this.$router.push('/applications');
						}).catch(error =>{
							if (error.response.status == 422) {
								this.errors = error.response.data.errors
							}
						})
					}).catch(error =>{
						if (error.response.status == 422) {
							this.errors = error.response.data.errors						
						}
					})
			  	}
			})    
        },
        SubmitRemark() {
			axios({
				method: 'PUT',
				url: '/api/remark',
				data: {
					application_id: this.id,
					designation_id: this.auth.designation_id,
					auth:user,
					remark: this.remark,
				}
			}).then(response =>{
				swal(
                  'Congratulations!',
                  'You successfully submitted your remarks',
                  'success'
                )
	        	axios({
					method: 'GET',
					url: '/api/applications/'+this.id
				}).then(response =>{
					var application = response.data;
					var tracking = application.trackings;
					this.trackings = tracking;
				})
				this.getRemarks();
				this.getApplications();
				this.getRoutings();
			}).catch(error =>{
				if (error.response.status == 422) {                   
					this.errors = error.response.data.errors
				}
			})
		},
		pdf() {
			printJS({
				printable: 'routingslip', 
				type: 'html',
				documentTitle: 'Routing Slip',
				/*targetStyles: ['*'],*/
				style: '.text-center { text-align: center;} .footer { position: relative; left: 0; bottom: 0; width: 100%;} .container {height:100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;border:1px solid"} .page { width: 21.59cm; height: 33.02cm;}' 
			})
		},
	}
}
</script>

<!-- '.text-center { text-align: center;} hr {position:height: 12px; background: black;} .line { white-space: pre-line } .footer { position:fixed;bottom:0px;left:0px;width:100%;color:#CCC;background:#333;padding:8px;} .header {position:fixed;top:0px;left:0px;width:100%;} .body {background-color: #CCC; margin:100px 100px 100px 100px;} .right {right: 0; position: fixed; bottom: 0; width: 100%;} .left { left: 0; position: fixed; bottom: 0; width: 100%;}' -->
