<template>
    <section class="mx-2  my-5 pb-3">
        <nav aria-label="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3">
                            <li class="breadcrumb-item active"><router-link :to="{ name: 'application' }">Applications</router-link></li>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol class="breadcrumb grey lighten-3 pull-right">
                            <li class="breadcrumb-item">
                                <p class="text-right my-1 font-weight-bold">{{datenow}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
      	<div class="card card-index">
            <h5 class="card-header indigo white-text text-center py-4">
              <strong>Application Lists</strong>
            </h5>
            <br/>
            <div class="form-group" >
                <a href="" class="btn btn-success pull-right" data-toggle="modal" data-target="#modalApplicationForm" v-if="auth.role_id == 1  || auth.role_id == 2">Add new application</a>
            </div>
             <!--  Add new application Modal -->
            <div class="modal fade right" id="modalApplicationForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-full-height modal-right modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Add New Application</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/users" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="name">Type of Occupancy:</label>
                                    <div class="col-sm-12">
                                        <select class="browser-default custom-select mb-4" v-model="building_id" id="building_id" name="building_id">
                                            <option value="">Choose occupancy</option>
                                            <option v-for="(building, i) in buildings" :value='building.id' >{{building.name}}</option>
                                        </select>
                                        <span v-if="errors.building_id" class="text-danger">{{errors.building_id[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Type of Permit:</label>
                                    <div class="col-sm-12">
                                         <select class="browser-default custom-select mb-4" v-model="type_id" id="type_id" name="type_id">
                                            <option value="">Choose permit</option>
                                            <option v-for="(type, i) in types" :value='type.name' >{{type.name}} - {{type.description}}</option>
                                        </select>
                                        <span v-if="errors.type_id" class="text-danger">{{errors.type_id[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Application No.:</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="application_no" placeholder="Enter Application Number" name="application_no" v-model="application_no"/>
                                        <span v-if="errors.application_no" class="text-danger">{{errors.application_no[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Applicant Name:</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="name" placeholder="Enter Applicant Name" name="name" v-model="name"/>
                                        <span v-if="errors.name" class="text-danger">{{errors.name[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Contact Number:</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="name" placeholder="Enter Contact Number" name="contact_no" v-model="contact_no"/>
                                        <span v-if="errors.contact_no" class="text-danger">{{errors.contact_no[0]}}</span>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label" for="name">Representative Name:</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="name" placeholder="Enter N/A if not applicable" name="representative" v-model="representative"/>
                                        <span v-if="errors.representative" class="text-danger">{{errors.representative[0]}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="name">Location of Construction</label>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="location" placeholder="Enter Location" name="location" v-model="location"/>
                                                <span v-if="errors.location" class="text-danger">{{errors.location[0]}}</span>
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="browser-default custom-select mb-4" v-model="barangay_id" id="barangay_id" name="barangay_id">
                                                    <option value="">Choose barangay</option>
                                                    <option v-for="(barangay, i) in barangays" :value='barangay.id' >{{barangay.name}}</option>
                                                </select>
                                                <span v-if="errors.barangay_id" class="text-danger">{{errors.barangay_id[0]}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-default" v-on:click="addNewApplication()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-lg-5 pt-0">
              <table id="application_table" ref="application_table" class="table .0 table-bordered hover" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Application Date</th>
                    <th>Application No.</th>
                    <th>Type</th>
                    <th>Applicant Name</th>
                    <th>Status</th>
                    <th v-if="role <3" >Designation</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Application Date</th>
                    <th>Application No.</th>
                    <th>Type</th>
                    <th>Applicant Name</th>
                    <th>Status</th>
                    <th v-if="role <3">Designation</th>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
    </section>
</template>

<script>
	export default {
    props: ['auth', 'prefix'],
	data(){
        return {
            url: '/api/applications',
            types:[],
            datenow:'',
            buildings:[],
            barangays:[],
            application_no:'',
            contact_no:'',
            representative:'',
            name:'',
            status_id:'9',
            type_id:'',
            building_id:'',
            barangay_id:'',
            official_id:'',
            location:'',
            errors: [],
            password:'',
            password_confirmation:'',
            role: role,
        }
    },
    mounted(){
        this.getTypes();
        this.getBarangays();
        this.getBuildings();
        this.time();
    },
    created(){
        if(role== 3){
            this.getOnprocess();
        } else if(role==4) {
            this.getCompliance();
        } else if(role==10) {
            this.getLegal();
        } else if(role==6) {
            this.getSignature();
        } else {
            this.getApplications();
        }
    },
    methods: {
        moment() {
            return moment();
        },
        time() {
            var self = this
            this.datenow = moment().format('MMMM Do YYYY, h:mm:ss a');
            setTimeout(self.time, 1000)
        },
        addNewApplication() {
            this.errors = []
            axios({
                method: "POST",
                url: "/api/applications",
                data: {
                    application_no: this.type_id + ' ' + this.application_no,
                    name: this.name,
                    contact_no: this.contact_no,
                    representative: this.representative,
                    status_id: this.status_id,
                    official_id: this.auth.id,
                    location: this.location,
                    building_id: this.building_id,
                    barangay_id: this.barangay_id,
                }
            }).then(response => {
                this.application_no=""
                this.name=""
                this.contact_no=""
                this.representative=""
                this.type_id=""
                this.location=""
                this.building_id=""
                this.barangay_id=""
                axios({
                    method: 'POST',
                    url: '/api/trackings',
                    data: {
                        application_id: response.data.id,
                        status_id: response.data.status_id,
                        user_id: this.auth.id
                    }
                })
                swal(
                  'Congratulations!',
                  'You successfully added new application',
                  'success'
                )
                $(document).ready( function () {
                    var table = $('#application_table').DataTable();
                    table.ajax.reload();
                });
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                }
            })
        },
        getTypes(){
            axios.get('/api/types').then(response => {
                this.types = response.data
            })
        },
        getBuildings(){
            axios.get('/api/buildings').then(response => {
                this.buildings = response.data
            })
        },
        getBarangays(){
            axios.get('/api/barangays').then(response => {
                this.barangays = response.data
            })
        },
        getApplications(){
            $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "columnDefs": [{
                        "targets": [4],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        }, 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 4)
                            {
                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.header()).empty())
                                        .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );
                                        column.search(val ? '^'+val+'$' : '', true, false)
                                            .draw();
                                    });
                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/applications',
                        "type": "GET",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                if(data.status_id == 7){
                                    return (
                                        ''
                                    )
                                } else if(data.status_id == 8) {
                                    return (
                                        '<a data-id="' + data.id + '" class="btn btn-sm btn-warning px-3 receive-application">Receive</a>'
                                    )
                                } else {
                                     return (
                                        data.user.name
                                    )
                                }
                            }
                        },
                    ]
                });
                $('#application_table').on('click','.receive-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Receive the application!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/applications/'+id,
                            }).then((response) => {
                                var application = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/applications/'+id,
                                    data: {
                                        application_no: application.application_no,
                                        name: application.name,
                                        type_id: application.type_id,
                                        contact_no: application.contact_no,
                                        representative: application.representative,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        status_id: 9,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        official_id: user
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.application_no,
                                        'The application has been received!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/trackings',
                                        data: {
                                            application_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(application_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });
                
                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
        getOnprocess(){
           $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/process',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                        
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                    ]
                });

                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
        getCompliance(){
           $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/compliance',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                            
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-application">Return</a>'
                                )
                              
                            }
                        }
                    ]
                });
                $('#application_table').on('click','.return-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Return the application!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/applications/'+id,
                            }).then((response) => {
                                var application = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/applications/'+id,
                                    data: {
                                        application_no: application.application_no,
                                        name: application.name,
                                        contact_no: application.contact_no,
                                        representative: application.representative,
                                        type_id: application.type_id,
                                        status_id: 8,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        official_id: null
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.application_no,
                                        'The application has been forwarded!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/trackings',
                                        data: {
                                            application_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(application_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });

                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
        getLegal(){
           $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "ajax": {
                        "url": '/api/legal',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                            
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                '<a data-id="' + data.id + '" class="btn btn-sm btn-danger px-3 return-application">Return</a>'
                                )
                              
                            }
                        }
                    ]
                });
                $('#application_table').on('click','.return-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    swal({
                        title: 'Are you sure?',
                        text: "Return the application!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes'
                    }).then((result) => {
                        if (result.value) {
                            axios({
                                method: "GET",
                                url: '/api/applications/'+id,
                            }).then((response) => {
                                var application = response.data
                                axios({
                                    method: "PUT",
                                    url: '/api/applications/'+id,
                                    data: {
                                        application_no: application.application_no,
                                        name: application.name,
                                        contact_no: application.contact_no,
                                        representative: application.representative,
                                        type_id: application.type_id,
                                        status_id: 8,
                                        barangay_id: application.barangay_id,
                                        building_id: application.building_id,
                                        location: application.location,
                                        official_id: null
                                    }
                                }).then((response) => {
                                    var data = response.data
                                    swal(
                                        data.application_no,
                                        'The application has been forwarded!',
                                        'success'
                                    )
                                    axios({
                                        method: 'POST',
                                        url: '/api/trackings',
                                        data: {
                                            application_id: data.id,
                                            status_id: data.status_id,
                                            user_id: user
                                        }
                                    }).then((response) =>{
                                        var table = $(application_table).DataTable();
                                        table.ajax.reload();
                                    })
                                });
                            });
                        }
                    })
                });

                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
        getSignature(){
           $(document).ready( function () {
                var table = $('#application_table').DataTable({
                    "processing": false,
                    "ordering" : false,
                    "retrieve": true,
                    "paging": true,
                    "columnDefs": [{
                        "targets": [4],
                        "render": function ( data, type, full, meta ) {
                            if(type === 'filter'){
                                return $('#dataCheck').DataTable().cell(meta.row, meta.col).nodes().to$().find('input').val();
                            } else {
                                return data;
                            }
                        } 
                    },
                    { "orderable": false, "targets": 4 
                    }],
                    initComplete: function () {
                        this.api().columns().every(function (i) {
                            var column = this;
                            if (i == 4)
                            {
                                var select = $('<select><option value="..."></option></select>')
                                     .appendTo($(column.header()).empty())
                                                .on('change', function () {
                                                    var val = $(this).val();
                                                    column.search(val, true, false)
                                                        .draw(true);
                                                });
                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d.name + '">' + d.name + '</option>')
                                });
                            }
                        });
                    },
                    "ajax": {
                        "url": '/api/signature',
                        "type": "post",
                        "error": function (xhr, error, thrown) {
                            console.log(error)
                           
                        },
                        "data": {
                            user_id: user
                        }
                    },
                    "columns": [
                        {
                            "data": "created_at",
                            "render": function (data, type, row, meta) {
                              return moment(data).format('ll');
                            }
                        },
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {
                                return (
                                    /*'<a href="/applications/' + data.id + '" class="text-primary">' + data.application_no + '</a>'*/
                                    '<a data-id="' + data.id + '" class="view-application text-primary">' + data.application_no + '</a>'
                                )
                            }
                        },
                        {
                            "data": "building",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                        {
                            "data": "name",
                            "render": function (data, type, row, meta) {
                              return data
                            }
                        },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                              return data.name
                            }
                        },
                    ]
                });

                $('#application_table').on('click','.view-application',function (e) {
                    e.preventDefault();
                    var id = $(e.target).attr('data-id');
                    this.$router.push('/applications/'+id);
                }.bind(this));
            }.bind(this));
        },
        UpdatePassword() {
            axios({
                method: 'PATCH',
                url: '/api/updatepw/',
                data: {
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }
            }).then(response =>{
                var data = response.data
                swal(
                    data.name,
                    'Your password successfuly chan',
                    'success'
                )
            }).catch(error =>{
                console.log(error)
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors
                }
            })
        } 
    }
  }
</script>

<!--  $(".modal-body #application_no").val(application_no);
                  $(".modal-body #applicant").val(applicant);
                  $(".modal-body #type_id").val(type_id);
                  $(".modal-body #application_id").val(id); -->



                  