<template>
        <div class="container mt-5">
            <section class="animated slideInRight">
               <!--  <div class="row text-left">
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-default">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-file fa-5x my-5 font-weight-bold d-flex "></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Monitoring for Building Permits</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                             <router-link :to="{ name: 'buildingpermits' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-success">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-tasks fa-5x my-5 font-weight-bold d-flex"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Monitoring for Job Order Projects</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <router-link :to="{ name: 'joborders' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                    </div>
                </div> -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">City Building and Architecture Office</h2>
               <!--  <p class="lead grey-text text-center w-responsive mx-auto mb-5">The Automated Monitoring Management for Building Application or “AMoM BA?” is an in-house developed registry system of the City Building and Architecture Office (CBAO) of Baguio City that enables the office personnel and clients to monitor and track  all building permit applications. As the client comes in the office, the “AMoM BA?” system displays in the monitor the status and location of each building permit application received. With this, the system aims to strengthen the “No Contact Policy” to avoid any under the table transaction issues.</p> -->
                <div class="row text-left">
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-default">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-file fa-5x my-5 font-weight-bold d-flex "></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Building Permits</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                             <router-link :to="{ name: 'buildingpermits' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="view overlay rounded z-depth-1-half mb-3">
                            <div class="card-body form bg-success">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <i class="fa fa-tasks fa-5x my-5 font-weight-bold d-flex"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <h2 class="d-flex justify-content-center text-left my-5 font-weight-bold">Job Orders</h2>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <router-link :to="{ name: 'joborders' }">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </router-link>
                        </div>
                        <hr>
                    </div>
                </div>
            </section>
        </div>
</template>

<script>
    export default {
        
    }
</script>
